<h2>Staða viðræðna og skjöl</h2>
<table id="treaty_documents">
	<tr>
		<td class="stada_kafla_info"><!--<img src="/images/stada_kafla_info.png" alt="" width="200" height="100"/>-->
		</td>
		<td colspan="10"><img src="/images/esb_treaty.png" alt=" " width="414" height="102"  border="0" usemap="#Status" />
		
		<map name="Status" id="Status">
		  <area shape="poly" coords="6,88,71,49,79,64,19,102" href="#" alt="Umsókn" title="Umsókn"/>
		  <area shape="poly" coords="35,96,111,47,124,65,63,102" href="#" alt="Upphaf viðræðna" title="Upphaf viðræðna" />
		  <area shape="poly" coords="75,95,133,61,146,75,107,99" href="#" alt="Rýnivinna" title="Rýnivinna" />
		  <area shape="poly" coords="122,92,231,26,242,41,143,100" href="#" alt="Samningsafstaða Íslands" title="Samningsafstaða Íslands" />
		  <area shape="poly" coords="163,92,282,22,290,36,183,101" href="#" alt="Opnun kafla" title="Opnun kafla" />
		  <area shape="poly" coords="310,30,206,88,219,102,318,46" href="#" alt="Lokun kafla" title="Lokun kafla" />
		  <area shape="poly" coords="246,89,304,57,313,71,259,101" href="#" alt="Aðildarsamningur" title="Aðildarsamningur" />
		</map>
		
		</td> 
		<!-- 
		<%# TreatyDocument::TREATY_ARRAY[0][:negotiation_stages].each do |stage| %>
		<td>
			<%#=stage[:name]%>
		</td>-->
		<% #end %>
	</tr>

<% Tag.by_external_id.each do |tag| %>
	<tr>	
		<td class="td_Underline">
			<%#= tag.tag_type == 1 ? "1") ) OBS how to to multinested if with short syntax? %>		
			<a href="#" 
			onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"
			<% if tag.tag_type == 1 %>
				class="chapter_innan"
			<% elsif tag.tag_type == 2 %>
				class="chapter_hluta"
			<% elsif tag.tag_type == 3 %>
				class="chapter_utan"
			<% else %>
				class="chapter_utan" 
			<% end %>	
			>
				<%=tag.external_id%>. <%=tag.name%></a>	
			 <% if logged_in? and current_user.is_admin? %>
				- <a href="#" onclick="showEditStageWindow('<%=tag.external_id%>')">(st)</a>
			 <% end %>
		</td>
		<% TreatyDocument::NEGOTIATION_STAGES.each do |stage| %>			
			<% count = TreatyDocument.tagged_with(make_quoted(tag.name),:match_all=>:true).by_negotiation_status(stage[:id]).count %>
			<% if count > 0 and count < TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS %>
				<td class="merkt<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>" style="background-color:<%= GrayScaleColor.from_fraction(1-(count.to_f/TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS.to_f)).html %>">
			<% elsif count > 0 %>
				<td class="files_max<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>">
			<% else %>
				<td class="merkt<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>">
				<span style="color:#fff">
			<% end %>
				<% if count>0 %>
					<a href="#" onclick="showTreatyDocumentWindow(<%=tag.external_id%>,<%=stage[:id]%>)"><%=count%></a>
				<% else %>
					<%=count%>
				<% end %>
			</span>
		</td>
		<% end %>
		 <td class="tom">&nbsp;</td> 
	</tr>
<% end %>
</table> 
