<table>
	<tr>
		<td>
		</td>
		<td colspan="10"><img src="/images/esb_treaty.png" alt=" " width="414" height="102" /></td> 
		<!-- 
		<%# TreatyDocument::TREATY_ARRAY[0][:negotiation_stages].each do |stage| %>
		<td>
			<%#=stage[:name]%>
		</td>-->
		<% #end %>
	</tr>

<% TreatyDocument::TREATY_ARRAY.each do |chapter| %>
	<tr>	
		<td class="td_Underline">
			<a href="#" onclick="showTreatyDocumentChapterWindow('<%=chapter[:name]%>')"><%=chapter[:id]%>. <%=chapter[:name]%></a>
		</td>
		
		<% chapter[:negotiation_stages].each do |stage| %>
			
			<% count = TreatyDocument.count(:conditions=>"chapter = #{chapter[:id]} AND negotiation_status = #{stage[:id]}") %>
			<% if count > 0 and count < TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS %>
				<td style="background-color:<%= GrayScaleColor.from_fraction(1-(count.to_f/TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS.to_f)).html %>">
			<% elsif count > 0 %>
				<td class="files_max">
			<% else %>
				<td class="merkt">
				<span style="color:#fff">
			<% end %>
				<% if count>0 %>
					<a href="#" onclick="showTreatyDocumentWindow(<%=chapter[:id]%>,<%=stage[:id]%>)"><%=count%></a>
				<% else %>
					<%=count%>
				<% end %>
			</span>
		</td>
		<% end %>
		 <td class="tom">&nbsp;</td> 
	</tr>
<% end %>
</table> 
