<h2>Staða viðræðna og skjöl</h2>
<table id="treaty_documents">
	<tr>
		<td class="stada_kafla_info"><img src="/images/stada_kafla_info.png" alt="" width="200" height="100"/>
		</td>
		<td colspan="10"><img src="/images/esb_treaty.png" alt=" " width="414" height="102" /></td> 
		<!-- 
		<%# TreatyDocument::TREATY_ARRAY[0][:negotiation_stages].each do |stage| %>
		<td>
			<%#=stage[:name]%>
		</td>-->
		<% #end %>
	</tr>

<% Tag.by_external_id.each do |tag| %>
	<tr>	
		<td class="td_Underline">
			<%#= tag.tag_type == 1 ? "1") ) OBS how to to multinested if with short syntax? %>		
			<a href="#" 
			onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"
			<% if tag.tag_type == 1 %>
				class="chapter_innan"
			<% elsif tag.tag_type == 2 %>
				class="chapter_hluta"
			<% elsif tag.tag_type == 3 %>
				class="chapter_utan"
			<% else %>
				class="chapter_innan" 
			<% end %>	
			>
				<%=tag.external_id%>. <%=tag.name%></a>	
			 <% if logged_in? and current_user.is_admin? %>
				- <a href="#" onclick="showEditStageWindow('<%=tag.external_id%>')">(st)</a>
			 <% end %>
		</td>
		<% TreatyDocument::NEGOTIATION_STAGES.each do |stage| %>			
			<% count = TreatyDocument.tagged_with(make_quoted(tag.name),:match_all=>:true).by_negotiation_status(stage[:id]).count %>
			<% if count > 0 and count < TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS %>
				<td class="merkt<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>" style="background-color:<%= GrayScaleColor.from_fraction(1-(count.to_f/TreatyDocument::MAXIMUM_NUMBER_OF_DOCUMENTS.to_f)).html %>">
			<% elsif count > 0 %>
				<td class="files_max<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>">
			<% else %>
				<td class="merkt<%=stage[:id]<=tag.external_stage ? ' stage_box_identifier' : ''%>">
				<span style="color:#fff">
			<% end %>
				<% if count>0 %>
					<a href="#" onclick="showTreatyDocumentWindow(<%=tag.external_id%>,<%=stage[:id]%>)"><%=count%></a>
				<% else %>
					<%=count%>
				<% end %>
			</span>
		</td>
		<% end %>
		 <td class="tom">&nbsp;</td> 
	</tr>
<% end %>
</table> 
