<div class="point" id="<%= question.id %>">

	<!-- Entry box --> 
	<div class="entry_box"> 
		<!-- TODO AOM 220910 send the relevant variables to entry_icons-->
		<%= render :partial => "shared/entry_icons", :locals => {:content => question.content}%> 
		<%= render :partial => "users/pic_48", :locals => {:user => question.user}%> 
		<h5><%= link_to_unless_current h(question.name), question, :title => t('esb.mouseover.question.title') %></h5> 
		
		<span class="entry_profile">
			<%= t('revisions.byline', :author_sentence => question.author_sentence) %> &middot; 
			- <%= t('revisions.added', :time_ago => time_ago(question.created_at)) %>
			<!-- TODO --> <font color="red">- 3 álit (todo)</font> 
			- 
			<% for tag in question.issues %>
		   		<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>"><b><%=tag.name%></b></a>
			<% end %>
		</span> 
		<p>
		<!-- max_length for question, see how comment_content is defined in shared/_javascripts - see also comments/show -->
		<% if revision %>
			<div class="comment_content" id="comment_content_<%= question.id.to_s %>">
				<%= revision.content_diff %>
			</div>
    	<% else %>
			<div class="comment_content" id="comment_content_<%= question.id.to_s %>">
				<%= question.content_html %>
			</div>
		<% end %>
		
		<!-- Edit or delete if there is no answer nor any comments-->		

		<% if logged_in? and question.discussions_count == 0 and !question.answer and (current_user.is_admin? or current_user.id == question.user_id) %>
			<%= link_to t('points.edit.name'), new_question_revision_url(question), :title => t('points.edit.title') %>
			<%= link_to t('menu.briefing.delete.name'), question_path(question), :method => :delete, :confirm => t('menu.briefing.delete.confirm') %>	
		<% end %>
		
	</div>
	
	<!-- Do we need this? aom 230910 --> 
	<%#= link_to h(question.user.login), question.user, :title => t('esb.mouseover.comment.user') %> 
	<!-- Not used -->
	<%# = time_ago(question.created_at) %> 
		
	
	<!-- Comment box - 'Official Reply' box! -->	
	<div class="comment_box_samn"> 
		<img src="img/profile02.gif" border="0" class="comment_profile" alt="" align="left" /> 
		<span class="entry_profile">TODO Samninganefnd - 2 min síðan</span> 
		<p>						
			<%if question.answer %>
				<div class="comment_content" id="comment_content_<%= question.answer.id.to_s %>">
					<%= question.answer %>
				</div>				
			<% else%>
			  	Ekkert svar er til við þessari spurningu eins og er.
			<% end %>
				<%=link_to "Þú ert Admin og mátt Breyta/Svara hér","/questions/edit/#{question.id}" if current_user.is_admin?%>		
		</p> 
	</div> 
				
	<!-- Show More comments--> 
	<div class="comment_box"> 
		<p><a href="#">Sýna 12 athugasemdir í viðbót</a></p> 
	</div> 
				
	<!-- Comment box -->	
		
	<div class="comment_box"> 
	<% @activities = question.activities.active.for_all_users.by_recently_updated :include => :user %>
	<% activity = @activities.first %>
	<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>

	<%#= render :partial => "comments_questions/show", :locals => {:comment => @comments.last} if @comments.length > 1 %>
	
	<!-- TODO Hve mörg komment/umræður ?? -->
	<% for activity in @activities %>
		<%= render :partial => "activities/show_questions", :locals => {:activity => activity, :suffix => "_noself"} %>
	<% end %>
	</div> 
								
	<!-- Answer box -->	
	<div class="answer_box"> 
		<p><input type="text" size="60" value="Taka þátt í umræðunni" /> <input type="submit" value="Senda" /></p> 
	</div> 

</div>





<!-- commented out 14.09 2010 aom 
<div class="point" id="<%= question.id %>">
	<div class="point_name">
	<%= link_to_unless_current h(question.content), question %>
	</div>
	<div class="point_byline">
		<%= t('revisions.byline', :author_sentence => question.author_sentence) %> &middot; <%= t('revisions.added', :time_ago => time_ago(question.created_at)) %>
		<span class="point_edit">
			<% if question.discussions_count == 0 %>
				<%= link_to t('comments.discuss.name'), discussions_question_url(question) %>
			<% else %>
				<%= link_to t('comments.discussions.name', :count => question.discussions_count), discussions_question_url(question) %>
			<% end %>
			or 
			<%= link_to t('points.edit.name'), new_question_revision_url(question), :title => t('points.edit.title') %>
		</span>
	</div>
	<div class="point_content">
	<% if revision %>
		<%= revision.content_diff %>
    <% else %>
		<%= question.content_html %>
	<% end %>
	</div>
</div> 
-->






				
							

					
					

					
					
				
