
			<% if logged_in? and params[:action] == 'discussions' %>
				<p>
				<%= render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new } %>				
			<% end %>
			
			<%= will_paginate(@activities) %>
			<p>
			<div id="activities">
			<% for activity in @activities %>
				<%= render :partial => "activities/show_questions", :locals => {:activity => activity, :suffix => "_noself" }%>
			<% end %>
			</div>
			<p>
			<%= will_paginate(@activities) %>
			
			<%= render :partial => "revisions/revisions" %>
