<h2>Svara spurningu</h2>

<% form_for(@question) do |f| %>
<%# form_remote_for comment, :url => activity_comments_path(activity), :loading=>"Form.Element.disable('comment-form-submit')" do |f| %>		
		
  <%= f.error_messages %>

  <p>
    <%= f.label "Spurningin er: " %><i><%= @question.name%></i><br />
	 <%= f.text_area :answer, :maxlength => 500, :class => 'idleField_big' %>
    <%#= f.text_area :answer, :rows=>10 %>
  </p>
   <p>
    <%= f.submit "Vista svar" %>
  </p>
<% end %>

<%= link_to 'Skoða', @question %> |
<%= link_to 'Til baka', questions_path %>



