<h1>Svara spurningu</h1>

<% form_for(@question) do |f| %>
<%# form_remote_for comment, :url => activity_comments_path(activity), :loading=>"Form.Element.disable('comment-form-submit')" do |f| %>		
		
  <%= f.error_messages %>

  <p>
    <%= f.label "Svar við " %><i><%= @question.name%></i><br />
	 <%= f.text_area :answer, :maxlength => 500, :class => 'idleField_big' %>
    <%#= f.text_area :answer, :rows=>10 %>
  </p>
   <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>



