	<% form_for :question, :url => "/questions/create", :html=>{:id=>"question_form"}  do |f| %>
  		<%= f.error_messages :header_message => t('points.new.errors.header_message'), :message => t('points.new.errors.message') %>
	
		<h2><%= t('esb.question.send_long') %></h2>	
		<div class="description"><%= t('esb.question.check') %></div>	
		<h3><%= t('esb.question.what') %> <span class="star">*</span></h3>			
						
		<h4><%= t('document.revision.new.name.label')%><br/></h4>
   		<%= f.text_field :name, :size => 60, :maxlength => 60 %><br>
		
		<br />

		<h4><%= t('esb.priority.tag') %> <span class="star">*</span></h4>
		<div class="addContent_kaflar">
			<b><%= t('esb.tags.notin') %></b><br />
			<% Tag.find(:all, :conditions=>"tag_type = 3", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/>  <span class="Chapter_name"><%=tag.name%><br /></span>	
			<% end %>			
		</div>
		<div class="addContent_kaflar">
			<b><%= t('esb.tags.partly') %></b><br />
			<% Tag.find(:all, :conditions=>"tag_type = 2", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/>  <span class="Chapter_name"><%=tag.name%><br /></span>	
			<% end %>			
		</div>
		<div class="addContent_kaflar">
			<b><%= t('esb.tags.within') %></b><br />
				<% Tag.find(:all, :conditions=>"tag_type = 1", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/>  <span class="Chapter_name"><%=tag.name%><br />	</span>
			<% end %>			
		</div>	
		<div class="addContent_kaflar annad">
			<b>Annað</b><br />
				<% Tag.find(:all, :conditions=>"tag_type = 4", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/>  <span class="Chapter_name"><%=tag.name%><br />	</span>
			<% end %>			
		</div>	
		<br>
		<b><%= t('esb.priority.description') %><span class="star">*</span></b>  (<span id="pointContentDown" class="">487</span> stafir eftir) <!-- <span class="star">*</span></div> -->
	    
		<div class="field_box">
	    <%= f.text_area :content, :maxlength => 500, :id => 'pointContent', :button => 'submit', :class => 'idleField_big' %>
		</div>
		
		
			<br />
			<!-- <b><%#= t('esb.question.your_question') %> <span class="star">*</span></b><br />-->
			<%#= f.text_area :content, :rows => 18, :cols => 70, :maxlength => 500 %>
			
			<!-- <div class="field form_header">
	    		<div class="field_label form_header"><%#= t('esb.question.question') %> <span id="pointContentDown"></span> <%#= t('characters_left')%></div>
				<div class="field_box">
	    			<%#= f.text_area :content, :id => 'pointContent', :button => 'submit', :rows => 7, :cols => 70, :maxLength => 500 %><br /><br />
				</div>
			</div> --> 
		
			<!-- TODO AOM 210910
			<b>Settu inn vefslóð sem tengist spurningunni:</b>
			<input type="text" size="50" name="" value="http://" /><br />
			<p>Vefslóðin er valkvæm, þú þarft ekki að setja hana inn <br /><br />					
			</p> -->
             <% if current_facebook_user %>
               Senda spurningu á Facebook líka? <%= check_box_tag "send_to_facebook", "yes", false %><br>
			<% end %>
			<%= f.submit "Senda spurningu", :id => "submit", :class => "yellow_button" %>
			<div id="errors" class="error"><%= f.error_messages %></div>
		<% end %>		


<style type="text/css">
label.error { float: right; color: red; padding-left: .5em; vertical-align: top; }
</style>

<script type="text/javascript"> 
jQuery().ready(function() {	
	// validate signup form on keyup and submit
	jQuery("#question_form").validate({
		rules: {
			'question[name]': {
				required: true,
				minlength: 5,
				maxlength: 60,
			},
			custom_tag: "required",
			'question[content]': {
				required: true,
				minlength: 10,
				maxlength: 1000,
			},

		},
		messages: {
			custom_tag: {
				required: "Veldu flokk",
			},
			'question[name]': {
				required: "Settu inn titil á spurningu",
				minlength: "Minnst 5 bókstafir",
				maxlength: "Mest 60 bókstafir"
			},
			'question[content]': {
				required: "Settu inn spurningu",
				minlength: "Minnst 10 bókstafir",
				maxlength: "Mest 500 bókstafir"
			}
		}
	});	
});
</script> 		
		



