<%if @question.status == 'abusive'%>
Þessari spurningu hefur verið eytt.
<% else %>
<h4><%= @question.name %></h4>
	
<div class="entry_box"> 
		<!-- TODO AOM 220910 send the relevant variables to entry_icons-->
		<%= render :partial => "shared/entry_icons", :locals => {:content => @question.content, :action_item=>@question}%> 
		<%= render :partial => "users/pic_48", :locals => {:user => @question.user}%> 
			
		<span class="entry_profile">
			<%= t('revisions.byline', :author_sentence => @question.author_sentence) %>
			- <%= t('revisions.added', :time_ago => time_ago(@question.created_at)) %>
		 
			<% for tag in @question.issues %>
		   	-	<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>"><%=tag.name%></a>
			<% end %>
		</span> 
		
		<!-- max_length for question, see how comment_content is defined in shared/_javascripts - see also comments/show -->
		<% if @revision %>
			<div class="comment_content" id="comment_content_<%= @question.id.to_s %>">
				<%= @revision.content_diff %>
			</div>
    	<% else %>
			<div class="comment_content" id="comment_content_<%= @question.id.to_s %>">
				<%= @question.content_html %>
			</div>
		<% end %>

		<% if logged_in? and ((@question.discussions_count == 0 and !@question.answer and current_user.id == @question.user_id) or current_user.is_admin?) %>
			<%= link_to t('menu.briefing.delete.name'), question_path(@question), :method => :delete, :confirm => t('menu.briefing.delete.confirm') %>
		<% end %>
</div>	
<div id="flagged_question_info_<%=@question.id%>"><%=render :partial=>"questions/flagged", :locals=>{:question=>@question}-%></div>

<!-- Comment box - 'Official Reply' box! -->	
<%= render :partial => "questions/show_answer", :locals => {:question => @question, :suffix => "_noself"} %>

<div id="activities">
	<% @activities = @question.activities.active.for_all_users.by_recently_updated :include => :user %>
	<% activity = @activities.first %>
	<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>
	
	<% for activity in @question.activities.active.by_recently_created.find(:all, :limit => 10) %>
			<%= render :partial => "activities/show_questions", :locals => {:activity => activity, :suffix => "_noself", :all => "1" }%>
	<% end %>
</div>

<meta name="title" content="<%=@question.name%>" />
<meta name="description" content="<%=@question.content%>" />
<link rel="image_src" href="http://<%=request.host.downcase%>/images/logo_facebook_share.gif" />
<% end %>