<html>
<head>
	<title></title>
	<style type="text/css">
		.field {
			margin-bottom: 20px;
		}
		body {
			margin: 20px;
		}
	</style>
</head>
<body>
<%= flash_div :warning, :notice, :error %>
<h1><%= tr("Welcome to Open Active Democracy", "view/install/index")%></h1>

<table border="0" cellspacing="0" cellpadding="0">
	
	<tr><td valign="top" style="padding-left: 20px;">

		<%= form_for(@government, :url => { :controller => "install", :action => "create"}) do |f| %>

		  <%= f.error_messages %>

			<table border="0" cellspacing="0" cellpadding="0">
		
				<tr><td valign="top">

					<div class="field">
						<div class="field_label">
							<%= tr("Name of website", "view/install/index")%>
						</div>

						<div class="field_box">
				  		<%= f.text_field :name, :size => 40, :maxlength => 60 %>
						</div>
					</div>
	
					<div class="field">
						<div class="field_label">
							<%= tr("What are you running?", "view/install/index")%>
						</div>
						<div class="field_box">
				  		<%= f.text_field :target, :size => 40, :maxlength => 30 %>
						</div>
					</div>	
							
					<div class="field">
						<div class="field_label">
							Language:
							<%= f.collection_select :language_code, [], :first, :last %>
						</div>
					</div>
			
					<div class="field">
						<div class="field_label">
							<%= tr("Administrator Name", "view/install/index")%>
						</div>
						<div class="field_box">
						<%= f.text_field :admin_name, :size => 40, :maxlength => 60 %>
						</div>
					</div>

					<div class="field">
						<div class="field_label">
							<%= tr("Administrator's public email address", "view/install/index")%>
						</div>
						<div class="field_box">
						<%= f.text_field :admin_email, :size => 40, :maxlength => 100 %>
						</div>
					</div>
			
				</td></tr>
			</table>
		    <%= f.submit tr("Save Settings", "view/install/index"), :class => "yellow_button" %>
		<% end %>

	</td>
	</tr>
</table>
</body>
</html>