<table border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td valign="top" class="top_scale">
		<%= render :partial => "users/pic", :locals => {:user => ad.user}%>
	</td>

	<td valign="top" class="left_scale8">
		<%= tr("{user_name} asks you to consider {priority_name}", "view/ads/_show", :user_name => link_to(ad.user.name, ad.user), :priority_name => link_to(ad.priority.name, ad.priority))%>
		<% if ad.has_content? %>
		<div class="notification_show_message">
		"<%= h(ad.content) %>"<span class="show_all_ads"></span>
		</div>
		<% end %>

		<div class="notification_show_footer">
			<span id="priority_<%= ad.priority.id %>_button_small">

					<span class="priority_add" id="priority_add_<%= ad.priority.id %>">
						<%= link_to tr("endorse", "view/ads/_show"), endorse_priority_path(ad.priority, :referral_id => ad.user, :region => "ad_top", :value => 1, :ad_id => ad),
                        :method => :post,
						            :remote=>true,
                        'data-disable-with' => escape_t(tr("Endorsing","Ajax")),
                        'data-loader-name' => "horizontal_small",
						            :class => "priority_add_link", :title => tr("I support this, add it to my priority list", "view/ads/_show") %>		
					</span>
					<span class="endorse_or"><%= tr("OR", "view/ads/_show") %></span>
					<span class="priority_add" id="priority_add_<%= ad.priority.id %>">
						<%= link_to tr("oppose", "view/ads/_show"), endorse_priority_path(ad.priority, :referral_id => ad.user, :region => "ad_top", :value => -1, :ad_id => ad),
                        :method => :post,
                        :remote=>true,
                        'data-disable-with' => escape_t(tr("Endorsing","Ajax")),
                        'data-loader-name' => "horizontal_small",
                        'data-disable-with' => escape_t(tr("Opposing","Ajax")),
                        'data-loader-name' => "horizontal_small",
						            :class => "priority_add_link", :title => tr("I oppose this, and want to add my opposition to my priority list.", "view/ads/_show") %>		
					</span>	

			</span>
			
			<% unless ad.new_record? %>

			<span class="tag_button tag_scale" id="notification_show_<%= ad.priority.id %>_skip">
				<%= link_to tr("Skip", "view/ads/_show"), skip_priority_ad_path(ad.priority,ad), 
                    :method => :post,
                    :remote=>true,
                    'data-disable-with' => escape_t(tr("Skipping","Ajax")),
                    'data-loader-name' => "horizontal_small",
				            :class => "priority_add_link" %>		
			</span>

			<% end %>
            <br>
			<%= render :partial => "priorities/endorsement_count", :locals => {:priority => ad.priority }%>
			
		</div>
		
	</td>
	</tr>
</table>

