<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>
<p>
<%= tr("New ad help BLURB", "view/ads/new")%>
<p>
<%= form_for(@ad, :url => priority_ads_path(@priority)) do |f| %>

	<%= f.error_messages :header_message => tr("There was a problem creating your ad", "view/ads/new") %>

	<div class="field">
		<div class="field_label">
			<%= tr("Your message to go underneath the link to the priority:", "view/ads/new")%>
		</div>
		<div class="field_box">
    		<%= f.text_field :content, :size => 50, :maxlength => 90, :id => "ad_text" %>
		</div>
	</div>

	<div class="field">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td>
		    <%= tr("Show to", "view/ads/new")%>
			</td><td valign="top" style="padding-left: 3px;">
		    <%= f.text_field :show_ads_count, :size => 3 %>
			</td><td style="padding-left: 3px;">
			<%= tr("members and spend", "view/ads/new")%>
			</td><td valign="top" style="padding-left: 3px;">
		    <%= f.text_field :cost, :size => 1 %>
			</td><td>
			<%= current_government.currency_short_name %>
			</td><td valign="top" style="padding-top:3px; padding-left: 5px;">
			= <span id="ad_per_user_cost"><%= render :partial => "ads/per_user_cost", :locals => {:ad => @ad} %></span>
		</td></tr>
	</table>
	</div>
	<div class="field">
		<%= tr("At this price, your ad will be", "view/ads/new")%>
		<span id="ad_ranking"><%= render :partial => "ads/ranking", :locals => {:ad => @ad} %></span>
	</div>
	<%= f.submit tr("Save and publish your Ad", "view/ads/new"), :id => "submit", :class => "yellow_button" %>
<% end %>
<% if false %>
<script type="text/javascript">
//<![CDATA[
$('#new_ad').delayedObserver(function() {
    jQuery.ajax({type:'post', data: $(this).serialize(), url:'<%=preview_priority_ads_url(@priority)%>'})
    // perform AJAX call ...
}, 0.5);
//]]>
</script>
<% end %>
<p>