<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>

<%= tr("<p><b>Buy an ad for this priority</b>.  You can spend some of your social points and put this priority with your message at the top of all the pages on {government_name}.  Whichever ad has the most<span class=\"pc\">{{ government.currency_short_name }}</span> spent per member is shown first until the member responds, the more you spend, the faster it's seen.  Ads are only shown to logged in members who have not already endorsed or opposed the priority, so your<span class=\"pc\">sp</span> is not wasted.</p>", "view/ads/new", :government_name => tr(current_government.name,"Name from database"))%>
<%= tr("<p>You cannot buy<span class=\"pc\">sp</span> with real money, but you can earn it in a variety of ways, like <a href=\"/network/find\">inviting people to join</a>, and writing helpful <a href=\"../points/new\">talking points</a>.  <a href=\"/about/faq#pc\">Details here</a>.</p>", "view/ads/new")%>
<p>
<%= form_for(@ad, :url => priority_ads_path(@priority)) do |f| %>

	<%= f.error_messages :header_message => tr("There was a problem creating your ad", "view/ads/new") %>

	<div class="field">
		<div class="field_label">
			<%= tr("Your message to go underneath the link to the priority:", "view/ads/new")%>
		</div>
		<div class="field_box">
    		<%= f.text_field :content, :size => 50, :maxlength => 90, :id => "ad_text" %>
		</div>
	</div>

	<div class="field">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td>
		    <%= tr("Show to", "view/ads/new")%>
			</td><td valign="top" class="left_scale">
		    <%= f.text_field :show_ads_count, :size => 3 %>
			</td><td class="left_scale">
			<%= tr("members and spend", "view/ads/new")%>
			</td><td valign="top" class="left_scale">
		    <%= f.text_field :cost, :size => 1 %>
			</td><td>
			<%= current_government.currency_short_name %>
			</td><td valign="top" class="per_user_cost">
			= <span id="ad_per_user_cost"><%= render :partial => "ads/per_user_cost", :locals => {:ad => @ad} %></span>
		</td></tr>
	</table>
	</div>
	<div class="field">
		<%= tr("At this price, your ad will be", "view/ads/new")%>
		<span id="ad_ranking"><%= render :partial => "ads/ranking", :locals => {:ad => @ad} %></span>
	</div>
	<%= f.submit tr("Save and publish your Ad", "view/ads/new"), :id => "submit", :class => "yellow_button" %>
<% end %>
<br>
<h2><%=tr("Ad Preview","ad/new")%></h2>
<br>
<div id="ad_preview">
</div>
<script type="text/javascript">
//<![CDATA[
function sendForm() {
  jQuery.ajax({type:'post', data: jQuery('form.new_ad').serialize(), url:'<%=preview_priority_ads_url(@priority)%>'})  
}

$('#ad_text').delayedObserver(function() {
  sendForm();
}, 0.5);

$('#ad_show_ads_count').delayedObserver(function() {
  sendForm();
}, 0.5);

$('#ad_cost').delayedObserver(function() {
  sendForm();
}, 0.5);
//]]>
</script>
<p>
