<%= form_for :session, :remote=>true, 
              'data-disable-with' => escape_t(tr("Sending","Ajax")), :url => session_path do |f| -%>
	<div class="field">
		<div class="field_label">
			<%= tr("Email address", "view/sessions/_form")%>
		</div>
		<div class="field_box" style="margin-bottom: 10px;">
			<%= text_field_tag :email %>
		</div>
	</div>
	
	<div class="field">
		<div class="field_label">
			<%= tr("Password", "view/sessions/_form")%>
		</div>
		<div class="field_box" style="margin-bottom: 10px;">
			<%= password_field_tag :password %>
		</div>
	</div>	
	<%= submit_tag tr("Sign in", "view/sessions/_form"), :class => "yellow_button" %>
<% end -%>
