Síur:<br>
<br>
<%=link_to "Spurningar og svör", "/velja_kafla/#{@tag.name}?controller_name=questions"%><br>
<%=link_to "Umræður", "/velja_kafla/#{@tag.name}?controller_name=priorities"%><br>
<%=link_to "Erindi", "/velja_kafla/#{@tag.name}?controller_name=documents"%><br>
<br>
Fundafrásagnir:<br>
<br>
<% TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_1").latest_three.each do |document| -%>
	<%= link_to document.title, document.url, :target => "_blank" %><br>
<% end %>
<br>
Allir kaflar:<br>
<% TreatyDocument.find(:all,:conditions=>"chapter = 36").each do |document| -%>
	<%= link_to document.title, document.url, :target => "_blank" %><br>
<% end %>
<br>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
        <TITLE></TITLE>
        <META NAME="GENERATOR" CONTENT="OpenOffice.org 3.2  (Unix)">
        <META NAME="CREATED" CONTENT="20101021;15524700">
        <META NAME="CHANGED" CONTENT="20101021;15554200">
        <STYLE TYPE="text/css">
        <!-- @page {
            size: landscape;
            margin: 2cm
        }
        
        P {
            margin-bottom: 0.21cm
        }
        
        P.western {
            so-language: is-IS
        }
        
        A:link {
            so-language: zxx
        }
        -->
        </STYLE>
    </HEAD>
    <BODY LANG="is-IS" DIR="LTR">
        <TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
            <COL WIDTH=128*><COL WIDTH=128*>
            <TR VALIGN=TOP>
                <TD WIDTH=50%>
                    <P CLASS="western" STYLE="widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Kafli
                                                    1: &nbsp;Frjálst vöruflæði - KS</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">KS:;
                                                    Viðskipti með vörur eiga að ganga hindranalaust fyrir sig á
                                                    innri markaði ESB og Evrópska efnahagssvæðisins (EES).
                                                    Uppistaðan í þessum kafla ESB löggjafarinnar er hin samræmda
                                                    regluskrá ESB um framleiddar vörur, sem skylt er að innleiða í
                                                    löggjöf umsóknarríkisins. Gerðar eru kröfur á að
                                                    umsóknarríki sýni fram á að það búi yfir nauðsynlegum
                                                    stjórnsýslulegum styrk til að gera viðvart um hömlur gegn
                                                    frjálsum vöruviðskiptum og til að hrinda í framkvæmd
                                                    fylgiaðgerðum á borð við staðla, uppruna og gæðavottun,
                                                    löggildingu mælitækja, markaðseftirlit og fleira.</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KS: 
                                                    Spurningar og svör </SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(sía)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KS: 
                                                    Umræður </SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(sía)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KS: 
                                                    Erindi </SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(sía)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KH:</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/ees1">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <B><SPAN STYLE="background: transparent">Samningahópur</SPAN></B>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(tengill
                                                    á síðu) x</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KH:</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://evropa.utanrikisraduneyti.is/media/evropa/samningahopar/EES_I.pdf">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <B><SPAN STYLE="background: transparent">Erindisbréf
                                                        samningahóps</SPAN></B>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(pdf)
                                                    x</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <BR>
                    </P>
                </TD>
                <TD WIDTH=50%>
                    <P CLASS="western" STYLE="margin-bottom: 0cm; widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Skjöl
                                                    frá samninganefnd</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(skjöl
                                                    veidd skv. flokkunarkerfi)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Fundafrásagnir
                                                    X</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">KH:
                                                    Sækja skröpun á fundarfrásögnum þessa kafla frá</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5846">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5846</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"> &nbsp;</SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Birta
                                                    tengla í allar fundarfrásagnir (PDF) þess samningahóps sem
                                                    kafli tilheyrir. Sýna tengla í nýjustu 3 og síðan í</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5846">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5846</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">eða
                                                    sambærilegt fyrir hvern
                                                    samningahóp.</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <A HREF="http://evropa.utanrikisraduneyti.is/media/evropa/samningahopar/EES_I_Fundargerd_-_2.PDF">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Fundarfrásögn2.pdf</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <A HREF="http://evropa.utanrikisraduneyti.is/media/evropa/samningahopar/EES_I_Fundargerd_-_1.PDF">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Fundarfrásögn1.pdf</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                                    <BR>
                                                </SPAN>
                                            </SPAN>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5846">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Sjá
                                                        fleiri fundarfrásagnir</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(tengill)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                    </P>
                    <P CLASS="western" STYLE="margin-bottom: 0cm; widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Gögn
                                                    vegna rýnivinnu</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Fundadagskrá
                                                    - PDF - UTN</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <I><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Niðurstaða
                                                    rýnivinnu um kafla.pdf - Kemur síðar</SPAN></SPAN></I>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <BR>
                    </P>
                    <P CLASS="western" STYLE="margin-bottom: 0cm; widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <I><B><SPAN STYLE="background: transparent">Samningsafstaða</SPAN></B></I>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <I><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Kemur
                                                    síðar</SPAN></SPAN></I>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <I><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Samningsafstaða
                                                    um frjálst vf.pdf - Kemur síðar</SPAN></SPAN></I>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <BR>
                    </P>
                    <P CLASS="western" STYLE="margin-bottom: 0cm; widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Skýrslur
                                                    - Auðunn útskýrir</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Skýrsla8.pdf
                                                    <BR>
                                                    Skýrsla7.pdf
                                                    <BR>
                                                </SPAN>
                                            </SPAN>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/hlidarval/malaflokkar-vidraedna/kaflar/nr/5810">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Sjá
                                                        fleiri skýrslur</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=2 STYLE="font-size: 9pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(tengill
                                                    esb.utn.is)</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <BR>
                    </P>
                    <P CLASS="western" STYLE="margin-bottom: 0cm; widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Fréttatilkynningar</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Skrap:
                                                    Bara birta það sem er merkt þessum kafla og sem 
                                                    fréttatilkynning af </SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/hlidarval/frettir/">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/hlidarval/frettir/</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">sem
                                                    tengil á viðkomandi frétt</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: transparent">Önnur
                                                    lykilskjöl</SPAN></B></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#666666">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">(tenglar
                                                    beint í skjölin af esb.utn.is – þessi skjöl birtast hjá 
                                                    öllum köflum) </SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Skrapa</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/hlidarval/skjol-og-tenglar/skjol-fra-esb/">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/hlidarval/skjol-og-tenglar/skjol-fra-esb/</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">og</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/hlidarval/skjol-og-tenglar/skjol-fra-isl/">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/hlidarval/skjol-og-tenglar/skjol-fra-isl/</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">og
                                                    birta tengla í allar síður sem eru merktar Allir kaflar (svipað
                                                    og hér að neðan).</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://www.utanrikisraduneyti.is/media/esb/27072010-Iceland-statement-isl.pdf">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Skrifleg
                                                        yfirlýsing Íslands</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; font-weight: normal; widows: 2; orphans: 2; text-decoration: none">
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <FONT SIZE=3>
                                    <I><SPAN STYLE="background: transparent">Samningsrammi
                                            ESB</SPAN></I>
                                </FONT>
                            </FONT>
                        </FONT>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://www.utanrikisraduneyti.is/media/esb/alyktun-evroputhingsins-7-juli-2010-lok.pdf">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Ályktun
                                                        Leiðtogaráðs ESB</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://www.utanrikisraduneyti.is/media/esb/Alit_ESB.pdf">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Álit
                                                        framkvæmdastjórnar ESB</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://esb.utn.is/umsokn/svor-islands-vid-spurningalista-esb/">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Spurningar
                                                        ESB og svör Íslands</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://www.althingi.is/altext/137/s/0283.html">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Ákvörðun
                                                        Alþingis</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                    </P>
                    <P CLASS="western" STYLE="margin-left: 3.81cm; margin-bottom: 0cm; widows: 2; orphans: 2">
                        <A HREF="http://www.althingi.is/altext/137/s/0249.html">
                            <FONT COLOR="#0000ff">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Álit
                                                        meirihluta utanríkismálanefndar</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                    </P>
                    <P CLASS="western" STYLE="widows: 2; orphans: 2">
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=3>
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">Öll
                                                    skjöl og tenglar</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent"></SPAN></SPAN></SPAN>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <FONT COLOR="#000000">
                            <SPAN STYLE="text-decoration: none">
                                <FONT FACE="Times New Roman">
                                    <FONT SIZE=4 STYLE="font-size: 16pt">
                                        <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">-</SPAN></SPAN></SPAN>
                                    </FONT>
                                </FONT>
                            </SPAN>
                        </FONT>
                        <A HREF="http://esb.utn.is/hlidarval/skjol-og-tenglar/">
                            <FONT COLOR="#000099">
                                <FONT FACE="Arial">
                                    <FONT SIZE=2 STYLE="font-size: 11pt">
                                        <SPAN STYLE="font-style: normal">
                                            <U>
                                                <SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">http://esb.utn.is/hlidarval/skjol-og-tenglar/</SPAN></SPAN>
                                            </U>
                                        </SPAN>
                                    </FONT>
                                </FONT>
                            </FONT>
                        </A>
                        <FONT COLOR="#000000">
                            <FONT FACE="Times New Roman">
                                <SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal"><SPAN STYLE="background: transparent">
                                            <BR>
                                            <BR>
                                            <BR>
                                        </SPAN>
                                    </SPAN>
                                </SPAN>
                            </FONT>
                        </FONT>
                        <BR>
                    </P>
                </TD>
            </TR>
        </TABLE>
        <P CLASS="western" STYLE="margin-bottom: 0cm">
            <BR>
        </P>
    </BODY>
</HTML>
