<html>
<body>

<div class="treaty_docs_popup">
<h2>Kafli 11:  Landbúnaðar- og byggðastefna</h2>

<div class="left">
<p>
<h3>Um kaflann</h3>


Löggjöf ESB um landbúnaðarmál er umfangsmikil og tekur til fjölmargra mismunandi þátta. Markmið landbúnaðastefnunnar eru að tryggja afkomu bænda, tryggja neytendum nægt framboð af góðri vöru á hagstæðu verði og stuðla að áframhaldandi búsetu á landsbyggðinni. Löggjöfinni má skipta upp í sex meginsvið. Í fyrsta lagi er yfirlitslöggjöf (Horizontal Issues), sem tekur til grundvallaratriða og ákvæða sem varða m.a. beinan stuðning og óbeinan í öðru formi styrkja, innlendan stuðning og greiðslustofnun (Paying Agency). Annar þáttur fjallar um skipulag hins sameiginlega markaðar (Common Market Organisation) varðandi fjölmargar framleiðsluvörur, s.s. mjólk, kjöt, korn og vín. Sá þriðji varðar landsbyggðaþróun(Rural Development). Þvínæst koma gæðamarkmið(Quality Policy), lífræn ræktun (Organic Farming) og loks fjármögnun landbúnaðarstefnunnar (Financing of CAP). Ýmis sérákvæði gilda um einstök ríki og svæði, ásamt því sem nákvæm útfærsla og framkvæmd stefnunnar er í höndum ríkjanna sjálfra. Sérstaklega má þar nefna aðgerðir er varða almennan stuðning við búsetu í dreifbýli.
</p>

<h3>Af umræðuvef</h3>
<ul>
<li><%=link_to "Spurningar og svör", "/velja_kafla/#{@tag.name}?controller_name=questions"%></li>
<li><%=link_to "Umræður", "/velja_kafla/#{@tag.name}?controller_name=priorities"%></li>
<li><%=link_to "Erindi", "/velja_kafla/#{@tag.name}?controller_name=documents"%></li>
</ul>

<h3>Um samningahópinn</h3>
<ul>
<li><a href="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/landbunadarmal">Upplýsingar um samningahóp</a></li>
<li><a href="http://evropa.utanrikisraduneyti.is/media/evropa/samningahopar/Landbunadur.pdf">Erindisbréf samningahóps</a> - PDF</li> 
</ul>


</div>


<div class="right">
<h3>Skjöl frá samninganefnd</h3>
<h4>Fundafrásagnir</h4>
<ul>
<% TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_1").latest_three.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %> - PDF</li>
<% end %>
<li><a href="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/fundarfrasagnir/nr/5851">Fleiri fundafrásagnir</a></li>
</ul>

<h4>Gögn vegna rýnivinnu</h4>
<ul>
<% TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_4").latest_three.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>
<ul>
<li><a href="http://www.utanrikisraduneyti.is/media/screening/Timaaaetlun-rynifunda-Islands-IS.pdf">Fundadagskrá</a> - PDF</li>
<li>Niðurstaða um rýnivinnu - Kemur síðar</li>
</ul>

<% docs = TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_3").latest_three%>
<% unless false and docs.empty? %>
<h4>Samningsafstaða</h4>
<ul>
<% docs.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
<li>Kemur síðar</li>
</ul>
<% end %>
<ul>
</ul>

<h4>Skýrslur</h4>
<ul>
<li><a href="http://esb.utn.is/hlidarval/malaflokkar-vidraedna/kaflar/nr/5810">Sjá allar skýrslur</a></li>
</ul>

<% docs = TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_5").latest_three%>
<% unless false and docs.empty? %>
<h4>Fréttatilkynningar </h4>
<ul>
<% docs.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
<li>Kemur síðar</li>
</ul>
<% end %>

<h4>Önnur lykilskjöl tengd öllum köflum</h4>
<ul>
<li><a href="http://www.utanrikisraduneyti.is/media/esb/27072010-Iceland-statement-isl.pdf">Almenn afstaða Íslands sem lögð var fram á ríkjaráðstefnunni 27. júlí 2010</a> - PDF</li>
<li><a href="http://www.utanrikisraduneyti.is/media/esb/27072010-ESB-statement-isl.pdf">Almenn afstaða Evrópusambandsins sem lögð var fram á ríkjaráðstefnunni 27. júlí 2010</a> - PDF</li>
<li><a href="http://www.utanrikisraduneyti.is/media/esb/ESB-greiningarskyrsla.pdf"> ESB greiningarskýrsla - fylgiskjal við orðsendingu Framkvæmdarstjórnarinnar til Evrópuþingsins og Evrópuráðsins</a> - PDF</li>
<li><a href="http://esb.utn.is/hlidarval/skjol-og-tenglar/">Öll skjöl og tenglar</a></li>
</ul>


<!--
<ul>
<% TreatyDocument.find(:all,:conditions=>"chapter = 36").each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
<li><a href="http://esb.utn.is/hlidarval/skjol-og-tenglar/">Öll skjöl og tenglar</a></li>
</ul>
-->

</div>


</div>
</body>
</html>