<html>
<body>

<div class="treaty_docs_popup">
<h2>Kafli 1:  Frjálst vöruflæði</h2>

<div class="left">
<p>
Viðskipti með vörur eiga að ganga hindranalaust fyrir sig á innri markaði ESB og Evrópska efnahagssvæðisins (EES). Uppistaðan í þessum kafla ESB löggjafarinnar er hin samræmda regluskrá ESB um framleiddar vörur, sem skylt er að innleiða í löggjöf umsóknarríkisins. Gerðar eru kröfur á að umsóknarríki sýni fram á að það búi yfir nauðsynlegum stjórnsýslulegum styrk til að gera viðvart um hömlur gegn frjálsum vöruviðskiptum og til að hrinda í framkvæmd fylgiaðgerðum á borð við staðla, uppruna og gæðavottun, löggildingu mælitækja, markaðseftirlit og fleira. 
</p>

<h4>Af umræðuvef</h4>
<ul>
<li><%=link_to "Spurningar og svör", "/velja_kafla/#{@tag.name}?controller_name=questions"%></li>
<li><%=link_to "Umræður", "/velja_kafla/#{@tag.name}?controller_name=priorities"%></li>
<li><%=link_to "Erindi", "/velja_kafla/#{@tag.name}?controller_name=documents"%></li>
</ul>

<br />
<ul>
<li><a href="http://esb.utn.is/samninganefnd-islands-og-samningahopar/samningahopar/ees1">Upplýsingar um samningahóp</a></li>
<li><a href="http://evropa.utanrikisraduneyti.is/media/evropa/samningahopar/EES_I.pdf">Erindisbréf samningahóps</a></li>
</ul>


</div>


<div class="right">
<h3>Skjöl frá samninganefnd</h3>
<h4>Fundafrásagnir</h4>



<ul>
<% TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_1").latest_three.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>

<h4>Gögn vegna rýnivinnu</h4>
<ul>
<% TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_4").latest_three.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>
<ul>
<li>Fundadagskrá - Kemur síðar</li>
<li>Niðurstaða um rýnivinnu - Kemur síðar</li>
</ul>

<% docs = TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_3").latest_three%>
<% unless false and docs.empty? %>
<h4>Samningsafstaða</h4>
<ul>
<% docs.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>
<% end %>
<ul>
<li>Kemur síðar</li>
</ul>

<h4>Skýrslur</h4>
<ul>
<li><a href="http://esb.utn.is/hlidarval/malaflokkar-vidraedna/kaflar/nr/5810">Sjá allar skýrslur</a></li>
</ul>

<% docs = TreatyDocument.tagged_with(@tag.name,:match_all=>:true).by_category("1_5").latest_three%>
<% unless false and docs.empty? %>
<h4>Fréttatilkynningar </h4>
<ul>
<% docs.each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
</ul>
<% end %>

<h4>Allir kaflar</h4>
<b>Óljóst</b>

<ul>
<% TreatyDocument.find(:all,:conditions=>"chapter = 36").each do |document| -%>
	<li><%= link_to document.title, document.url, :target => "_blank" %></li>
<% end %>
<li><a href="http://esb.utn.is/hlidarval/skjol-og-tenglar/">Öll skjöl og tenglar</a></li>
</ul>

</div>


</div>
</body>
</html>