<% if quality %>
	<% if quality.is_helpful? %>
		<div class="grey_button_wide" id="priority_add_<%= point.id.to_s %>">
			<%= t('helpful.caps')%>
			<span class="big_x">
			<%= link_to "X", unquality_point_path(point, :region => "point_detail"),
                  :method => :post,
                  :remote=>true,
                  'data-disable-with' => "",
                  'data-loader-name' => "circle",
			            :class => "priority_remove_link",
			            :title => t('helpful.delete.title') %>		
			</span>
		</div>			
	<% else %>
	<div class="grey_button_wide" id="priority_add_<%= point.id.to_s %>">
		<%= t('unhelpful.caps')%>
		<span class="big_x">
		<%= link_to "X", unquality_point_path(point, :region => "point_detail"), 
                :method => :post,
                :remote=>true,
                'data-disable-with' => "",
                'data-loader-name' => "circle",
		            :class => "priority_remove_link",
		            :title => t('unhelpful.delete.title') %>
		</span>	
	</div>	
	<% end %>
<% else %>
	<div class="grey_button_wide" id="priority_add_<%= point.id.to_s %>">
		<%= link_to t('helpful.capitalized'), quality_point_path(point, :region => "point_detail", :value => true), 
                :method => :post,
                :remote=>true,
                'data-disable-with' => escape_t(t(:ajax_helpful)),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => t('helpful.title') %>								
	</div>
	<div class="endorse_or"><%= t('or') %></div>
	<div class="grey_button_wide" id="priority_add_<%= point.id.to_s %>">
		<%= link_to t('unhelpful.capitalized'), quality_point_path(point, :region => "point_detail", :value => false),
                :method => :post,
                :remote=>true,
                'data-disable-with' => escape_t(t(:ajax_unhelpful)),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => t('unhelpful.title') %>								
	</div>	
<% end %>
