<div class="intro">
<%= render :partial => "points/intro", :locals => {:point => @point}%>
</div>
<div id="hp_intro">
<%= h(@point.name) %>
<% if (defined? quality and quality) or !logged_in? %>
  <span class="point_fblike"><fb:like href="<%=@point.show_url%>" layout="button_count" ref="priority" show-faces="false" width="120" action="<%=tr("like","facebook")%>" colorscheme="light"></fb:like></span>
<% end %>
<%= render :partial=>"points/report_content", :locals=>{:point=>@point} %>
<%= render :partial=>"points/flagged", :locals=>{:point=>@point} -%>
</div>
