<% if Government.current.message_for_points and Government.current.message_for_points!="" -%>
  <%= render :partial=>"/shared/top_message_box", :locals=> {:message_text => Government.current.message_for_points.html_safe } %>
<% end %>

<script type="text/javascript">
$(function(){
	$('.rss2_move').replaceWith($('.rss_feed'));
	
});
</script>
<div style="width:auto;">
<ul>
	<li style="float:left; list-style:none;">
		<div id="hp_intro" style="border-bottom:none;"><%= @page_title %></div>
	</li>
	<li style="float:right; list-style:none;">
		<div class="rss2_move"></div>
	</li>
<ul>
</div>

<div class="clear"></div>
<div class="white_line"></div>
<% if not @points or @points.empty? %>
	<%= tr("No points yet.", "view/points/index")%>
<% else %>
	<!--<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @points} %>-->
	<% for point in @points %>
		<% quality = nil %>
		<% if @qualities %>
			<% quality = @qualities.detect {|e| e.point_id == point.id } %>
		<% end %>				
		<%= render :partial => "points/show_full", :locals => {:point => point, :quality => quality, :revision => nil}%>
	<% end %>

	
	<%= will_paginate(@points) %>

<% end %>

