<table border="0" cellspacing="0" cellpadding="0">
	<tr><td valign="top">
		<% if change.total_votes == 0 %>
			<%= link_to_unless_current (image_tag Gchart.pie(:data => [1], :custom => "chco=f0f0f0", :size => "100x100"), :title => tr("Vote results", "view/changes/_chart"), :size => "100x100", :border => 0), priority_change_url(change.priority,change) %>			
		<% else %>
			<%= link_to_unless_current (image_tag Gchart.pie(:data => [change.yes_votes,change.no_votes], :custom => "chco=ffcc00,ffff99", :size => "100x100"), :title => tr("Vote results", "view/changes/_chart"), :size => "100x100", :border => 0), priority_change_url(change.priority,change) %>
		<% end %>
	</td><td valign="top" style="padding-top: 22px;">
		<% if change.status == 'approved' %>
			<span class="endorsed">
			<%= link_to_unless_current tr("APPROVED", "view/changes/_chart"), priority_change_url(change.priority,change) %>
			</span>
		<% elsif change.status == 'declined' %>
			<span class="opposed">
			<%= link_to_unless_current tr("FAILED", "view/changes/_chart"), priority_change_url(change.priority,change) %>
			</span>
		<% else %>
			<% if change.is_passing? %>
				<span class="endorsed">
				<%= link_to_unless_current tr("PASSING", "view/changes/_chart"), priority_change_url(change.priority,change) %>
				</span>
			<% else %>
				<span class="opposed">
				<%= link_to_unless_current tr("FAILING", "view/changes/_chart"), priority_change_url(change.priority,change) %>
				</span>
			<% end %>
		<% end %>
		<br/>
		<span style="background-color: #ffcc00;">&nbsp; &nbsp; </span> &nbsp;<%= tr("{count} yes votes", "view/changes/_chart", :count => change.yes_votes) %><br/>
		<span style="background-color: #ffff99;">&nbsp; &nbsp; </span> &nbsp;<%= tr("{count} no votes", "view/changes/_chart", :count => change.no_votes) %>	
	</td></tr>
</table>