<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>
<p>
			
<%= form_for (@change, :remote=>true, :url => priority_changes_path(@priority)) do |f| %>

<%= tr("<p><b>Propose an acquisition of this priority</b>.  You can spend some of your { government.currency_name | downcase } to hold a vote on whether this priority should be acquired by another priority.</p>", "view/changes/new")%>
<%= tr("<p>You cannot buy<span class=\"pc\">{ government.currency_short_name }</span> with real money, but you can earn it in a variety of ways, like <a href=\"/network/find\">inviting people to join</a>, and writing helpful <a href=\"../points/new\">talking points</a>.  <a href=\"/about/faq#pc\">Details here</a>.</p>", "view/changes/new")%>
<%= tr("<p>Once you've submitted your proposal, the existing endorsers or opposers will receive an email within a day or two to vote on it (we try to minimize the number of emails).  If more than 70% support the acquisition, it will be approved.</p>", "view/changes/new")%>
<%= tr("<p>If approved, you will receive <i>double</i> the { government.currency_name | downcase } you spent.</p>", "view/changes/new")%>

	<p><%= tr("The cost is<span class='pc'>0.01{currency_short_name}</span> per ballot, so you can include", "view/changes/new", :currency_short_name => current_government.currency_short_name) %><br/>
		<%= f.check_box :is_endorsers %> <%= tr("{count} endorsers for <span class='pc'>{capital}{currency_short_name}</span>", "view/changes/new", :count => @priority.up_endorsements_count, :capital => @change.cost_endorsers, :currency_short_name => current_government.currency_short_name) %><br/>
		<%= f.check_box :is_opposers %> <%= tr("{count} opposers for <span class='pc'>{capital}{currency_short_name}</span>", "view/changes/new", :count => @priority.down_endorsements_count, :capital => @change.cost_opposers, :currency_short_name => current_government.currency_short_name) %>
	  </p>
	  <p>
	    <%= tr("Which priority should acquire {priority_name}?", "view/changes/new", :priority_name => link_to(@priority.name, @priority)) %><br />
		<%= f.text_field :new_priority_name, :size => 40, :maxlength => 60, :autocomplete =>"off" %>	
	  </p>
	<p><%= f.check_box :is_flip %> <%= tr("Check this if endorsers should flip to opposers of this new priority (or vice versa)", "view/changes/new")%>
	  <p>
		<%= tr("Explain to others why they should vote in favor of this acquisition:", "view/changes/new") %>
		(<span id="changeContentDown"></span> <%= tr("characters left", "view/changes/new") %>)
	
	    <%= f.text_area :content, :size => "40x3", :id => "changeContent", :button => 'submit', :maxLength => 500 %><br/>
	<span class="small"><%= tr("NOTE: If 500 letters isn't enough space, use the points on the other priority to enumerate why that priority is good. You should only use this space to make the case for the acquisition itself.", "view/changes/new")%></span>
	  </p>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr><td valign="top">
		<%= f.submit tr("Propose this acquisition", "view/changes/new"), :id => "submit", :class => "yellow_button" %>
	</td><td valign="top" style="padding-left: 10px; padding-top: 3px;">
		<div id="change_errors" class="form_errors"><%= f.error_messages %></div>
	</td></tr>
	</table>
<% end %>
