<% cache(["portlets_issues_list",I18n.locale], :expires_in => 5.minutes) do %>
<% for issue in Tag.most_priorities.item_limit(portlet.portlet_template.item_limit) %>
	<div class="priority_listing">
		<span class="priority_name">
		<a href="/issues/<%= issue.slug %>"><%= issue.title %></a>
		</span> <% if issue.attribute_present?("description") %><%= h(issue.description) %><% end %>
		<div class="priority_action">
			<a href="/issues/<%= issue.slug %>"><%= t('menu.briefing.priorities', :count => issue.priorities_count) %></a>
			<% if issue.points_count > 0 %>	
			&middot; <a href="/issues/<%= issue.slug %>/points"><%= t('menu.briefing.points', :count => issue.points_count) %></a>
			<% end %>
			<% if issue.documents_count > 0 %>
			&middot; <a href="/issues/<%= issue.slug %>/documents"><%= t('menu.briefing.documents', :count => issue.documents_count) %></a>
			<% end %>
			<% if issue.discussions_count > 0 %>
			&middot; <a href="/issues/<%= issue.slug %>/discussions"><%= t('comments.discussions.name', :count => issue.discussions_count) %></a>
			<% end %>
		</div>
	</div>
<% end %>
<%= link_to "#{t('more')}...", "/issues/" %>
<% end %>