<% cache(["portlets_network_influencial",locale,Partner.current_id,@inline_translations_enabled], :expires_in => 5.minutes) do %>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td></td>
		<td><span class="table_header"><%= tr("Rank", "view/portal/portlets") %></span></td>
		<td class="left_scale"><span class="table_header"><%= tr("Wk", "view/portal/portlets") %></span></td>
		<td class="left_scale"><span class="table_header"><%= tr("Mo", "view/portal/portlets") %></span></td>
	</tr>
<% if current_government.users_count < 100 %>
  <% users = User.active.at_least_one_endorsement.by_capital.item_limit(portlet.portlet_template.item_limit) %>
<% else %>
  <% users = User.active.at_least_one_endorsement.by_ranking.item_limit(portlet.portlet_template.item_limit) %>
<% end %>
<% for user in users %>
	<tr><td valign="top"></td>
 		<%= render :partial => "priorities/rank_week_month", :locals => {:priority => user } %>
		<td valign="top" width="26" class="user_pic_network ">
			<%= render :partial => "users/pic", :locals => {:user => user}%>
		</td><td class="user_text" valign="top">
			<%= link_to user.login, user %><span class="pc"><%= user.capitals_count%><%= current_government.currency_short_name %></span><% if user.followers_count > 0 %> <%= tr("{count} followers", "view/portal/portlets", :count => user.followers_count)%><% end %>
			<% if user.has_top_priority? and user.top_endorsement.priority %>
				<br/><%= tr("#1 priority:", "view/portal/portlets") %>
				<% if user.top_endorsement.is_down? %><span class="opposed"><%= tr("Opposing", "view/portal/portlets")%></span><% end %>
				<%= link_to user.top_endorsement.priority.name, user.top_endorsement.priority %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>				
<%= link_to "#{tr("More", "view/portal/portlets")}...", "/network/" %>
<% end %>
