<%= render :partial=>"header" %>

<p><%=tr("Hi","email")%> <%= @user.first_name %>,</p>

<p><%=tr("Your new password at Your Priorities is","email")%>: <%= @new_password %></p>

<p><%= @user.root_url %></p>

<p><%=tr("After you have logged back in you can change the password again.","email")%></p>

<p><%= @user.root_url %>passwords/<%= @user.id %>/edit</p>

<%= @user.root_url %>passwords/new

<%= render :partial=>"footer" %>