<%= render :partial=>"header.html" %>

<p><%=tr("Hi","email")%> <%= @user.first_name %>,</p>

<p><%= tr('The status of the priority <a href="{priority_link}">{priority_name}</a> {support_or_endorse_text} has been changed on {government_name}.',
          "email",
          priority_name: @priority.name,
          priority_link: @priority.show_url,
          support_or_endorse_text: @support_or_endorse_text,
          government_name: tr(Government.current.name, "Name from database")) %></p>

<p><%= l @date %></p>

<h3><%= @subject %></h3>

<p><%= @message.html_safe %></p>

<%= render :partial=>"footer.html" %>
