<%= render :partial=>"header" %>

<p><%=tr("Hi","email")%> <%= @user.first_name %>,</p>

<p><%=tr("Here is recent activity on {government_name}","email", :government_name => tr(@government.name,"Name from database"))%></p>

<%= render :partial=>"reports/recent_yours" %>

<%= render :partial=>"reports/top_priorities_in_categories" %>

<%= render :partial=>"footer" %>

