<h1>Listing process_document_states</h1>

<table>
  <tr>
    <th>State</th>
  </tr>

<% for process_document_state in @process_document_states %>
  <tr>
    <td><%=h process_document_state.state %></td>
    <td><%= link_to 'Show', process_document_state %></td>
    <td><%= link_to 'Edit', edit_process_document_state_path(process_document_state) %></td>
    <td><%= link_to 'Destroy', process_document_state, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New process_document_state', new_process_document_state_path %>
