<% if comment.flags_count > 0 and comment.status == 'published' and logged_in? and current_user.is_admin? %>
	<div class="warning_inline" id="comment_flag_<%= comment.id.to_s %>">
		<span class="red"><%= t('comments.flag.number', :count => comment.flags_count)%></span>. <%= t('comments.flag.issue_warning.action', :user_name => comment.user.login, :warnings_count => comment.user.warnings_count) %>
		<span class="tag_button">
			<%= link_to t('doit'), abusive_activity_comment_url(comment.activity_id,comment),
                  :remote=>true,
                  'data-disable-with' => escape_t(t(:ajax_issuing_warning)),
                  'data-loader-name' => "horizontal_small",
            			:class => "quality_unhelpful_link", :title => t('comments.flag.issue_warning.name') %></span>

		<span class="or"><%= t('or') %></span>

		<span class="tag_button">
			<%= link_to t('dont'),not_abusive_activity_comment_url(comment.activity_id,comment),
                  :remote=>true,
                  'data-disable-with' => escape_t(t(:ajax_clearing_warning)),
                  'data-loader-name' => "horizontal_small",
			            :class => "quality_unhelpful_link", :title => t('comments.flag.clear.name') %>		
		</span>		
	</div>
<% end %>