<!-- Comment box -->	
<div class="answer_box">
	<div class="comment_link_add" id="activity_<%=activity.id.to_s%>_comment_form">
		<p>
			<% form_remote_for comment, :url => activity_comments_path(activity), :loading=>"Form.Element.disable('comment-form-submit')" do |f| %>		
			<%= f.error_messages %>
			<%= f.text_field :content, :value => t('esb.add'), :size => "60", :id => "comment_content_#{activity.id.to_s}" %>
			<%= f.submit t('esb.send') %>
		</p>	
	</div>
	<div id="comment_error_<%= activity.id.to_s %>" class="comment_error"></div>
	<% end %>

</div>

