<% if logged_in? %>
<!-- Comment box -->
<div class="comment_link_add answer_box" id="activity_<%=activity.id.to_s%>_comment_form">

        <%= form_for comment, :remote=>true, :url => activity_comments_path(activity),
                              'data-loader-name' => "horizontal_small" do |f| %>
        <%= f.error_messages %>
                    <%= f.text_area :content, :size => "60x1", :class=>"comment_content_display_value comment_content_autoresize_#{activity.id.to_s}", :id => "comment_content_#{activity.id.to_s}" %>


<div class="new_comment_facebook">

	<div class="senda">
				  <span id="submit_span_<%=activity.id%>">
                    <%= f.submit t(:ajax_send_comment), :disable_with => escape_t(t(:ajax_sending)) %>
				  </span>
				  <span id = "loading_span_<%=activity.id%>" style = "display: none;">
				    <%= image_tag("submit-loader.gif")%>
				  </span>
	</div>		
</div>
	
        <% end %>
</div>

<!-- <div id="comment_error_<%= activity.id.to_s %>" class="comment_error"></div> -->
<script type="text/javascript">
    <!--
    jQuery('.comment_content_autoresize_<%=activity.id.to_s%>').autoResize({
        extraSpace: 20
    })
    jQuery('.comment_content_autoresize_<%=activity.id.to_s%>').DefaultValue("<%= t('esb.add')%>");
    //-->
</script>
<% end %>
