<% if comment %>
<a name="<%= comment.id %>"></a>
<div id="comment_<%= comment.id.to_s %>" class="comment<% if comment.is_endorser? %>_endorses<% elsif comment.is_opposer? %>_opposes<% end %>">
	
	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= t('comments.abusive')%>
		</div>
	<% elsif comment.user.status == 'deleted' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_deleted', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>	
	<% elsif comment.user.status == 'suspended' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_suspended', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>		
	<% elsif logged_in? and current_ignoring_ids.include?(comment.user_id) and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.ignoring', :user_name => link_to(comment.user.name,comment.user) )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>
	<% else %>
	<!-- Comment box -->		
	<div class="comment_box">
		<%= render :partial => "users/pic_35", :locals => {:user => comment.user}%>	
		<span class="entry_profile">
		<%= link_to h(comment.user.login), comment.user %> 	
			 - <%= time_ago(comment.created_at) %> 
			 - <%= render :partial => "priorities/action_show", :locals => {:priority => comment.activity.priority }%>
		</span>
		<!-- max_length for comment_content_2 is defined in shared/_javascripts - 
		possible to have different max_lentgh in _show and in _show_first /aom 10092010 -->
		<p><div class="comment_content_2" id="comment_content_<%= comment.id.to_s %>"><%= comment.content_html %></div></p>
	</div>		
	<% end %>
	
</div>
<% end %>
<%= render :partial => "comments/flagged", :locals => {:comment => comment} %>