<% if comment %>
    <a name="<%= comment.id %>"></a>
	
    <div id="comment_<%= comment.id.to_s %>" class="comment_endorses">

	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= t('comments.abusive')%>
		</div>
	<% elsif comment.user.status == 'deleted' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_deleted', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>	
	<% elsif comment.user.status == 'suspended' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_suspended', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>		
	<% else %>
	<!-- Entry box -->
	<div class="entry_box">
		<% if logged_in? %>
		<%   @following = comment.activity.followings.find_by_user_id(current_user.id)%>
		<% else %>
		<%   @following = nil%>
		<% end %>
		<%= render :partial => "shared/entry_icons", :locals => {:content => comment.activity.priority.description, :action_item=>comment.activity.priority, :following=>@following, :activity=>comment.activity}%>
		<%= render :partial => "users/pic_48", :locals => {:user => comment.user}%> 
		<h4><%= link_to_unless_current h(comment.activity.priority.name), comment.activity.priority, :class => "priority_name_link", :title => t('esb.mouseover.comment.title') %> <% if current_user and current_user.is_admin? %>(<%= comment.created_at.strftime("%d.%m.%Y") %>)<% end %>
</h4>
		
		<span class="entry_profile">
			<%#= link_to h(comment.user.login), comment.user, :title => t('esb.mouseover.comment.user') %> 
			<%= h(comment.user.login) %>
			- <%= time_ago(comment.created_at) %> 
			<%= render :partial => "priorities/action_show", :locals => {:priority => comment.activity.priority }%>    
			- <%= render :partial => "priorities/tag_show_esb", :locals => { :priority => comment.activity.priority }%>	
			
			
			
			<% if controller_name=="news" %>
			 - Umræður
			 <% end %>
		</span>

		<!-- max_length for comment_content_2 is defined in shared/_javascripts - 
		possible to have different max_lentgh in _show and in _show_first /aom 10092010 -->
		<!-- if call is from show_all (i.e. shortentext=0), then show all the text and 
			skip class="comment_content" which adds js more/less feature /aom 20092010-->		
		<!-- if shortentext is not defined then set to default = 1 /aom 20092010-->	
		<% if !defined? shortentext%>
			<% shortentext="1" %>
		<% end %>	
					
		<% if shortentext == 0 %>
			<p><div id="comment_content_text_<%= comment.id.to_s %>"><%= comment.content_html %></div></p>	
		<% else %>
			<p><div class="comment_content" id="comment_content_text_<%= comment.id.to_s %>"><%= comment.content_html %></div></p>
		<% end %>
		<% if logged_in? and comment == @comments.last and (current_user.is_admin? or current_user.id == comment.user_id) %>
			<%= link_to_remote t('esb.comment.delete'), { :url => activity_comment_url(comment.activity_id,comment),:method => :delete, :confirm => t('comments.delete.confirm')}, :title => t('esb.mouseover.comment.delete') %>
		<% end %>
	</div>	
	<% end %>	
</div>
<% end %>
