<% if comment %>
    <a name="<%= comment.id %>"></a>
    <div id="comment_<%= comment.id.to_s %>" class="comment_endorses">
	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= t('comments.abusive')%>
		</div>
	<% else %>
	<!-- Entry box -->
	<div class="entry_box">
		<% if logged_in? %>
		<%   @following = comment.activity.followings.find_by_user_id(current_user.id)%>
		<% else %>
		<%   @following = nil%>
		<% end %>
		<%= render :partial => "shared/entry_icons", :locals => {:content => comment.activity.priority.description, :action_item=>comment.activity.priority, :following=>@following, :activity=>comment.activity}%>
		<%= render :partial => "users/pic_48", :locals => {:user => comment.user}%> 
		<h4><%= link_to_unless_current h(comment.activity.priority.name), comment.activity.priority, :class => "priority_name_link", :title => t('esb.mouseover.comment.title') %>
</h4>
		
		<span class="entry_profile">
			<%#= link_to h(comment.user.login), comment.user, :title => t('esb.mouseover.comment.user') %> 
			<%= h(comment.user.login) %>
			<% if current_user and current_user.is_admin? %>
			 - <%= comment.created_at.strftime("%d.%m.%y %H:%M") %>
			<% else %>
			- <%= time_ago(comment.created_at) %> 
			<% end %>
			<%= render :partial => "priorities/action_show", :locals => {:priority => comment.activity.priority }%>    
			- <%= render :partial => "priorities/tag_show_esb", :locals => { :priority => comment.activity.priority }%>	
			<% if logged_in? and not comment.deleted? and ((@comments and comment == @comments.last and current_user.id == comment.user_id) or current_user.is_admin?) %>
		 	- <%= link_to_remote t('esb.comment.delete'), { :url => priority_path(comment.activity.priority),:method => :delete, :confirm => t('esb.priority.delete')}, :title => t('esb.mouseover.priority.delete') %>
			<% end %>
			<% if controller_name=="news" %>
			 - Umræður
			 <% end %>
		</span>

		<% if !defined? shortentext%>
			<% shortentext="1" %>
		<% end %>	
					
		<% if shortentext == 0 %>
			<div id="comment_content_<%= comment.id.to_s %>"><%= sanitize(comment.content_html) %></div>
		<% else %>
			<div class="comment_content" id="comment_content_<%= comment.id.to_s %>"><%= sanitize(comment.content_html) %></div>
		<% end %>
		<div id="flagged_info_<%=comment.activity.priority.id%>"><%=render :partial=>"priorities/flagged", :locals=>{:priority=>comment.activity.priority}-%></div>
	</div>	
	<% end %>	
</div>
<% end %>
