<% if comment %>
<a name="<%= comment.id %>"></a>
<div id="comment_<%= comment.id.to_s %>" class="comment_endorses">	
	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= tr("Comment deleted. The author received a warning for violating the <a href='/about/rules'>site rules</a>", "view/comments/_show")%>
		</div>
	<% else %>
	<!-- Comment box -->		
	<div class="comment_box">
		<%= render :partial => "users/pic_35", :locals => {:user => comment.user}%>	
		<span class="entry_profile">
		<%= h(comment.user.login) %>
			 - <%= time_ago(comment.created_at) %> 
	       <% if logged_in? and current_user.id != comment.user_id  %>
			 <%= link_to image_tag("comment_report.gif", :align => "right", :border => 0, :class => "comment_report"),
			             flag_activity_comment_url(comment.activity_id,comment),:method => :get,
                   :remote=>true,
                   'data-disable-with' => "",
                   'data-loader-name' => "circle",
			             :confirm => tr("Is this comment from {user_name} a personal attack or a violation of the rules?", "view/comments/_show", :user_name => comment.user.name),
			             :title => tr("Report", "view/comments/_show") %>
		   <% end %>
		</span>
		
		<% if !defined? shortentext%>
			<% shortentext="1" %>
		<% end %>		
				
		<% if shortentext == 0 %>
			<div id="comment_content_<%= comment.id.to_s %>"><%= tg(comment.content_html) %></div>	
		<% else %>
			<div class="comment_content_2" id="comment_content_<%= comment.id.to_s %>"><%= comment.content_html %></div>
		<% end %>

		<% if logged_in? and not comment.deleted? and ((@comments and comment == @comments.last and current_user.id == comment.user_id) or current_user.is_admin?) %>
			<%= link_to tr("delete", "view/comments/_show"), activity_comment_url(comment.activity_id,comment),
			            :method => :delete,
                  :remote=>true,
                  'data-disable-with' => escape_t(t(:ajax_deleting)),
                  'data-loader-name' => "horizontal_small",
			            :confirm => tr("Remove this comment?", "view/comments/_show"), :title => tr("Delete comment", "view/comments/_show") %>
		<% end %>
	</div>
	<%= render :partial => "comments/flagged", :locals => {:comment => comment} %>
	<% end %>
</div>
<% end %>