<% if @activity.has_priority? %>
	<div id="priority_intro">
		<%= link_to @activity.priority.name, @activity.priority %> &raquo;
		<%= link_to tr("{count} discussions", "view/comments/index", :count => @activity.priority.discussions_count), discussions_priority_url(@activity.priority) %> &raquo;
	</div>
	<p>
<% end %>
<div id="hp_intro">
	<%= render :partial => "activities/#{@activity[:type].downcase}", :locals => {:activity => @activity} %>
</div>
<p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		
		<td valign="top">
			
			<div id="activity_<%= @activity.id %>_comments" class="comment_list_detail">

				<% for comment in @activity.comments.published_and_abusive.by_first_created %>
					<%= render :partial => "comments/show", :locals => {:comment => comment} %>
				<% end %>

				<% if @activity.comments_count > 0 %>
					<%= render :partial => "comments/new_inline", :locals => {:activity => @activity, :comment => Comment.new} %>	
				<% end %>

			</div>
			
			<% if @activity.comments_count > 0 and @activity.priority and @activity.priority.discussions_count > 1 %>
				<p>
				<%= link_to tr("{count} more discussions in {priority_name}", "view/comments/index", :count => @activity.priority.discussions_count-1, :priority_name => @activity.priority.name), discussions_priority_url(@activity.priority) %>
			<% end %>
			
		</td>	
		
		<td valign="top" width="180" class="left_scale30">
			<% if @activity.comments_count > 0 %>
				<%= render :partial => "activities/button", :locals => {:activity => @activity, :following => @following}%>
				<p>
			<% end %>
			<% if @activity.comments_count > 1 %>
				<div class="heading"><%= tr("People commenting", "view/comments/index") %></div>
				<% for user in @activity.commenters_count %>
			
				<table border="0" cellspacing="0" cellpadding="0">
					<tr><td valign="top" width="48">
						<%= render :partial => "users/pic_48", :locals => {:user => user[0]}%>
					</td><td valign="top" class="left_scale8">
						<% if user[0].status == 'suspended' or user[0].status == 'deleted' %><strike><% end %>
						<%= link_to user[0].name, user[0] %><span class="pc"><%= tr("{capital}{currency_short_name}", "view/comments/index", :capital => user[0].capitals_count, :currency_short_name => current_government.currency_short_name) %></span>
						<% if user[0].status == 'suspended' or user[0].status == 'deleted' %></strike><% end %>
						<div class="profile_small"><%= tr("{count} comments", "view/comments/index", :count => user[1]) %></div>
					</td></tr>
				</table>
				<p>		
				<% end %>
			<% end %>
			
		</td>		
	
	</tr>
</table>
