<% cache(["process_video_search", @priority_filter, @search_query.gsub(".","").parameterize_full, session[:locale]], :expires_in => 30.minutes) do -%>
<% if @priority %>
	<%= render :partial => "/priorities/header" %>
	<%= render :partial => "/priorities/nav" %>
<% end %>

<%= javascript_include_tag 'jquery.cluetip' %>
<%= stylesheet_link_tag 'jquery.cluetip' %>

<h1><%=tr("Search results for", "view/process_speech_videos/search")%>: <%=params[:search_query] %> <%= params[:priority_id] ? "- #{Priority.find(params[:priority_id]).name}" : ""%></h1>
<% if  @process_speech_videos.length > 0%>
	<% @process_speech_videos.group_by(&:get_process).sort {|a,b| a[0].process_discussions.find(:last).meeting_date <=> b[0].process_discussions.find(:last).meeting_date}.each do |my_process,videos| %>
		<h2 style="padding-bottom: 10px;"><%="#{link_to_unless_current h(my_process.priority.name), my_process.priority}<br> ".html_safe+
			   "#{videos.first.process_discussion.meeting_type} | "+
			   "#{videos.first.process_discussion.meeting_date.strftime("%d.%m.%Y")} - "+
			   "#{videos.last.process_discussion.meeting_date.strftime("%d.%m.%Y")}"-%></h2>
		<table>
		    <tr>
		    	<% counter = 0 %>
		        <% videos.each do |video| %>
		          <td>
		            <%=video.get_image_tag("nopadding", "smaller","results_video_#{video.id}_#{video.process_discussion.id}",true)%>
		          </td>
				  <% counter += 1 %>
				  <% if counter>7%>
				    </tr><tr>
					<% counter = 0 %>
			 	  <% end %>
		        <% end %>
		    </tr>
		</table>
		<script type="text/javascript">
		    jQuery(function(){
		 	  <% videos.each do |video| %>
		        jQuery("a.results_video_<%=video.id%>_<%=video.process_discussion.id%>").cluetip({
					splitTitle: "|",
					clickThrough: true,
					arrows: true,
					positionBy: 'mouse'
				});
			  <% end %>
		    });
		</script>
	<% end %>
<% else %>
<%=tr("No search results", "view/process_speech_videos/search")%>
<% end %>
<% end %>
