<% if params[:action] != 'index' %>
	<div id="nav_sub">



		<div id="nav_sub_<% if ['yours','network','official','not_official','official_opposed','show','controversial','rising','falling','random','newest','finished'].include?(params[:action]) %>2<% elsif ['points'].include?(params[:action]) %>3<% elsif ['documents'].include?(params[:action]) %>4<% elsif ['discussions'].include?(params[:action]) %>5<% end %>">
		
			<ul id="menu_sub">
				<li class="tab2">
				<div id="issue_nav_name">
			<%= tr(@tag_names, "model/category").titleize %>
		</div>
					<span class="tab_header">
					
						<%= link_to tr("{count} priorities", "view/issues/_nav", :count => @priorities_count), :action => "show" %>
					</span>
				</li>
				<% if @tag.points_count > 0 %>
				<li class="tab3">
					<span class="tab_header">
						<%= link_to tr("{count} points", "view/issues/_nav", :count => @points_count), :action => "points" %>
					</span>
				</li>
				<% end %>
				<% if @tag.documents_count > 0 %>
				<li class="tab4">
					<span class="tab_header">
						<%= link_to tr("{count} documents", "view/issues/_nav", :count => @tag.documents_count), :action => "documents" %>
					</span>
				</li>
				<% end %>
				<% if @tag.discussions_count > 0 or @tag.priorities_count > 0 %>
				<li class="tab5">
					<span class="tab_header">
						<% if @tag.discussions_count > 0 %>
						<%= link_to tr("{count} discussions", "view/issues/_nav", :count => @discussions_count), :action => "discussions" %>
						<% else %>
						<%= link_to tr("Start a discussion", "view/issues/_nav", :count => @tag.discussions_count), :action => "discussions" %>
						<% end %>
					</span>
				</li>
				<% end %>
		</div>
	</div>

	<% if ['yours','network','official','not_official','official_opposed','show','controversial','rising','falling','random','newest','finished'].include?(params[:action])%>
	<div id="nav_third">
	<div id="nav_third_<% if ['yours'].include?(params[:action]) %>1<% elsif ['network'].include?(params[:action]) %>2<% elsif ['official','not_official','official_opposed'].include?(params[:action]) %>3<% elsif ['show'].include?(params[:action]) %>4<% elsif ['controversial'].include?(params[:action]) %>5<% elsif ['rising'].include?(params[:action]) %>6<% elsif ['random'].include?(params[:action]) %>7<% elsif ['newest'].include?(params[:action]) %>8<% elsif ['finished'].include?(params[:action]) %>9<% end %>">
		<ul id="menu_sub">
			<li class="tab1">
				<span class="tab_header">
					<%= link_to tr("Yours", "view/issues/_nav"), :action => "yours" %>
				</span>
			</li>
			<li class="tab2">
				<span class="tab_header">
					<%= link_to tr("Your network", "view/issues/_nav"), :action => "network" %>
				</span>
			</li>
			<li class="tab4">
				<span class="tab_header">
					<%= link_to tr("Top", "view/issues/_nav"), :action => "show" %>
				</span>
			</li>
			<li class="tab5">
				<span class="tab_header">
					<%= link_to tr("Controversial", "view/issues/_nav"), :action => "controversial" %>
				</span>
			</li>
			<li class="tab6">
				<span class="tab_header">
					<%= link_to tr("Rising", "view/issues/_nav"), :action => "rising" %>
				</span>
			</li>
			<% if User.adapter != 'postgresql' %>
			<li class="tab7">
				<span class="tab_header">
					<%= link_to tr("Random", "view/issues/_nav"), :action => "random" %>
				</span>
			</li>
			<% end %>
			<li class="tab8">
				<span class="tab_header">
					<%= link_to tr("New", "view/issues/_nav"), :action => "newest" %>
				</span>
			</li>
			<li class="tab9">
				<span class="tab_header">
					<%= link_to tr("Finished", "view/issues/_nav"), :action => "finished" %>
				</span>
			</li>														

	</div>
	</div>
	<% end %>

<% end %>
