<div id="hp_intro"><%= @page_title %></div>
<p>
<%= render :partial => "priorities/new_button" %>

<% if @priorities.empty? %>
	<p><%= tr("This is where priorities that have been finished, either successfully or unsuccessfully will be.", "view/issues/finished")%>
<% else %>
	
	<% for priority in @priorities %>
		<%= render :partial => "priorities/listing_finished", :locals => {:priority => priority }%>
	<% end %>

	<%= will_paginate @priorities %>

<% end %>

