<% if Government.current.message_for_issues and Government.current.message_for_issues!="" -%>
  <%= render :partial=>"/shared/top_message_box", :locals=> {:message_text => Government.current.message_for_issues.html_safe } %>
<% end %>

<div style="width:auto;">
<ul>
	<li class="list_left">
		<div style="border-bottom:none;" id="hp_intro"><%= @page_title %></div>
	</li>
	<li class="list_right">
		<% image_tag("feed-icon-14x14.png", :alt => "rss-icon") %>
	</li>
</ul>
</div>
<div class="clear"></div>
<div class="white_line"></div>
<div class="pre_text">
	<%= tr("Here, you can find priorities organized by categories, and add your own.", "view/issues/index") %>
</div>

<table>
<tr>
<td width="33%">
  <h3><%= tr("Standard categories", "views/issues/index") %></h3>
    <%= render partial: 'issue_listing', locals: { issues: @categories } %>
</td>
<td width="33%">
  <% if not @partner_tags.empty? %>
      <h3><%= tr("Better neighborhoods", "views/issues/index") %></h3>
      <% issues = @partner_tags %>
      <% issues.unshift(Tag.find_by_slug('betri-hverfi')) if Government.current.layout == 'better_reykjavik' %>
      <%= render partial: 'issue_listing', locals: { issues: issues } %>
  <% end %>
  <% if not current_partner %>
      <h3><%= tr("By neighborhood", "views/issues/index") %></h3>
      <% if Government.current.default_tags_checkbox and not current_partner %>
          <% issues = Government.current.default_tags_checkbox.split(",").collect { |tag| Tag.find_by_slug(tag.parameterize_full) } %>
          <%= render partial: 'issue_listing', locals: { issues: issues } %>
      <% end %>
  <% end %>
</td>
<td width="33%">
  <h3><%= tr("Custom categories", "views/issues/index") %></h3>
  <% issues = @issues %>
  <% issues = issues.delete_if { |issue| issue.slug == 'betri-hverfi'} if Government.current.layout == 'better_reykjavik' %>
  <%= render partial: 'issue_listing', locals: { issues: issues } %>
</td>
</tr>
</table>
<p>
<%= will_paginate(@issues) %>
