<p>
	<table border="0" cellspacing="0" cellpading="0">
	<tr><td>http://</td><td><%= f.text_field :short_name, :size => 10, :maxlength => 20 %></td><td>.<%= current_government.base_url%>/</td></tr>
	</table>
	<span class="small"><%= tr("Less than 20 characters", "view/partners/_form")%></span>
</p>

<p>
  <label for="partner_name"><%= tr("Title or Organization name", "view/partners/_form") %></label><br />
  <%= f.text_field :name, :size => 30, :maxlength => 30 %><br/>
  <span class="small"><%= tr("(example: Donate Life America)", "view/partners/_form")%></span>
</p>
<p>
  <label for="partner_name">Beygingar á nafni</label><br />
  <%= f.text_field :name_variations_data, :size => 50, :maxlength => 300 %><br/>
  <span class="small">(hér er,um,frá,til,stutt_útgáfa_fyrir_að_búa_til_hugmynd)</span>
</p>
<p>
  <label for="partner_website"><%= tr("Link to your homepage", "view/partners/_form")%></label><br />
  <%= f.text_field :website %><br/>
  <span class="small"><%= tr("(example: http://donatelife.net/)", "view/partners/_form")%></span>
</p>
<p>
  <label for="default_locale"><%= tr("Default locale", "view/partners/_form")%></label><br />
  <%= f.text_field :default_locale %><br/>
</p>
<%= f.check_box :geoblocking_enabled %> <%= tr("Enable geoblocking", "view/partners/_form") %><br/>
<p>
  <label for="geoblocking_open_countries"><%= tr("Geoblocking open countries", "view/partners/_form")%></label><br />
  <%= f.text_field :geoblocking_open_countries %><br/>
</p>
<p>
  <label for="default_tags"><%= tr("Default category", "view/partners/_form")%></label><br />
  <%= f.text_field :default_tags %><br/>
</p>
<p>
  <label for="custom_tag_checkbox"><%= tr("Custom tag", "view/partners/_form")%></label><br />
  <%= f.text_field :custom_tag_checkbox %><br/>
</p>
<p>
  <label for="custom_tag_dropdown_1"><%= tr("Custom tags 1", "view/partners/_form")%></label><br />
  <%= f.text_field :custom_tag_dropdown_1 %><br/>
</p>
<p>
  <label for="custom_tag_dropdown_2"><%= tr("Custom tags 2", "view/partners/_form")%></label><br />
  <%= f.text_field :custom_tag_dropdown_2 %><br/>
</p>

<div class="field">
    <div class="field_label">
      <%= tr("Message for new priority", "view/governments/edit") %>
    </div>
    <div class="field_box">
      <%= f.text_area :message_for_new_priority, :rows => 7, :cols=>20 %>
    </div>
  </div>

<%= f.check_box :is_daily_summary %> <%= tr("Email me a weekly summary of activity", "view/partners/_form") %><br/>
