<div id="hp_intro"><%= @page_title %></div>
<p>

<%= form_for(@partner) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "partners/form", :locals => {:f => f}%>

	<p>
    <%= f.submit tr("Save partner settings", "view/partners/edit"), :class => "yellow_button" %>

<% end %>
