<div id="hp_intro">
	<%= @page_title %>
</div>
<p>	
<% if @partner.has_logo? %>
	<%= image_tag @partner.logo.url(:medium), :border => 0 %>
<% end %>

<%= form_for(:partner, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<%= f.file_field :logo %><br/>
<span class="small"><%= tr("Must be a gif, jpg or png", "view/partners/picture") %></span>

<p><%= submit_tag tr("Upload and save your picture", "view/partners/picture"), :class => "yellow_button" %></p>
<% end %>
