<div id="hp_intro"><%= @page_title %></div>
<p>

<%= form_for(@government) do |f| %>

  <%= f.error_messages %>

	<table border="0" cellspacing="0" cellpadding="0">
		
		<tr><td valign="top">
			
				<div class="field">
					<div class="field_label">
						<%= tr("Facebook API key (<a href='http://www.facebook.com/developers/#/developers/createapp.php'>Get it here</a>)", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :facebook_api_key, :size => 40, :maxlength => 32 %>
					</div>
				</div>
				<div class="field">
					<div class="field_label">
						<%= tr("Facebook secret key", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :facebook_secret_key, :size => 40, :maxlength => 32 %>
					</div>
				</div>		

				<div class="field">
					<div class="field_label">
						<%= tr("Twitter Consumer Key (<a href='http://twitter.com/oauth_clients'>Get it here</a>)", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :twitter_key, :size => 40, :maxlength => 46 %>
					</div>
				</div>
				<div class="field">
					<div class="field_label">
						<%= tr("Twitter Consumer Secret", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :twitter_secret_key, :size => 40, :maxlength => 46 %>
					</div>
				</div>
			
			<div class="field">
				<div class="field_box">
		  		<%= f.check_box :is_facebook %> <%= tr("Enable Facebook integration", "view/governments/apis")%>
				</div>
				<div class="field_box">
		  		<%= f.check_box :is_twitter %> <%= tr("Enable Twitter integration", "view/governments/apis")%>
				</div>
			</div>			
			
			<div class="field">
				<div class="field_label">
					<%= tr("Google Analytics code (like UA-2839551-1)", "view/governments/apis")%>
				</div>
				<div class="field_box">
		  		<%= f.text_field :google_analytics_code, :size => 40, :maxlength => 15 %>
				</div>
			</div>			
			
			<div class="field">
				<div class="field_label">
					<%= tr("Quantcast code (like p-5ftmjaPECGTTU)", "view/governments/apis")%>
				</div>
				<div class="field_box">
		  		<%= f.text_field :quantcast_code, :size => 40, :maxlength => 20 %>
				</div>
			</div>			
			
		</td><td valign="top" style="padding-left: 20px;">
			
				<div class="field">
					<div class="field_label">
						<%= tr("Yahoo Appid (<a href='https://developer.yahoo.com/wsregapp/'>Get it here</a>)", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :yahoo_appid, :size => 40, :maxlength => 40 %>
					</div>
				</div>
				<div class="field">
					<div class="field_label">
						<%= tr("Yahoo secret key", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :yahoo_secret_key, :size => 40, :maxlength => 32 %>
					</div>
				</div>	
			
				<div class="field">
					<div class="field_label">
						<%= tr("Windows Live appid (<a href='http://msdn.microsoft.com/en-us/library/cc287659.aspx'>Get it here</a>)", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :windows_appid, :size => 40, :maxlength => 32 %>
					</div>
				</div>
				<div class="field">
					<div class="field_label">
						<%= tr("Windows secret key", "view/governments/apis")%>
					</div>
					<div class="field_box">
						<%= f.text_field :windows_secret_key, :size => 40, :maxlength => 32 %>
					</div>
				</div>
			
		</td></tr>
	</table>
    <%= f.submit tr("Save API settings", "view/governments/apis"), :class => "yellow_button" %>
<% end %>