<%= render :partial=>"user_mailer/header.html" %>

<p><%=tr("Hi","email")%> <%= @recipient.first_name.capitalize %>,</p>

<p><%= @sender.name %> <%=tr("commented on","email")%> <%= @notifiable.activity.name %>:</p>

<p><%= @notifiable.content %></p>

<p>You can view or stop following this discussion here: <%= @notifiable.show_url %></p>

<%= render :partial=>"user_mailer/footer.html" %>