<%= render :partial=>"user_mailer/header.html" %>

<p><%=tr("Hi", "email")%> <%= @recipient.first_name.capitalize %>,</p>

<p><%=tr("You have been banned from the website after breaking the rules four times with three warnings already \
sent to you in email.", "email")%></p>

<p><%=tr("Here are more details on the rules", "email")%>: <%= link_to @recipient.root_url+'about/rules',@recipient.root_url+'about/rules' %></p>

<p><%=tr("Here is the offending comment. If you have any questions, you can contact", "email")%> <%= @government.admin_email %>.</p>

<p>"<%= @notifiable.content %>"</p>

<%= render :partial=>"user_mailer/footer.html" %>