<%= render :partial=>"user_mailer/header.html" %>

<p><%=tr("Hi","email")%> <%= @recipient.first_name.capitalize %>,</p>

<p><%= @sender.name %> <%=tr("just sent you a private message.","email")%></p>

<p><%= notifiable.content %></p>

<p><%=tr("You can answer here","email")%>: <%= @sender.profile_url %>/messages</p>

<%= render :partial=>"user_mailer/footer.html" %>
