<div id="nav_sub">
	<div id="nav_sub_<% if ['governments'].include?(params[:controller]) and params[:action] != 'apis' %>1<% elsif ['tags'].include?(params[:controller]) %>2<% elsif ['picture','picture_save','buddy_icon','buddy_icon_save','fav_icon','fav_icon_save'].include?(params[:action]) %>4<% elsif ['color_schemes'].include?(params[:controller]) %>5<% elsif ['pages'].include?(params[:controller]) %>6<% elsif ['governments'].include?(params[:controller]) and params[:action] == 'apis' %>9<% end %>">
		<ul id="menu_sub">
			<li class="tab1">
				<span class="tab_header">
					<%= link_to tr("Nation info", "view/admin/_nav"), edit_government_url(current_government) %>
				</span>
			</li>	
			<% if current_government.is_tags? %>
			<li class="tab2">
				<span class="tab_header">
					<%= link_to current_government.tags_name.pluralize.titleize, tags_url %>
				</span>
			</li>
			<% end %>
			<li class="tab4">
				<span class="tab_header">
					<%= link_to tr("Graphics", "view/admin/_nav"), :controller => "admin", :action => "picture" %>
				</span>
			</li>
			<li class="tab5">
				<span class="tab_header">
					<%= link_to tr("Colors", "view/admin/_nav"), color_schemes_url %>
				</span>
			</li>	
			<li class="tab6">
				<span class="tab_header">
					<%= link_to tr("Pages", "view/admin/_nav"), pages_url %>
				</span>
			</li>					
			<li class="tab9">
				<span class="tab_header">
					<%= link_to tr("API keys", "view/admin/_nav"), apis_government_url(current_government) %>
				</span>
			</li>				
		</ul>
	</div>
</div>

<% if ['picture','buddy_icon','fav_icon'].include?(params[:action]) %>
	
	<div id="nav_third">
		<div id="nav_third_<% if ['picture'].include?(params[:action]) %>1<% elsif ['buddy_icon'].include?(params[:action]) %>2<% elsif ['fav_icon'].include?(params[:action]) %>3<% end %>">	

			<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Logo", "view/admin/_nav"), :controller => "admin", :action => "picture" %>
					</span>
				</li>			

				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Buddy Icon", "view/admin/_nav"), :controller => "admin", :action => "buddy_icon" %>
					</span>
				</li>	
		
				<li class="tab3">
					<span class="tab_header">
						<%= link_to tr("Fav Icon", "view/admin/_nav"), :controller => "admin", :action => "fav_icon" %>
					</span>
				</li>	
		
			</ul>		
		
		</div>	
	</div>

<% end %>

<% if ['color_schemes'].include?(params[:controller]) %>
	
<div id="nav_third">
	<div id="nav_third_<% if ['index'].include?(params[:action]) %>1<% elsif ['new','edit'].include?(params[:action]) %>2<% end %>">	

		<ul id="menu_third">

			<li class="tab1">
				<span class="tab_header">
					<%= link_to tr("Choose a theme", "view/admin/_nav"), color_schemes_url %>
				</span>
			</li>			

			<li class="tab2">
				<span class="tab_header">
					<%= link_to tr("Advanced", "view/admin/_nav"), new_color_scheme_path(:id => current_government.color_scheme) %>
				</span>
			</li>	
	
		</ul>		
	
	</div>	
</div>	
	
<% end %>
