<div id="hp_intro">
	<%= @page_title %>
</div>
<p>	
<% if current_government.has_logo? %>
	<%= image_tag current_government.logo.url(:medium), :border => 0 %>
<% end %>

<%= form_for(current_government, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<%= f.file_field :logo %><br/>
<span class="small"><%= tr("Must be a gif, jpg or png", "view/admin/picture") %></span>

<p><%= submit_tag tr("Upload and save your picture", "view/admin/picture"), :class => "submit_button" %></p>
<% end %>
