<div id="new_user_form">

<% form_for :user, :remote=>true, :url => users_path(:region => "long") do |f| -%>
<%= error_messages_for :user, :header_message => t('users.new.error_message') %>
<p>
<table border="0" cellspacing="0" cellpadding="0">

	<tr><td valign="top">

		<div class="field">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr><td valign="top">
					<div class="field_label">
						<%= t('settings.edit.first_name.label')%>
					</div>
					<div class="field_box">
			    		<%= f.text_field :first_name, :size => 12 %> 
					</div>
				</td><td valign="top" style="padding-left: 3px;">
					<div class="field_label">
						<%= t('settings.edit.last_name.label')%>
					</div>
					<div class="field_box">
			    		<%= f.text_field :last_name, :size => 15 %>
					</div>
				</td>
				</tr>
			</table>
			<div class="small"><%= t('settings.edit.first_name.example')%></div>

		</div>

		<div class="field">
			<div class="field_label">
				<%= t('settings.edit.email.label')%>
			</div>
			<div class="field_box">
				<%= f.text_field :email %>
			</div>
			<div class="small"><%= t('settings.edit.email.example')%></div>
		</div>

	</td><td valign="top" style="padding-left: 10px;">

		<div class="field">
		<div class="field_label">
			<%= t('settings.edit.login.label')%>
		</div>
		<div class="field_box">
			<%= f.text_field :login, :maxlength => 40, :size => 30 %>
		</div>
		<div class="small"><%= t('settings.edit.login.example')%></div>
		</div>

		<div class="field">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td valign="top">
				<div class="field_label"><%= t('users.new.password.label')%></div>
				<div class="field_box">
				<%= f.password_field :password, :size => 13 %>
				</div>
			</td><td valign="top" style="padding-left: 3px;">
				<div class="field_label"><%= t('users.new.password.confirm')%></div>
				<div class="field_box">
				<%= f.password_field :password_confirmation, :size => 13 %>
				</div>
			</td>
			<td valign="top" style="padding-left: 10px; padding-top: 17px;">
				<% if @priority %>
					<% if @value == 1 %>
						<%= submit_tag t('users.new.submit_and_endorse'), :class => "yellow_button" %>			
					<% elsif @value == -1 %>					
						<%= submit_tag t('users.new.submit_and_oppose'), :class => "yellow_button" %>
					<% else %>
						<%= submit_tag t('users.new.submit'), :class => "yellow_button" %>				
					<% end %>
				<% else %>
					<%= submit_tag t('users.new.submit'), :class => "yellow_button" %>
				<% end %>
			</td>
			</tr>
		</table>
		</div>		
	</td>
	</tr>
</table>
<% end %>
</div>