<div id="new_user_form">
<% if @geoblocked %>
  <%= render :partial=>"shared/geoblocking_info"%>
<% else %>  
  <%= form_for :user, 'data-disable-with' => escape_t(tr("Sending","Ajax")),
               :url => users_path(:region => "long") do |f| -%>
  <%= error_messages_for :user, :header_message => tr("There was a problem creating your account", "view/users/_form_long") %>
 
    <table border="0" cellspacing="0" cellpadding="0" style="margin: 10px 0; width:500px !important;">
      <tr>
        <td valign="top">
        <div class="field">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top">
		            <div class="field_label">
		              <%= tr("First name", "view/users/_form_long")%>
                      <span class="red">*</span>
		            </div>
		            <div class="field_box">
		              <%= f.text_field :first_name, :size => 12 %>
		            </div>
		           </td>

               <td valign="top" style="padding-left: 3px;">
				          <div class="field_label">
				            <%= tr("and Last name", "view/users/_form_long")%>
                            <span class="red">*</span>
				          </div>
				          <div class="field_box">
				            <%= f.text_field :last_name, :size => 15 %>
				          </div>
               </td>
            </tr>
          </table>
          <div class="small scale_bottom">
            <%= tr("(Not displayed on the site)", "view/users/_form_long")%>
          </div>
        </div>

        <div class="field">
          <div class="field_label">
            <%= tr("Email address", "view/users/_form_long")%>
            <span class="red">*</span>
          </div>
          <div class="field_box">
            <%= f.text_field :email %>
          </div>
          <div class="small">
            <%= tr("(Never shared without your permission)", "view/users/_form_long")%>
          </div>
        </div>

       <% if Government.current.layout == "better_reykjavik" %>

		<div class="field">
			<div class="field_label">
				<%= tr("Post code", "view/users/_form")%>
                <span class="red">*</span>
			</div>
			<div class="field_box">
				<%= f.text_field :post_code, :size => 5 %>
			</div>
 		</div>


	    <div class="field">
	      <div class="field_label2">
	        <%= tr("Age group", "view/users/_form_long")%>
            <span class="red">*</span>
	      </div>
	      <div class="field_box">
	        <%= f.select :age_group, options_for_select([tr("Select age group", "model/user"), tr("12 years and younger", "model/user"),tr("13 to 17 years", "model/user"),tr("18 to 25 years", "model/user"),tr("26 to 69 years", "model/user"),tr("70 years and older", "model/user")], @user ? @user.age_group : tr("Select age group", "model/user")) %>
	      </div>
	    </div>

        <div class="field">
          <div class="field_label">
            <%= tr("Gender", "view/users/_form_long")%>
            <span class="red">*</span>
          </div>
          <div class="field_box">
             <%= f.select :my_gender, options_for_select([tr("Select gender", "model/user"), tr("Male", "model/user"),tr("Female", "model/user")], @user ? @user.my_gender : tr("Select gender", "model/user")) %>
          </div>
        </div><% end %>
       </td>

        <td valign="top" style="padding-left: 10px;">
        <div class="field">
          <div class="field_label">
            <%= tr("How should you be identified on the site?", "view/users/_form_long")%>
            <span class="red">*</span>
          </div>
          <div class="field_box">
            <%= f.text_field :login, :maxlength => 40, :size => 30 %>
          </div>
          <div class="small scale_bottom">
            <%= tr("(Can be your name, or a pseudonym)", "view/users/_form_long")%>
          </div>
        </div>
        <div class="field">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top">
		            <div class="field_label">
		              <%= tr("Password", "view/users/_form_long")%>
                      <span class="red">*</span>
		            </div>
		            <div class="field_box">
		              <%= f.password_field :password, :size => 13 %>
		            </div>
              </td>

              <td valign="top" style="padding-left: 3px;">
		            <div class="field_label">
		              <%= tr("and re-type it", "view/users/_form_long")%>
                      <span class="red">*</span>
		            </div>
		            <div class="field_box">
		              <%= f.password_field :password_confirmation, :size => 13 %>
		            </div>
              </td>
             </tr>
           </table>
				</div>
       </td>
       </tr>
       <tr>
              <td valign="top" style="padding-top: 10px;" colspan="2">

                <script>
                  var RecaptchaOptions = { theme : 'clean' };
                </script>
                <%= recaptcha_tags %><br>
                <%= check_box("user", "terms") %>
		<%= tr("I accept the terms detailed below", "view/users/_form_long")%>

              <% if @priority %>
                <% if @value == 1 %>
                <%= submit_tag tr("Endorse and signup", "view/users/_form_long"), :class => "submit_button" %>
                <% elsif @value == -1 %>
                <%= submit_tag tr("Oppose and signup", "view/users/_form_long"), :class => "submit_button" %>
                <% else %>
                <%= submit_tag tr("Signup", "view/users/_form_long"), :class => "submit_button" %>
                <% end %>
              <% else %>
							<div >
              					<%= submit_tag tr("Signup", "view/users/_form_long"), :class => "submit_button" %>
							</div>
              <% end %>
            </td>
            </tr>
          </table>
        
    <% end %>
<% end %>
</div>
<%= render :partial=>"shared/keypad_javascript"%>
