<div id="new_user_form">
    <%=flash[:notice] if flash[:notice]%>
	<% form_for @user, :url => "/set_email" do |f| -%>
		<%= error_messages_for :user, :header_message => t('users.new.error_message') %>
		
		<div class="field">
			<div class="field_label">
				<%= t('settings.edit.email.label')%>
			</div>
			<div class="field_box">
				<%= f.text_field :email %>
			</div>
			<div class="small"><%= t('settings.edit.email.example')%></div>
		</div>
	
		<%= submit_tag t('users.new.submit'), :class => "yellow_button" %>
	<% end %>

</div>