<%= render :partial => "header" %>
<p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>

		<td valign="top">
			
			<% if @user.profile %>
				<div class="bio">
				<%= @user.profile.bio_html %>
				</div>
			<% end %>
									
			<div id="activities">
			<% for activity in @activities %>
				<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_nouser"} %>
			<% end %>
			</div>
			<p>
			<% if @activities.total_pages > 1 %>
				<%= will_paginate(@activities, :params => {:action => "activities"} ) %>
			<% end %>
			
		</td>
		<td valign="top" width="160" style="padding-left: 20px;">
			
			<%= render :partial => "left_nav" %>
			
		</td>
		
	</tr>
</table>