<div id="nav_sub">
	<% if @user and not @user.new_record? and ['users','messages'].include?(params[:controller]) %>
		<div id="nav_sub_<% if @user.is_influential? %>1<% elsif @user.is_ambassador? %>5<% elsif @user.is_new? %>4<% elsif @user.has_twitter? %>3<% end %>">
	<% else %>
		<div id="nav_sub_<% if ['index'].include?(params[:action]) and ['network'].include?(params[:controller]) %>1<% elsif ['following'].include?(params[:action]) %>0<% elsif ['talkative'].include?(params[:action]) %>2<% elsif ['twitterers'].include?(params[:action]) %>3<% elsif ['newest'].include?(params[:action]) %>4<% elsif ['ambassadors'].include?(params[:action]) %>5<% elsif ['partners'].include?(params[:action]) or ['partners'].include?(params[:controller]) %>6<% elsif ['suspended','probation','deleted','unverified','warnings'].include?(params[:action]) %>7<% end %>">
	<% end %>
		<ul id="menu_sub">
		  <% if logged_in? %>
      <li class="tab0">
        <span class="tab_header">
          <%= link_to tr("Your network", "view/user_contacts/_nav"), following_user_contacts_path(current_user) %>
        </span>
      </li>
      <% end %>
			<li class="tab1">
				<span class="tab_header">
					<%= link_to tr("Influential", "view/network/_nav"), :controller => "network" %>
				</span>
			</li>
			<li class="tab2">
				<span class="tab_header">
					<%= link_to tr("Talkative", "view/network/_nav"), :controller => "network", :action => "talkative" %>
				</span>
			</li>
			<li class="tab4">
				<span class="tab_header">
					<%= link_to tr("New members", "view/network/_nav"), :controller => "network", :action => "newest" %>
				</span>
			</li>
			<li class="tab5">
				<span class="tab_header">
					<%= link_to tr("Ambassadors", "view/network/_nav"), :controller => "network", :action => "ambassadors" %>
				</span>
			</li>
      <% if current_government.has_twitter_enabled? %>
      <li class="tab3">
        <span class="tab_header">
          <%= link_to tr("Twitterers", "view/network/_nav"), :controller => "network", :action => "twitterers" %>
        </span>
      </li>
      <% end %>
			<% if logged_in? and current_user.is_admin? %>
			<li class="tab7 mega">
				<span class="tab_header">
					<%= link_to tr("More", "view/network/_nav"), :controller => "network", :action => "newest" %>
				</span>
				
				<div class="tab_body">
					<%= link_to tr("Unverified", "view/network/_nav"), :controller => "network", :action => "unverified" %><br/>	
					<%= link_to tr("Warnings", "view/network/_nav"), :controller => "network", :action => "warnings" %><br/>										
					<%= link_to tr("Suspended", "view/network/_nav"), :controller => "network", :action => "suspended" %><br/>
					<%= link_to tr("Probation", "view/network/_nav"), :controller => "network", :action => "probation" %><br/>
					<%= link_to tr("Deleted", "view/network/_nav"), :controller => "network", :action => "deleted" %>
					<p>
				</div>				
			</li>
			<% end %>
		</ul>
	</div>
</div>
