<div id="hp_intro"><%= @page_title %></div>
<p>
<% if not (logged_in? and current_user.has_twitter?) %>
<%= tr("If you'd like to be added, click this button and follow the Twitter screen to authorize {government_name}/NationBuilder.", "view/network/twitterers", :government_name => tr(current_government.name,"Name from database"))%>
<p>
<p><%= link_to image_tag("twitter_signin.png", :border => 0), :controller => "twitter", :action => "create" %>
<% end %>

<table border="0" cellspacing="0" cellpadding="0">
	<% for user in @users %>
		<% @row += 1%>
		<tr><td valign="top">
			<div class="priority_position"><%= @row %></div>
			</td>
			<td valign="top" width="26" style="padding: 10px 5px 4px 7px;">
				<%= render :partial => "users/pic", :locals => {:user => user}%>
			</td><td style="padding: 5px 5px 4px 0px;" valign="top">
				<%= link_to user.login, user %><span class="pc"><%= user.capitals_count%><%= current_government.currency_short_name %></span><% if user.twitter_count > 0 %> <%= tr("{count} followers on <a href='http://twitter.com/{twitter_login}'>Twitter</a>", "view/network/twitterers", :count => user.twitter_count, :twitter_login => user.twitter_login) %><% end %>
				<% if user.has_top_priority? %>
					<br/><%= tr("#1 priority:", "view/network/twitterers") %>
					<% if user.top_endorsement.is_down? %><span class="opposed"><%= tr("Opposing", "view/network/twitterers")%></span><% end %>
					<%= link_to user.top_endorsement.priority.name, user.top_endorsement.priority %>
				<% end %>
			</td>
		</tr>
	<% end %>					
</table>				
<p>
<%= will_paginate(@users) %>
