<%= render :partial => "questions/header" %>
<%= render :partial => "questions/nav" %>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		
		<td valign="top">
			<p>
			<% form_for :revision, :url => question_revisions_path(@question)  do |f| %>
			  <%= f.error_messages :header_message => t('points.new.errors.header_message'), :message => t('points.new.errors.message') %>
			<p>
			Breyttu spurningu <span id="revisionContentDown"></span> <%= t('characters_left')%>
			<%= f.text_area :content, :id => 'revisionContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
			</p>
						
			<p>
			<%= t('points.new.comment.label') %><br/>
			<% fields_for :comment do |c| %>
				<%= c.text_field :content, :size => 50 %>	
			<% end %>
			</p>
			
			<p>
			<%= f.submit t('points.new.submit'), :id => "submit", :class => "yellow_button" %>
			</p>

			<% end %>
			
		</td>	
		
		<td valign="top" width="150" style="padding-left: 20px;">
			<%= link_to t('document.revision.new.cancel'), @question %>
			<p>
			<%= render :partial => "documents/authors", :locals => {:users => @question.authors } %>	
		</td>		
	
	</tr>
</table>