<!-- TODO AOM 220910 activate these links.. send variables needed, f.x. :content => question.content  -->
<span class="entry_icons">
		<%= link_to image_tag("esb_entry_email.gif", :border => 0), "#", :title => t('esb.mouseover.entry.email') %> 
		<%= link_to image_tag("esb_entry_bookmark.gif", :border => 0), "#", :title => t('esb.mouseover.entry.bookmark') %>
		<%= link_to image_tag("esb_entry_facebook.gif", :border => 0), "#", :title => t('esb.mouseover.entry.facebook') %>
		<%= link_to image_tag("esb_entry_twitter.gif", :border => 0), "#", :title => t('esb.mouseover.entry.twitter') %>
		<%= link_to image_tag("entry_report.gif", :border => 0), "#", :title => t('esb.mouseover.entry.report') %>
</span>