<!-- TODO AOM 220910 activate these links.. send variables needed, f.x. :content => question.content  -->
<span class="entry_icons">
		<% unless action_item.instance_of?(Document) %>
			<%= link_to image_tag("esb_entry_bookmark.gif", :border => 0), "#", :title => t('esb.mouseover.entry.bookmark') %>
		<% end %>
		<%= link_to image_tag("esb_entry_facebook.gif", :border => 0), "#", :title => t('esb.mouseover.entry.facebook') %>
		<%= link_to image_tag("esb_entry_twitter.gif", :border => 0), "#", :title => t('esb.mouseover.entry.twitter') %>
		<% if action_item.instance_of?(Priority) %>
		<%= link_to image_tag("entry_report.gif", :border => 0), flag_inappropriate_priority_url(action_item), :title => t('esb.mouseover.entry.report'), :confirm => t('menu.priorities.flag.confirm'), :method => :put %>
		<% elsif action_item.instance_of?(Question) %>
		  <%= link_to image_tag("entry_report.gif", :border => 0), "#", :title => t('esb.mouseover.entry.report') %>
		<% elsif action_item.instance_of?(Document) %>
		  <%= link_to image_tag("entry_report.gif", :border => 0), "#", :title => t('esb.mouseover.entry.report') %>
		<% end %>
</span>