<script type="text/javascript">
var addthis_config = {
     ui_language: "fr"
}
</script>

<span class="entry_icons">
		<div class="addthis_toolbox addthis_default_style">
			<% if logged_in? %>
				<% if action_item.user_id != current_user.id or current_user.is_admin? %>
					<% if action_item.instance_of?(Priority) %>
						<%= link_to_remote image_tag("entry_report_gray.gif", :border => 0), :url=>{:controller=>"priorites", :action=>"flag", :id=>action_item.id, :title => t('esb.mouseover.entry.report')}, :confirm => t('menu.priorities.flag.confirm'), :method => :get,
 																			  :loading=>"update('<img src=\"/images/following-loader.gif\">')",
																			  :complete=>"update('<img src=\"/images/entry_report_gray.gif\">')" %>
					<% elsif action_item.instance_of?(Question) %>
						<%= link_to_remote image_tag("entry_report_gray.gif", :border => 0), :url=>{:controller=>"questions", :action=>"flag", :id=>action_item.id, :title => t('esb.mouseover.entry.report')}, :confirm => t('menu.priorities.flag.confirm'), :method => :get,
 																			  :loading=>"update('<img src=\"/images/following-loader.gif\">')",
																			  :complete=>"update('<img src=\"/images/entry_report_gray.gif\">')" %>
					<% elsif action_item.instance_of?(Document) %>
						<%= link_to_remote image_tag("entry_report_gray.gif", :border => 0), :url=>{:controller=>"documents", :action=>"flag", :id=>action_item.id, :title => t('esb.mouseover.entry.report')}, :confirm => t('menu.priorities.flag.confirm'), :method => :get,
 																			  :loading=>"update('<img src=\"/images/following-loader.gif\">')",
																			  :complete=>"update('<img src=\"/images/entry_report_gray.gif\">')" %>
					<% end %>
				<% end %>
			<% end %>

			<a  class="addthis_button_twitter" title="Senda รก Twitter" addthis:url="<%=action_item.show_url%>"  addthis:title="<%=action_item.name%>">
				<%=image_tag("esb_entry_twitter.gif", :border => 0)%>
			</a>
			
			<a class="addthis_button_facebook" title="Senda รก Facebook" addthis:url="<%=action_item.show_url%>"  addthis:title="<%=action_item.name%>">
				<%=image_tag("esb_entry_facebook.gif", :border => 0)%>
			</a>
			



			<% unless action_item.instance_of?(Document) %>
				<% if action_item.instance_of?(Priority) %>
					<% if logged_in? %>
						<%=render :partial=>"shared/follow_icons", :locals => {:activity => activity, :following => following}%>
					<% end %>
				<% end %>
			<% end %>

		</div>
</span>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cad2bb74f7d4e97"></script>
