<div id="login">

	<%= raw tr("<b><a href='{signup_url}'>Sign up</a></b> or <a href='#' id='login_link'>Sign in</a>.", "view/shared/_login", :signup_url => signup_url, :government_name => current_government.name)%>
	<div id="login_form">
		<p>
	<%= form_for :session, :remote=>true, 
	             'data-disable-with' =>  escape_t(tr("Sending","Ajax")),
 	             :url => session_path(:region => "inline") do |f| -%>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td class="email">
				<input type="text" name="email" size="15" id="login_email"> <%= tr("Email address", "view/shared/_login")%>
			</td></tr><tr><td class="password">
				<input type="password" name="password" size="8" id="login_password"> <%= tr("Password", "view/shared/_login")%>
			</td></tr><tr>
			<td class="submit">
				<%= submit_tag tr("Sign in", "view/shared/_login"), :class => "yellow_button" %>
			</td>
			</tr>
		</table>
		<div id="login_message"></div>
		<%= link_to tr("I forgot my password", "view/shared/_login"), new_password_path %>	
	<% end -%>
	</div>

	<% if current_government.has_facebook_enabled? or current_government.has_twitter_enabled? %>
	<p>
	<% end %>

	<% if current_government.has_facebook_enabled? %>
    <div style="margin-bottom: 10px; margin-top: 7px;">
    <%= fb_login_and_redirect "/", :text=>tr("Sign in with Facebook","views/shared/_login"), :size=>"small", :title=>tr("Sign in with Facebook","views/shared/_login"), :perms=>"email"%>
    </div>
	<% end %>
  <p>	
	<% if current_government.has_twitter_enabled? %>
		<div style="margin-bottom: 5px;">
		<%= link_to image_tag("twitter_signin.png", :border => 0), :controller => "twitter", :action => "create" %>
		</div>
	<% end %>
	
</div>