<div id="login">

	<%= t('sessions.new.intro', :signup_url => signup_url, :government_name => current_government.name)%>
	<div id="login_form">
		<p>
	<% form_remote_for :session, :url => session_path(:region => "inline") do |f| -%>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td class="email">
				<input type="text" name="email" size="15" id="login_email"> <%= t('sessions.new.email.label')%>
			</td></tr><tr><td class="password">
				<input type="password" name="password" size="8" id="login_password"> <%= t('sessions.new.password.label')%>
			</td></tr><tr>
			<td class="submit">
				<%= submit_tag t('sessions.new.submit'), :class => "yellow_button" %>
			</td>
			</tr>
		</table>
		<div id="login_message"></div>
		<%= link_to t('sessions.new.forgot'), new_password_path %>	
	<% end -%>
	</div>

	
</div>