<div id="toolbar" class="clearfix">

<% if ['priorities','changes','ads','prioritizer'].include?(params[:controller]) %>
	<% nav = 2 %>
<% elsif ['news','comments'].include?(params[:controller]) %>
	<% nav = 4 %>
<% elsif ['issues'].include?(params[:controller]) %>
	<% nav = 1 %>
<% elsif ['network','users','user_contacts','import','messages','inbox','facebook'].include?(params[:controller]) or (params[:controller] == 'partners' and not logged_in?) %>
	<% nav = 5 %>
<% elsif ['points','revisions','documents','document_revisions','briefing'].include?(params[:controller]) %>	
	<% nav = 3 %>
<% elsif ['settings','profiles','governments','color_schemes','admin','passwords','pages','partners','tags'].include?(params[:controller]) %>
	<% nav = 6 %>
<% elsif ['about','charts','widgets'].include?(params[:controller]) %>
	<% nav = 7 %>
<% else %>
	<% nav = 0 %>
<% end %>

<div id="nav">
<div id="nav<%= nav %>" class="clearfix">	

	<% if false and current_government.has_fav_icon? %>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr><td valign="middle" style="padding: 0px 0px 0px 10px;" align="left">
				<a href="/"><%= image_tag current_government.fav_icon.url(:icon_16), :border => 0 %></a>
			</td><td valign="middle" align="left">
	<% end %>

	<ul id="menu">
		<li class="tab0">
			<span class="tab_header"><%= link_to tr("Home","Menu system"), :controller => "portal" %></span>
		</li>
		<li class="tab2">
			<span class="tab_header"><%= link_to tr("Priorities", "view/shared/_menu"), :controller => "priorities", :action=>"top_24hr" %></span>
		</li>
		<li class="tab3">
			<span class="tab_header"><%= link_to tr("Points", "view/shared/_menu"), :controller => "points" %></span>
		</li>
		<% if logged_in? %>
		<li class="tab5">
			<span class="tab_header"><%= link_to tr("People", "view/shared/_menu"), following_user_contacts_path(current_user) %></span>
		</li>
		<li class="tab1">
			<span class="tab_header"><%= link_to tr("Categories","Menu system"), :controller => "issues" %></span>
		</li>
		<li class="tab4">
			<span class="tab_header"><%= link_to tr("News", "view/shared/_menu"), :controller => "news", :action=>"top" %></span>
		</li>
		<% else %>
		<li class="tab5">
			<span class="tab_header"><%= link_to tr("People", "view/shared/_menu"), :controller => "network" %></span>
		</li>
		<li class="tab1">
			<span class="tab_header"><%= link_to tr("Categories","Menu system"), :controller => "issues" %></span>
		</li>
		<li class="tab4">
			<span class="tab_header"><%= link_to tr("News", "view/shared/_menu"), :controller => "news", :action=>"top" %></span>
		</li>
		<% end %>
        <% if true or current_partner or (controller_name == "about" and action_name=="show" and params[:id] == 'choose_partner')%>
          <li class="tab7 mega">
    		<span class="tab_header">
				<%= link_to tr("About partners", "view/shared/_menu"), "#" %>
			</span>
            <div class="tab_body">
                <div class="tab_subhead">
                  &middot; <%= link_to tr("About partners", "controller/about"), :controller => "about", :action => "partners" %><br/>
                  &middot; <%= link_to tr("Choose a partner", "controller/about"), :controller => "about", :action => "choose_partner" %><br/>
                  &middot; <%= link_to tr("What kind of priorities", "controller/about"), :controller => "about", :action => "partner_what_kind" %><br/>
                  &middot; <%= link_to tr("Partner rules", "controller/about"), :controller => "about", :action => "partner_rules" %><br/>
                  &middot; <%= link_to tr("From priorities to action", "controller/about"), :controller => "about", :action => "partner_from_priorities_to_action" %><br/>
                </div>
            </div>
          </li>
        <% end %>
		<% if logged_in? and current_user.is_admin? %>
		<li class="tab6 mega">
			<span class="tab_header">
				<%= link_to tr("Settings", "view/shared/_menu"), "#" %>
			</span>
			<div class="tab_body">
				<% if logged_in? and current_user.is_admin? %>
					<div class="tab_subhead">
						<%= link_to tr("Setup a partner", "view/shared/_menu"), partners_url %>						
					</div>
				<% end %>
				<% if logged_in? and current_user.is_admin? and Partner.current %>
					<div class="tab_subhead">
						<%= link_to tr("Partner settings", "view/shared/_menu"), edit_partner_url(Partner.current) %>
					</div>
				<% end %>
				<div class="tab_sublinks">
				<% if logged_in? and current_user.is_admin? and Partner.current %>
					<%= link_to tr("Partner account", "view/shared/_menu"), edit_partner_url(Partner.current) %>
					&middot; <%= link_to tr("Logo", "view/shared/_menu"), picture_partner_path(Partner.current) %>
					&middot; <%= link_to tr("Email list", "view/shared/_menu"), email_partner_path(Partner.current) %>
				<% end %>
				</div>
				
				<% if current_user.is_admin? %>
					<div class="tab_subhead">
						<%= link_to tr("Nation settings", "view/shared/_menu"), edit_government_url(current_government) %>
					</div>
					<div class="tab_sublinks">

						<%= link_to tr("Categories", "view/shared/_menu"), "/categories" %>
						&middot;
						<%= link_to tr("Settings", "view/shared/_menu"), edit_government_url(current_government) %>
						&middot;
            <%= link_to tr("All Flagged", "view/shared/_menu"), "/admin/all_flagged" %>
            &middot;
						<% if current_government.is_tags? %>
							&middot; <%= link_to current_government.tags_name.pluralize.titleize, tags_url %>
						<% end %>
						&middot; <%= link_to tr("API keys", "view/shared/_menu"), apis_government_url(current_government) %>							
						<br/>
						<%= link_to tr("Pages", "view/shared/_menu"), pages_url %>
						&middot; 
						<br/>
						<%= link_to tr("Graphics", "view/shared/_menu"), :controller => "admin", :action => "picture" %>
						&middot; <%= link_to tr("Colors", "view/shared/_menu"), color_schemes_url %>
					</div>
				<% end %>
			</div>
		</li>		
		<% end %>
		
	</ul>
	
	<% if current_government.has_fav_icon? %>
		</td>
		</tr>
		</table>
	<% end %>
	
</div>
</div>
<% if nav == 1 %>
	<%= render :partial => "issues/nav" %>
<% elsif nav == 2 and not ["show","discussions","endorsers","opposers",
		                   "top_points","activities","new"].include?(action_name) %>
	<%= render :partial => "priorities/browse_nav" %>
<% elsif nav == 3 and not ["new"].include?(action_name) %>
	<%= render :partial => "briefing/nav" %>
<% elsif nav == 4 %>
	<%= render :partial => "news/nav" %>
<% elsif nav == 5 %>
	<% if ['user_contacts','facebook','import'].include?(params[:controller])%>
		<%= render :partial => "network/nav" %>
	<% elsif ['inbox'].include?(params[:controller]) %>
		<%= render :partial => "inbox/nav" %>
	<% else %>
		<%= render :partial => "network/nav" %>
	<% end %>
<% elsif nav == 6 %>
	<% if ['governments','color_schemes','admin','pages','tags'].include?(params[:controller]) %>
		<%= render :partial => "admin/nav" %>
	<% elsif ['partners'].include?(params[:controller]) and logged_in? %>
		<%= render :partial => "partners/nav" %>	
	<% elsif logged_in? %>
		<%= render :partial => "settings/nav" %>
	<% end %>
<% elsif nav == 7 %>
	<% if ['charts'].include?(params[:controller])%>
		<%= render :partial => "charts/nav" %>
	<% elsif ['widgets'].include?(params[:controller])%>
		<%= render :partial => "widgets/nav" %>
	<% end %>
<% end %>

</div>
