<div id="sidebar">
    <%= render :partial => "shared/search" %>
    <%= render :partial => "shared/user_info" if logged_in? %>
    <div id="language_selection_box">
      <%= tr("Select language:","views/layouts/basic") %> <%= tr8n_language_selector_tag %><br>
      <% if @inline_translations_allowed %>
        <% if @inline_translations_enabled %>
          <%= link_to_function(trla("Stop translating"), "tr8nLanguageSelector.disableInlineTranslations();") %><br>
        <% else %>
          <%= link_to_function(trla("Start translating"), "tr8nLanguageSelector.enableInlineTranslations();") %><br>
        <% end %>
      <% end %>
      <%= render :partial => "shared/google_translate_select" %>
    </div>
  <% if logged_in? %>
    <% if current_user.warnings_count > -1 %>
      <div id="warning">
        <%= tr("{count} warnings", "view/layouts/basic", :count => current_user.warnings_count) %>
      </div>
    <% end %>
    <%= render :partial => "shared/activated" %>
  <% end %>

  <div id="top_right_column">
    <% if logged_in? %>
      <%= render :partial => "shared/notifications" %>
    <% else %>
      <%= render :partial => "shared/login" %>
    <% end %>
  </div>

  <%= render :partial => "priorities/new_button" %>

  <% if logged_in? %>
    <div id="priority_column">
      <%= render :partial => "shared/your_priorities" %>
    </div>
  <% else %>
    <div id="intro">
      <%= tr("Intro BLURB", "view/layouts/basic") %>
    </div>
  <% end %>
  <%= render :partial => "shared/fb_activity_feed" %>

</div>
