<div id="sidebar">
    <%= render :partial => "shared/search" %>
<%= render :partial => "priorities/new_button" %>
    <%= render :partial => "shared/user_info" if logged_in? %>
    <%= render :partial => "shared/language_selection_master"%>
  <% if logged_in? %>
    <% if current_user.warnings_count > 0 %>
      <div id="warning">
         <% if current_user.warnings_count > 1 %>
           <%= tr("{count} warnings", "view/layouts/basic", :count => current_user.warnings_count) %>
         <% else %>
           <%= tr("{count} warning", "view/layouts/basic", :count => current_user.warnings_count) %>
         <% end %>
      </div>
    <% end %>
    <%= render :partial => "shared/activated" %>
  <% end %>

  <div id="top_right_column">
    <% if logged_in? %>
      <%= render :partial => "shared/notifications" %>
    <% else %>
      <%= render :partial => "shared/login" %>
    <% end %>
  </div>

  

  <% if logged_in? %>
    <div id="priority_column">
      <%= render :partial => "shared/your_priorities" %>
    </div>
  <% else %>
    <div id="intro">
      <%= tr("Intro BLURB", "view/layouts/basic") %>
    </div>
  <% end %>
  <% if Partner.current and Partner.current.short_name=="world"%>
    <%=image_tag "flags/64/_united-nations.png" %><br>
  <% elsif Partner.current and Partner.current.short_name=="eu"%>
    <%=image_tag "flags/64/_european-union.png" %><br>
  <% elsif Partner.current and Partner.current.iso_country %>
    <%=image_tag Partner.current.iso_country.large_flag_image %><br>
  <% end %>
  <%= render :partial => "shared/fb_activity_feed" %>

</div>
