<div id="Person">

	<!-- TODO profile image --><br/>
	<span class="profile_image"><%= render :partial => "users/pic_48", :locals => {:user => current_user}%> 
	</span>
</div>

<div id="Settings">
	<span class="profile_name"><%=current_user.name%></span>
	<!--<span class="profile_info"><%=current_user.national_identity%></span>-->

    <div class="profile_edit"> 
		<a href="/settings/picture" title="<%= t('esb.mouseover.edituser')%>"><img src="/images/profile_edit.gif" border=0></a> 	
		<%#= link_to image_tag("profile_edit.gif", :border => 0), url_for current_user, :controller => "", :action => "", :title => t('esb.mouseover.edituser'), :alt => t('esb.mouseover.edituser') %> <a href="/settings/picture" class="stillingar">Stillingar</a>
	</div>
	
	<div class="profile_logout">		
		<%= link_to image_tag("profile_logout.gif", :border => 0,:title => t('esb.mouseover.logout'), :alt => t('esb.mouseover.logout')), logout_path %> <a href="/logout/" class="utskraning">Útskráning</a>
	</div>

	<div class="facebook">
		<%= render :partial=>"shared/facebook" %>
	</div>
				
	<!-- <div class="profile_actions">
		<div class="actions_number">32</div>
		<div class="actions_text">hreyfingar <br />á málum</div>
	</div> -->
	<!-- <span class="Edit"><a href="/settings">Breyta stillingum</a></span> 
	<span class="Edit"><a href="/settings/picture">Breyta mynd</a></span>
    <span class="Logout"><a href="/sessions/destroy">Skrá út</a></span> -->
</div>




