<% cache(["icelandic_parliment_priority_processes_main",session[:locale],@priority_process.priority.id,current_user ? "logged_in" : "anon",@show_only_last_process ? "only_last_process" : "all_processes"], :expires_in => 1.hour) do %>
<% @total_discussions = ProcessDiscussion.count(:include=>[:priority_process],:conditions=>["priority_id = ?",@priority.id]) %>
<% processes = PriorityProcess.find_all_by_priority_id(@priority.id,:order=>"stage_sequence_number") %>
<% if @show_only_last_process %>
  <% processes = [processes.last] %>
  <h2><%=t "processes.only_last_process"%></h2>
  <%=link_to tr("Show all processes", "view/priority_processes/templates"), :controller=>"priority_processes", :action=>"show_all_for_priority", :id=>@priority %>
<% else %>

<% end %>
<% processes.each_with_index do |current_process,i| %>
<div class="althingi_process_container">
	<% process_documents = current_process.process_documents %>
	<% discussions = current_process.process_discussions %>
	<h2><%=tr("{sequence_number}. Stage Sequence Number","althingi",:sequence_number=>current_process.stage_sequence_number) %></h2>
	<% if i==0 %>
	  <%=link_to 'Málið á Alþingi', current_process.priority.external_link, {:target => "_blank", :class => "extlink right"}%>
	<% end %>
	<% unless process_documents.empty? %>
	<div class="althingi_process_documents">
		<h3><%=tr("Althingi process_documents", "view/priority_processes/templates")%></h3>
		<table>
			<thead>
				<tr>
					<td class="release_date">
						<%=tr("Althingi release date", "view/priority_processes/templates")%>
					</td>
					<td class="document_number">
						<%=tr("Althingi document number", "view/priority_processes/templates")%>
					</td>
					<td class="document_type">
						<%=tr("Althingi document type", "view/priority_processes/templates")%>
					</td>
					<td>
						<%=tr("Althingi presenter", "view/priority_processes/templates")%>
					</td>
					<td>
						<%=tr("Althingi law document", "view/priority_processes/templates")%>
					</td>
				</tr>
			</thead>
			<tbody>
				<% process_documents.each do |document| %>
                    <% next if document.external_type == "lög" %>
				<tr class="<%= cycle("even", "odd", :name => "zebra") -%>">
					<td>
						<p><%=document.external_date.strftime("%d.%m.%Y") %></p>
					</td>
					<td>
						<p><%= link_to document.external_id, document.external_link, {:target => "_blank", :class => "extlink"}%></p>
					</td>
					<td>
						<p><%=document.external_type %></p>
					</td>
					<td>
						<p><%=document.external_author %></p>
					</td>
					<td>
						<p><%=document.get_process_document_link%></p>
					</td>
				</tr>
			</tbody>
		<% end %>
		</table>
		<% reset_cycle("zebra") %>
	</div>
	<% end %>
	<% unless discussions.empty? %>
		<div class="althingi_discussion">
		<h3><%=tr("Althingi discussion", "view/priority_processes/templates") %></h3>
		<table>
			<thead>
				<tr>
					<td>
						<%=tr("Althingi time of discussion", "view/priority_processes/templates") %>
					</td>
					<td>
						<%=tr("Althingi date of discussion", "view/priority_processes/templates") %>
					</td>
					<td>
						<%=tr("Althingi type of discussion", "view/priority_processes/templates") %>
					</td>
					<td>
						<%=tr("Althingi meeting", "view/priority_processes/templates") %>
					</td>
				</tr>
			</thead>
			<tbody>
			<% discussions.each do |discussion| %>
			    <% cycle_class = cycle("even", "odd", :name => "zebra") -%>
				<tr class="<%=cycle_class-%>">
					<td>
						<p><%=link_to "#{discussion.from_time.strftime('%H:%M')}-#{discussion.to_time.strftime('%H:%M')}", discussion.transcript_url,{:target => "_blank"}%> - 
						<%=link_to tr("Listen", "view/priority_processes/templates"), "http://www.althingi.is"+discussion.listen_url, {:target => "_blank"} %></p>
					</td>
					<td>
						<p><%=discussion.meeting_date.strftime("%d.%m.%Y") %></p>
					</td>
					<td>
						<p><%=discussion.meeting_type %></p>
					</td>
					<td>
						<p><%=link_to discussion.meeting_info, discussion.meeting_url,{:target => "_blank"}%></p>
					</td>
				</tr>
				<% if discussion.process_speech_videos.has_any? %>
				<tr class="<%=cycle_class-%>">
					<td colspan=4>
						<%= render :partial => "priority_processes/process_discussion_videos", :locals => {:discussion=> discussion} %>
					</td>
				</tr>
				<% end #videos -%>
			<% end #discussions -%>
			</tbody>
		</table>
		<% reset_cycle("zebra") %>
	</div>
	<% end %>
		
</div>
<% end %>
<% end %>