<% if not current_facebook_user %>
<div id="hp_intro"><%= @page_title %></div>
<%= tr("Click this button to connect to Facebook and find your friends.", "view/facebook/invite")%>
<p>
<%= fb_login_and_redirect url_for, :size => :medium, :background => :white, :length => :long %>
<% end %>			


<% if current_facebook_user %>
	<fb:serverfbml width="650px">
		<script type="text/fbml">
			<fb:request-form 
			action="<%= url_for :controller => 'facebook', :action => 'multiple', :only_path => false %>" 
			method="POST" 
			type="<%= tr(current_government.name,"Name from database") %>"
			content="<%= tr(current_government.name,"Name from database") %>. <%= current_government.mission %><fb:req-choice url='<%= url_for new_user_path(:referral_id => current_user.id, :only_path => false) %>' label='<%= tr("Yes, I want to get involved", "view/facebook/invite") %>' />"
			invite="true">
			<fb:multi-friend-selector
			 exclude_ids = "<%= current_following_facebook_uids.join(',') %>,<%= @facebook_contacts.join(',') %>"
			 actiontext="<%= tr("Invite your Facebook friends to join your network at {government_name}", "view/facebook/invite", :government_name => tr(current_government.name,"Name from database")) %>" 
			 showborder="true"
			 rows="4"
			 cols="4"
			 bypass="cancel"
			 style="width: 630px;" />
			<p>
			</fb:request-form>
		</script>
	</fb:serverfbml>
<% end %>

<% if @users %>
	<% if @users.size == 0 %>
	
		<br><%= tr("None of your Facebook friends are {government_name} members yet.", "view/facebook/invite", :government_name => tr(current_government.name,"Name from database")) %>
		
	<% else %>
		<br><%= tr("{count} of your Facebook friends are already {government_name} members, and have been added to <a href='{network_url}'>your network</a>.<br/>You can <a href='{news_url}'>follow their updates in the news section</a>.".html_safe, "view/facebook/invite", :count => @users.size, :government_name => tr(current_government.name,"Name from database"), :network_url => following_user_contacts_path(current_user), :news_url => url_for(:controller => "news", :action => "your_network_activities")).html_safe %>
		<div id="contacts_small">
		<table border="0" cellspacing="0" cellpadding="0">
		<% for user in @users %>
			<tr>
				<td valign="top" width="26" style="padding: 10px 5px 4px 7px;">
					<%= render :partial => "users/pic", :locals => {:user => user}%>
				</td><td style="padding: 7px 5px 4px 0px;" valign="top">
					<%= link_to user.login, user %><span class="pc"><%= tr("{capital}{currency_short_name}", "view/facebook/invite", :capital => user.capitals_count, :currency_short_name => current_government.currency_short_name) %></span>
					<% if user.has_top_priority? %>
						<br/><%= tr("#1 priority:", "view/facebook/invite") %>
						<% if user.top_endorsement.is_down? %><span class="opposed"><%= tr("opposed", "view/facebook/invite")%></span><% end %>
						<%= link_to user.top_endorsement.priority.name, user.top_endorsement.priority %>.
					<% end %>
				</td>
			</tr>
		<% end %>

		</table>
		</div>
		
	<% end %>

<% end %>