<div id="hp_intro"><%= @page_title %></div>
<p>
<%= tr("Imagine each person's priorities are a portfolio of stocks like a mutual fund. This page is updated at midnight ET with the people whose priorities rose the most in the rankings in the last week.", "view/charts/gainers_")%>
<p>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="left_scale"><span class="table_header"><%= tr("Change", "view/charts/gainers_") %></span></td>
		<td class=".pagination" colspan="2"><%= will_paginate @users %></td>				
	</tr>
<% for user in @users %>
	<tr>
		<td align="right" valign="top" class="top_scale10">
			<%= agenda_change(user,'7days') %>
		</td>
		<td valign="top" width="26" class="user_pic_contributors">
			<%= render :partial => "users/pic", :locals => {:user => user}%>
		</td><td class="user_name_chart" valign="top">
			<%= render :partial => "users/name_top", :locals => {:user => user }%>
		</td>
	</tr>
<% end %>

</table>				
<p>
<%= will_paginate(@users) %>
