<div id="hp_intro"><%= @page_title %></div>
<p>
<% cache("issues_performance-#{session[:locale]}-#{@inline_translations_enabled}", :expires_in => 6.hours) do %>
	<table border="0" cellspacing="0" cellpading="0">
		<tr><td></td>
			<td class="table_header"><%= current_government.tags_name.titleize %></td>
			<td class="table_header"><%= tr("Endorsers", "view/charts/issues") %></td>
			<td class="table_header"><%= tr("Opposers", "view/charts/issues") %></td>		
			<td class="table_header" align="center"><%= tr("falling/rising", "view/charts/issues")%></td>
		</tr>
	<% row = 0 %>
	<% for tag in Tag.find(:all, :conditions => "priorities_count > 4", :order => "tags.up_endorsers_count desc") %>
		<% row += 1 %>
		<tr><td align="right"><%= row %>.&nbsp;</td>
			<td><%= link_to tr(tag.title,"model/category"), :controller => "issues", :tag_names => tag.slug %></td>
			<td><%= tag.up_endorsers_count %></td>
			<td><%= tag.down_endorsers_count %></td>		
			<td valign="top"><%= render :partial => "issues/bar", :locals => {:tag => tag} %></td>
		</tr>
	<% end %>
	</table>

	<p><%= tr("Last updated {time_ago}", "view/charts/issues", :time_ago => time_ago(Time.now))%>

<% end %>