<script type="text/javascript">
$(function(){
	$('.rss_move').replaceWith($('.rss_feed'));
	
});
</script>

	<ul>
		<li style="float:left; list-style:none;">
			<div id="hp_intro" style="border-bottom:none;"><%= @page_title%></div>
		
		</li>
		<li style="float:right; list-style:none;">
			<div class="rss_move"></div>
		</li>
	</ul>

<div class="clear"></div>
	<div class="white_line"></div>
		<% if not logged_in? %>
		<div class="pre_text">
			<%= tr("If you'd like to participate, <a href='{signup_url}'>please sign up</a>. Membership is free and you can even use your existing Facebook account.", "view/news/activity_list", :signup_url => new_user_url)%>
		</div>
		<% end %>

<% if logged_in? and (params[:action].include?("activities") or params[:action].include?("discussions")) %>
	<%= render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new } %>	
<% end %>

<% if params[:action].include?("network") and logged_in? and current_following_ids.empty? %>
	<%= tr("You can add people to your network by clicking the FOLLOW button on their profile page, then their updates will appear below.  To get started, here's a list of the <a href=\"/network\">most influential</a> people at {government.name}.", "view/news/activity_list") %>
<% end %>

<% if not @activities %>
	<%= tr("No activity here yet.", "view/news/activity_list")%>
<% else %>
<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities} %>
<div id="activities" class="single">
<% for activity in @activities %>
	<% if ['your_activity','your_capital','your_changes'].include?(params[:action]) %>
		<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_nouser"} %>
	<% else %>
		<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => ""} %>
	<% end %>
<% end %>
</div>

<%= will_paginate(@activities) %>
<% end %>
