<div id="hp_intro"><%= @page_title%></div>
<p>

<% if @activities.count == 0 && session[:selected_tag_name] %>
	<%= t('esb.empty_chapter')%>
<% elsif @activities.count < 1  %>
	<%= t('activities.empty')%>
<% else %>

<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities} %>
<div id="activities">
<% for activity in @activities %>

	<% if activity.priority_id %>
    	<%= render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_noself"} %>  <BR>		
	<% elsif activity.class == ActivityQuestionNew %>
  	    <%= render :partial => "questions/show_full", :locals => {:question => activity.question, :revision => nil}%>
	<% elsif activity.class == ActivityDocumentNew %>
		<%= render :partial => "documents/show_full", :locals => {:document => activity.document, :quality => nil, :revision => nil}%>
	<% end %>
<% end %>
</div>
<p>
<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities} %>
<% end %>
