<div id="hp_intro"><%= @page_title %></div>

<%= image_tag @user.buddy_icon.url(:icon_96), :border => 0 %>

<%= form_for(User.new, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<p><label for="picture"><%= tr("Upload your picture", "view/settings/picture")%></label>
<p>
<%= f.file_field :buddy_icon %><br/>
<span class="small"><%= tr("Must be a gif, jpg or png", "view/settings/picture") %></span>

<p><%= submit_tag tr("Upload and save your picture", "view/settings/picture"), :class => "yellow_button" %></p>
<% end %>

