<h2>Stillingar<%#= @page_title %></h2>

<% form_for(@user, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<div class="field">
	<h3>
		<%= t('settings.edit.email.label')%>
	</h3>
	<div class="field_box">
		<%= f.text_field :email %>
	</div>
	<div class="small"><%= t('settings.edit.email.example')%></div><br>
</div>
<div> 
	<h3>
		Mynd
	</h3>
	<p><%= render :partial => "users/pic_48", :locals => {:user => @user}%></p>
	<br/>
	<%#= image_tag @user.buddy_icon.url(:icon_48), :border => 0 %>
	<%if @user.has_picture? %>
		<br><br><%= link_to "Eyða mynd", "/destroy_picture" %>
	<%end%>
	<br/>
	<p><br/><label for="picture"><%= t('settings.picture.upload')%></label></p>
	<%= f.file_field :buddy_icon %><br/>
	<span class="small"><%= t('pictures.must') %></span>
</div>
<br>
<% if current_facebook_user %>
	<%= fb_logout_link("Aftengjast Facebook", "/disable_facebook") %>
<% end %>
<br>
<br>
<p><%= submit_tag "Vista breytingar", :class => "yellow_button browse" %></p>
<% end %>

