<h2>Stillingar<%#= @page_title %></h2>

<% form_for(@user, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>

<div class="field">
	<h3>
		<%= t('settings.edit.email.label')%>
	</h3>
	<div class="field_box">
		<%= f.text_field :email %>
	</div>
	<div class="small"><%= t('settings.edit.email.example')%></div><br>
</div>

<div> 
	<h3>
		Mynd
	</h3>
	<%= render :partial => "users/pic_48", :locals => {:user => @user}%>
	<br/>
	<%#= image_tag @user.buddy_icon.url(:icon_48), :border => 0 %>
	<%= link_to "Eyða mynd", "/destroy_picture" %><br/>
	<label for="picture"><%= t('settings.picture.upload')%></label><br/>
	<%= f.file_field :buddy_icon %><br/>
	<span class="small"><%= t('pictures.must') %></span>
</div>
<br>
<p><%= submit_tag "Breyta stillingum", :class => "yellow_button" %></p>
<% end %>

