<div id="hp_intro"><%= @page_title %></div>

<%= image_tag @user.buddy_icon.url(:icon_96), :border => 0 %>
<%= link_to "Eyða mynd", "/destroy_picture" %>
<% form_for(@user, :url => {:action => "picture_save" }, :html => {:multipart => true}) do |f| %>
<%= f.error_messages %>
<div class="field">
	<div class="field_label">
		<%= t('settings.edit.email.label')%>
	</div>
	<div class="field_box">
		<%= f.text_field :email %>
	</div>
	<div class="small"><%= t('settings.edit.email.example')%></div>
</div>
<p><label for="picture"><%= t('settings.picture.upload')%></label>
<p>
<%= f.file_field :buddy_icon %><br/>
<span class="small"><%= t('pictures.must') %></span>

<p><%= submit_tag "Breyta stillingum", :class => "yellow_button" %></p>
<% end %>

