<div id="hp_intro"><%= @page_title %></div>
			
<%= form_for(:user, :url => {:action => "update" }) do |f| %>

	<%= f.error_messages %>

    <div class="option_group" style="line-height: 1">
      <h4><%= tr("Periodic updates on your priorities", "view/settings/signups") %></h4>
        <%= f.radio_button :report_frequency, 2 %> <%= tr("Weekly", "view/settings/signups") %>
        <%= f.radio_button :report_frequency, 1 %> <%= tr("Monthly", "view/settings/signups") %>
        <%= f.radio_button :report_frequency, 0 %> <%= tr("Never", "view/settings/signups") %>
    </div>
    <br>
	<%= f.check_box :is_comments_subscribed %> <%= tr("Comments on your discussions", "view/settings/signups") %><br/>
	<%= f.check_box :is_point_changes_subscribed %> <%= tr("Revisions on your documents and points", "view/settings/signups")%><br/>	
	<%= f.check_box :is_followers_subscribed %> <%= tr("When someone follows you or one of your contacts joins", "view/settings/signups")%><br/>		
	<%= f.check_box :is_finished_subscribed %> <%= tr("When a priority's status is changed", "view/settings/signups")%><br/>
	<%= f.check_box :is_votes_subscribed %> <%= tr("When your vote is needed on an acquisition", "view/settings/signups")%><br/>
	<%= f.check_box :is_messages_subscribed %> <%= tr("Private messages and profile bulletins", "view/settings/signups")%><br/>	
	<% if current_user.is_admin? %>
		<%= f.check_box :is_admin_subscribed %> <%= tr("For administrators", "view/settings/signups")%><br/>
	<% end %>
	
	<%= hidden_field_tag "user[partner_ids][]", "" %>

	<% for partner in @partners %>
		<%= check_box_tag "user[partner_ids][]", partner.id, @user.partners.include?(partner) %> <%= partner.optin_text %>
		<div class="small" style="padding-left:2px;">from 
			<% if partner.has_website? %>
			<a href="<%= partner.website_link %>"><%= partner.name %></a>
			<% else %>
			<%= h(partner.name)%>
			<% end %>(<a href="<%= partner.privacy_url %>"><%= tr("privacy policy", "view/settings/signups")%></a>)
		</div>
	<% end %>
	<p>
	<%= submit_tag tr("Save email settings", "view/settings/signups"), :class => "yellow_button" %>
	<p><%= tr("You can also get all your notifications in an {rss_url}", "view/settings/signups", :rss_url => rss_url(@rss_url)) %>

<% end %>
