<h2><%= tr("Here's what the email will look like", "view/user_contacts/_preview")%></h2>
<p>
<%= tr("From:", "view/user_contacts/_preview")%> <%= current_government.admin_name %> &lt;<%= current_government.admin_email %>&gt;<br/>
<%= tr("To:", "view/user_contacts/_preview")%> <span class="highlight">Their Name &lt;theiremail@address.com&gt;</span><br/>
<%= tr("Subject:", "view/user_contacts/_preview")%> <%= tr("Invitation from {sender_name} to join Your Priorities","email", :sender_name=>current_user.name)%>

<% @government = current_government %>
<% @sender_name = tr("Name","views/user_contacts/_preview")%>
<% @to_name = tr("Name","views/user_contacts/_preview")%>
<% @sender = @recipient = @user = current_user %>

<div style="line-height: 20px;">
<%= render :partial=>"user_mailer/invitation" %>
</div>
