<table>
	<tr>
		<td width="460">
			<div id="hp_intro"><%= @page_title %></div>
		<p>
		</td>
	</tr>
</table>
<%= render :partial => "import_nav", :locals => {:user => current_user } %>

<% if not @users %>

	<p><%= tr("You are not following anyone yet.", "view/user_contacts/following")%>

<% else %>

	<p><%= tr("These are the people you're following, ranked by their influence on the site. <br/>You can also <a href='/news/your_network_activities'>follow their updates in the news section</a>, or <a href='/priorities/network'>see all their priorities in one list</a>.", "view/user_contacts/following")%>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td></td>
			<td><span class="table_header"><%= tr("Rank", "view/user_contacts/following") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Wk", "view/user_contacts/following") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Mo", "view/user_contacts/following") %></span></td>
			<td style="padding-left: 7px; margin-bottom: 2px;" colspan="2"></td>
		</tr>
	<% for user in @users %>
		<tr><td valign="top"></td>
			<%= render :partial => "priorities/rank_week_month", :locals => {:priority => user } %>
			<td valign="top" width="26" style="padding: 10px 5px 4px 7px;">
				<%= render :partial => "users/pic", :locals => {:user => user}%>
			</td><td style="padding: 7px 5px 4px 0px;" valign="top">
				<%= link_to user.login, user %><span class="pc"><%= user.capitals_count%><%= current_government.currency_short_name %></span>
				<% if user.followers_count > 0 %> <%= tr("{count} followers", "view/user_contacts/following", :count => user.followers_count)%><% end %>
				<% if user.has_top_priority? %>
					<br/><%= tr("#1 priority:", "view/user_contacts/following") %>
					<% if user.top_endorsement.is_down? %><span class="opposed"><%= tr("Opposing", "view/user_contacts/following")%></span><% end %>
					<%= link_to user.top_endorsement.priority.name, user.top_endorsement.priority %>.
				<% end %>
			</td>
		</tr>
	<% end %>

	</table>				
	<p>

<% end %>
