<div id="hp_intro"><%= @page_title %></div>
<p>
<%= tr("Invite intro BLURB", "view/user_contacts/new")%>
<p>
<%= form_for @contact, :remote=>true,
             'data-disable-with' =>  escape_t(tr("Sending","Ajax")),
             :url => user_contacts_path(@user) do |f| %>
  	<%= f.error_messages %>

	<% if logged_in? %>

		<% if @user.login != @user.real_name %>
			<%= tr("Should I reference your real name, or your site name?", "view/user_contacts/new")%>
			<br/>
			<%= f.radio_button :is_from_realname, false %> <%= @user.login %>					
		    <%= f.radio_button :is_from_realname, true %> <%= @user.real_name %>	
		<% end %>

	<% end %>

  	<p>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td><%= tr("Their name", "view/user_contacts/new")%></td><td style="padding-left: 10px;"><%= tr("Their email", "view/user_contacts/new")%></td><td></td></tr>
		<tr><td><%= f.text_field :name, :size => 17 %></td>
			<td style="padding-left: 10px;"><%= f.text_field :email, :size => 17 %></td>
			<td style="padding-left: 10px;">
			<%= link_to tr("Import your contacts", "view/user_contacts/new"), user_contacts_path(current_user) %>
			<div class="small"><%= tr("works with Google, Yahoo, Windows Live, and Facebook", "view/user_contacts/new")%></div>
			</td>
		</tr>
    </table>

	<p>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td>
    		<%= f.submit tr("Send email invitation", "view/user_contacts/new"), :class => "yellow_button" %>
		</td><td valign="top">
			<div id="status"></div>
		</td></tr>
	</table>
<% end %>

<%= render :partial => "preview" %>