<% if not ['inactive','buried'].include?(priority.status) %>
<table width="100%">
  <tr>
    <td align="left">
    	<div class="priority_actions">
    		<%= render :partial => "priorities/button_small", :locals => {:priority => priority, :endorsement => endorsement, :region => "priority_inline"} %>
    		<%= render :partial => "priorities/endorsement_count", :locals => {:priority => priority }%>
    	</div>
     </td>
     <td align="right">
       <fb:like href="<%=priority.show_url%>" layout="button_count" ref="priority" show-faces="false" width="120" action="<%=tr("like","facebook")%>" colorscheme="light">
       <%=render :partial=>"priorities/report_content", :locals=>{:priority=>priority} %>
     </td>
   </tr>
 </table>
<% end %>