	<div id="nav_sub">
		<% if @priority %>
		<div id="nav_sub_<% if @priority.new_record? %>1<% elsif @priority.is_finished? %>10<% elsif params[:controller] == 'ads' %>5<% elsif @endorsement %>1<% elsif @priority.is_top? %>4<% elsif @priority.is_official_endorsed? %>3<% elsif @priority.is_rising? %>7<% elsif @priority.is_new? %>9<% elsif @priority.is_controversial? %>6<% else %>8<% end %>">
		<% else %>
		<div id="nav_sub_<% if ['yours','yours_finished','yours_created','yours_top','yours_lowest','yours_ads'].include?(params[:action]) %>1<% elsif logged_in? and ['network'].include?(params[:action]) %>2<% elsif not logged_in? and ['index'].include?(params[:action]) %>2<% elsif ['official','not_official','official_opposed'].include?(params[:action]) %>3<% elsif ['top','top_24hr','top_7days','top_30days'].include?(params[:action]) %>4<% elsif ['ads'].include?(params[:action]) %>5<% elsif ['controversial'].include?(params[:action]) %>6<% elsif ['rising'].include?(params[:action]) %>7<% elsif ['random'].include?(params[:action]) %>8<% elsif ['newest'].include?(params[:action]) %>9<% elsif ['finished'].include?(params[:action]) %>10<% end %>">
		<% end %>
			<ul id="menu_sub">
				<% if not logged_in? and current_government.homepage == 'index' %>
				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Overview", "view/priorities/_browse_nav"), priorities_url %>
					</span>
				</li>
				<% end %>			
				<li class="tab9">
					<span class="tab_header">
						<%= link_to tr("New", "view/priorities/_browse_nav"), newest_priorities_url %>
					</span>
				</li>
				<li class="tab4">
					<span class="tab_header">
						<%= link_to tr("Top", "view/priorities/_browse_nav"), top_priorities_url %>
					</span>
				</li>
                <li class="tab8">
					<span class="tab_header">
						<%= link_to tr("Random", "view/priorities/_browse_nav"), random_priorities_url %>
					</span>
				</li>
				<li class="tab10">
					<span class="tab_header">
						<%= link_to tr("In progress", "view/priorities/_browse_nav"), finished_priorities_url %>
					</span>
				</li>														
				<% if logged_in? %>
				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Your network", "view/priorities/_browse_nav"), network_priorities_url %>
					</span>
				</li>
				<% end %>
				<% if current_government.has_official? %>			
					<li class="tab3">
						<span class="tab_header">
							<%= link_to current_government.official_user_short_name, official_priorities_url %>
						</span>
					</li>
				<% end %>
				<li class="tab6">
					<span class="tab_header">
						<%= link_to tr("Controversial", "view/priorities/_browse_nav"), controversial_priorities_url %>
					</span>
				</li>
				<li class="tab7">
					<span class="tab_header">
						<%= link_to tr("Rising", "view/priorities/_browse_nav"), rising_priorities_url %>
					</span>
				</li>
				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Yours", "view/priorities/_browse_nav"), yours_priorities_url %>
					</span>
				</li>
				<li class="tab5">
					<span class="tab_header">
						<%= link_to tr("Ads", "view/priorities/_browse_nav"), ads_priorities_url %>
					</span>
				</li>			
			</ul>
		</div>
	</div>


<% if logged_in? and ['yours','yours_finished','yours_created','yours_top','yours_lowest','yours_ads'].include?(params[:action]) or ( params[:controller] != 'ads' and @endorsement) or (@priority and @priority.new_record?) %>
	<div id="nav_third">
		<% if @priority and @endorsement %>
			<div id="nav_third_<% if current_user.id == @priority.user_id %>2<% elsif @endorsement and @priority.is_finished? %>6<% elsif @endorsement %>1<% end %>">		
		<% elsif @priority and @priority.new_record? %>	
			<div id="nav_third_2">
		<% else %>
		<div id="nav_third_<% if ['yours'].include?(params[:action]) %>1<% elsif ['yours_created'].include?(params[:action]) %>2<% elsif ['yours_ads'].include?(params[:action]) %>3<% elsif ['yours_top'].include?(params[:action]) %>4<% elsif ['yours_lowest'].include?(params[:action]) %>5<% elsif ['yours_finished'].include?(params[:action]) %>6<% end %>">	
		<% end %>
			<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Active", "view/priorities/_browse_nav"), yours_priorities_url %>
					</span>
				</li>

				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Priorities you created", "view/priorities/_browse_nav"), yours_created_priorities_url %>
					</span>
				</li>

				<li class="tab3">
					<span class="tab_header">
						<%= link_to tr("Ads you bought", "view/priorities/_browse_nav"), yours_ads_priorities_url %>
					</span>
				</li>
			
				<li class="tab4">
					<span class="tab_header">
						<%= link_to tr("Top ranked", "view/priorities/_browse_nav"), yours_top_priorities_url %>
					</span>
				</li>			

				<li class="tab5">
					<span class="tab_header">
						<%= link_to tr("Lowest ranked", "view/priorities/_browse_nav"), yours_lowest_priorities_url %>
					</span>
				</li>
			
				<li class="tab6">
					<span class="tab_header">
						<%= link_to tr("In progress", "view/priorities/_browse_nav"), yours_finished_priorities_url %>
					</span>
				</li>			

			</ul>
			
		</div>	
	</div>
<% elsif ['top','top_24hr','top_7days','top_30days'].include?(params[:action]) %>
  <div id="nav_third">
    <div id="nav_third_<% if ['top'].include?(params[:action]) %>11<% elsif ['top_24hr'].include?(params[:action]) %>12<% elsif ['top_7days'].include?(params[:action]) %>13<% elsif ['top_30days'].include?(params[:action]) %>14<% end %>"> 
      <ul id="menu_third">
        <li class="tab1">
          <span class="tab_header">
            <%= link_to tr("All", "view/priorities/_browse_nav"), top_priorities_url %>
          </span>
        </li>

        <li class="tab2">
          <span class="tab_header">
            <%= link_to tr("Active 24 hours", "view/priorities/_browse_nav"), top_24hr_priorities_url %>
          </span>
        </li>

        <li class="tab3">
          <span class="tab_header">
            <%= link_to tr("Active 7 days", "view/priorities/_browse_nav"), top_7days_priorities_url %>
          </span>
        </li>

        <li class="tab4">
          <span class="tab_header">
            <%= link_to tr("Active 30 days", "view/priorities/_browse_nav"), top_30days_priorities_url %>
          </span>
        </li>
      </ul>
    </div>  
  </div>
<% end %>

<% if logged_in? %>
<% if ['official','not_official','official_opposed'].include?(params[:action]) %>
	
	<div id="nav_third">
		<div id="nav_third_<% if ['official'].include?(params[:action]) %>1<% elsif ['not_official'].include?(params[:action]) %>2<% elsif ['official_opposed'].include?(params[:action]) %>3<% end %>">	

			<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Endorsed", "view/priorities/_browse_nav"), official_priorities_url %>
					</span>
				</li>			
	
				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Not on the agenda", "view/priorities/_browse_nav"), not_official_priorities_url %>
					</span>
				</li>	
			
				<li class="tab3">
					<span class="tab_header">
						<%= link_to tr("Opposed", "view/priorities/_browse_nav"), official_opposed_priorities_url %>
					</span>
				</li>	
			
			</ul>		
			
		</div>	
	</div>
<% end %>


<% end %>