<% if endorsement and endorsement.status == 'active' %>
  <% if endorsement.is_up? %>
    <div class="green_button green_button_priority" id="priority_add_<%= priority.id.to_s %>">
      <span class="text"><%= t('endorse.you') %></span>
      <span class="big_x">
      <%= link_to "X", endorsement_path(endorsement, :region => "priority_left"), :method => :delete, :remote=>true,
        :class => "priority_remove_link",
        'data-disable-with' => "",
        'data-loader-name' => "circle",
        :title => t('endorse.delete.title') %></span>
    </div>
  <% else %>
    <div class="red_button red_button_priority" id="priority_add_<%= priority.id.to_s %>">
      <%= t('oppose.you') %>
      <span class="big_x">
      <%= link_to "X", endorsement_path(endorsement, :region => "priority_left"), :method => :delete, :remote=>true, 
        :class => "priority_remove_link",
        'data-disable-with' => "",
        'data-loader-name' => "circle",
        :title => t('oppose.delete.title') %></span>
    </div>
  <% end %>
<% else %>
  <div class="yellow_button endorse" id="priority_add_<%= priority.id.to_s %>">
    <%= link_to t('endorse.capitalize'), endorse_priority_path(priority, :referral_id => (@user || nil), :region => "priority_left", :value => 1),
      :remote=>true, :method => :post,
      'data-disable-with' => escape_t(t(:ajax_endorsing)),
      'data-loader-name' => "horizontal_small",
      :class => "priority_add_link", :title => t('endorse.title') %>
  </div>
  <div class="endorse_or">
    <%= t('or') %>
  </div>
  <div class="yellow_button oppose" id="priority_add_<%= priority.id.to_s %>">
    <%= link_to t('oppose.capitalize'), endorse_priority_path(priority, :referral_id => (@user || nil), :region => "priority_left", :value => -1),
      :remote=>true, :method => :post,
      'data-disable-with' => escape_t(t(:ajax_opposing)),
      'data-loader-name' => "horizontal_small",
      :class => "priority_add_link", :title => t('oppose.title') %>
  </div>
<% end %>