<% if documents and documents.any? %>
	<% @document_value = document_value %>
	<p>
	<div class="heading_table">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr><td><div class="heading">
		<% if document_value == 0 %> 
			<%= tr("Documents", "view/priorities/_documents") %>
		<% elsif document_value == 1 %>
			<%= tr("Documents helpful to endorsers", "view/priorities/_documents") %>
		<% elsif document_value == -1 %>
			<%= tr("Documents helpful to opposers", "view/priorities/_documents") %>
		<% elsif document_value == 2 %>
			<%= tr("Documents helpful to undeclared", "view/priorities/_documents") %>
		<% end %>
		</div>
		</td>
		<td align="right">
			<div class="heading_link">
			<%= link_to tr("Add a document", "view/priorities/_documents"), new_priority_document_path(@priority) %>
			</div>
		</td>
	</tr>
	</table>
	</div>

	<% for document in documents %>
		<div class="document_inline" id="document_<%= document.id %>">
			<%= render :partial => "documents/show", :locals => {:document => document, :priority => @priority }%>
		</div>
	<% end %>

<% end %>