<span class="priority_<%= priority.id.to_s %>_endorsement_count priority_endorsement_count" id="priority_<%= priority.id.to_s %>_endorsement_count">
<%= link_to (priority.up_endorsements_count.to_s + ' ' + tr("endorsed", "view/priorities/_endorsement_count")).html_safe, endorsers_priority_url(priority) %>
<% if priority.down_endorsements_count > 0 %> 
	&middot; <%= link_to (priority.down_endorsements_count.to_s + ' ' + tr("opposed", "view/priorities/_endorsement_count")).html_safe, opposers_priority_url(priority) %>
<% end %>

<% if priority.points_count > 0 %>
	&middot; <%= link_to tr("{count} talking points", "view/priorities/_endorsement_count", :count => priority.points_count).downcase, top_points_priority_url(priority) -%>
<% else %>
	&middot; <%= link_to tr("New point", "view/priorities/_endorsement_count").downcase, new_priority_point_path(priority)+"?support=1" , :title => tr("Can you make a compelling point for or against this priority in less than 500 characters?", "view/priorities/_endorsement_count"), :class => "qtip_left" %>
<% end %>

<% if priority.discussions_count > 0 %> 
	&middot; <%= link_to tr("{count} discussions", "view/priorities/_endorsement_count", :count => priority.discussions_count), discussions_priority_url(priority) %>
<% end %>

<% if priority.priority_processes.count > 0 %> 
	&middot; <%= priority.latest_priority_process_at %>
<% end %>

<% if priority.is_official_endorsed? %> 
	&middot; <%= current_government.official_user_short_name %> <span class="endorsed"><%= tr("endorses", "view/priorities/_endorsement_count")%></span>
<% elsif priority.is_official_opposed? %> 
	&middot; <%= current_government.official_user_short_name %> <span class="opposed"><%= tr("opposes", "view/priorities/_endorsement_count")%></span>
<% end %>
</span>