<% if priority.flags_count > 0 and priority.status == 'published' and logged_in? and current_user.is_admin? %>
	<div class="warning_inline" id="priority_flag_<%= priority.id.to_s %>">
		<span class="red"><%= t('comments.flag.number', :count => priority.flags_count)%></span>. <%= t('comments.flag.issue_warning.action', :user_name => priority.user.login, :warnings_count => priority.user.warnings_count) %>
		<span class="tag_button">
			<%= link_to_remote t('doit'), { :url => "/priorities/abusive/#{priority.id}", :loading=>"update('#{t('comments.flag.issue_warning.ing')}')" }, :class => "quality_unhelpful_link", :title => t('comments.flag.issue_warning.name') %></span>
		<span class="or"><%= t('or') %></span>

		<span class="tag_button">
			<%= link_to_remote t('dont'), { :url => "/priorites/not_abusive/#{priority.id}", :loading=>"update('#{t('comments.flag.clear.ing')}')" }, :class => "quality_unhelpful_link", :title => t('comments.flag.clear.name') %>
		</span>		
	</div>
<% end %>