<% if params[:notice] %>
<%=  params[:notice] %>
<% end %>

<%=form_tag('/priorities/create', :method => :post)%>

<% if @tag_names %>
	<%= hidden_field_tag :tag_names, @tag_names %>
<% end %>

<h3>Búa til nýja hugmynd á Skuggaborg</h3>
<p><strong>Athugaðu fyrst hvort þegar er komin fram sambærileg hugmynd! Leitarglugginn hér til hægri er gagnlegur í slíkt. Ef margar hugmyndir um sama mál eru í gangi þá dreifast atkvæðin og minni líkur á að hún nái mikilli athygli.</strong></p>
		
		<div id="your_priority" class="form_header">Hver er hugmyndin? <span class="red">* </span> </div>
			<%= text_field_tag "priority[name]", nil, :size => 60, :maxlength => 60, :autocomplete =>"off" %><br>

      <br>
      Lýsing:<br>
      <%= text_area_tag "priority[html_description]", "", :size=>"150x30" %><br>
      <br>
      Netföng sem ekki mega kjósa um þetta mál (nota kommu á milli):<br>
      <%= text_field_tag "priority[block_emails_from_voting]" %><br>
			
<!--
<div class="tiny_info">Gott er að orða hugmynd skýrt, þá er auðveldara fyrir aðra að taka afstöðu til hennar.</div>			
-->		
					<% if Partner.current and Partner.current.custom_tag_checkbox and Partner.current.custom_tag_checkbox!="" %>
						
							<div  class="form_header">Flokkar sem hugmynd á að birtast í:</div>
						
							<%=Partner.current.custom_tag_checkbox%>? <%= check_box_tag 'custom_checkbox', Partner.current.custom_tag_checkbox%>
						
					<% else %>
						
							<div  class="form_header">Flokkar sem hugmynd á að birtast í:</div>
						
					<% end %>


					<% if Partner.current and Partner.current.custom_tag_dropdown_1 and Partner.current.custom_tag_dropdown_1!="" %>
						<span class="custom_tag">
							<%=select_tag "custom_tag_option_1", "#{Partner.current.custom_tag_dropdown_options(1)}"%>
						</span>
					<% end %>

					<% if Partner.current and Partner.current.custom_tag_dropdown_2 and Partner.current.custom_tag_dropdown_2!="" %>
						<span class="custom_tag">						
							<%=select_tag "custom_tag_option_2", "#{Partner.current.custom_tag_dropdown_options(2)}"%>
						</span>		

					</div>
					<% end %>
				
						<span class="custom_tag">						
						<%= text_field_tag :custom_tags %>		
						</span>				
						
						<div class="tiny_info"  id="br_hack"><br>Skrifaðu flokka og notaðu kommu á milli (flokkur, annar, þriðji)</div>


	<div class="field">
		<div class="field_label form_header"><%= t('points.new.website.label') %></div>
		<div class="field_box">
			<%= text_field_tag "point[website]", "", :size => 50 %>	
		</div>
		<div class="tiny_info">Settu inn slóð á vefsíðu, þína eða annara, sem styrkir hugmynd þitt.</div>
	</div>
		
	<%= submit_tag t('priorities.new.submit'), :class => "suggest_button" %>	
</form>
