<% if params[:notice] %>
  <%=  params[:notice] %>
<% end %>

<%= form_for @priority do |f| %>
  <%= f.error_messages %>
  
  <% if @tag_names %>
    <%= hidden_field_tag :tag_names, @tag_names %>
  <% end %>
  
  <h3><%=tr("Create a new priority","views/priorities/form")%></h3>
  <br>
  <div id="your_priority" class="form_header">
    <%=tr("What is your priority?","views/priorities/form")%>
    <span class="red">*</span>
  </div>

  <span class="priority_name">
    <%= f.text_field :name, :size => 60, :maxlength => 60, :autocomplete =>"off" %>
  </span>

  <br><br>

  <div id="priority_category">
    <div class="form_header">
      <%= tr("Select category","views/priorities/form")%>
			<span class="red">*</span><br>
    </div>
		
    <% Category.for_partner.each do |category| %>
      <%= f.radio_button :category_id, category.id %> <span class="Chapter_name"><%=category.i18n_name %></span>
    <% end %>
  </div>

  <br>

  <div class="form_header">
    <%=tr("Write your own categories, seperated by comma","views/priorities/form")%>
  </div>

  <span class="custom_tag">
    <%= text_field_tag :custom_tags, "", :maxlength => 200 %>
  </span>
  
  <br/>
  <br/>
  <br/>
  <div class="form_header">
    <%=tr("Add a point in support or against","views/priorities/form")%>
    <span class="red">*</span>
  </div>

  <%= f.fields_for(:points) do |point_form| %>
    <div class="field">
      <div class="field_box">
        <%= point_form.text_field :name, :size => 60, :maxlength => 60 %>
      </div>
      <div class="field_label">
        <div class="tiny_info"><em>
          <%=tr("To convince other people about this priority a strong point is important","views/priorities/form")%>
        </em></div>
      </div>
    </div>
    <div class="field form_header">
      <div class="field_label">
        <div id="point_supports">
          <%= point_form.radio_button :value, 1, :checked=>true %> <span class="point_supports_label"><%=tr("Yes, this point supports this priority","views/priorities/form")%></span>
        </div>
        <div id="point_opposes">
          <%= point_form.radio_button :value, -1 %> <span class="point_opposes_label"><%=tr("No, this point is against this priority","views/priorities/form")%></span>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <div class="field_label form_header">
        <%= tr("Explain your point.", "view/priorities/_form") %>
        <span id="pointContentDown"></span> <%= tr("characters left", "view/priorities/_form")%>
      </div>
      <div class="field_box">
        <%= point_form.text_area :content, :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
      </div>
      <div class="tiny_info_no_pad">
        <%=tr("Other people will be able to edit your points, similar to Wikipedia","views/priorities/form")%>
      </div>
    </div>
    
    <br>
    
    <div class="field">
      <div class="form_header">
        <%=tr("Add a link to an external website","views/priorities/form")%>
      </div>
      <div class="field_box">
        <%= point_form.text_field :website, :size => 50 %>
      </div>
    </div>

  <% end %>
  
  <br>
  
  <b><%= submit_tag tr("Create priority", "view/priorities/_form"), :class => "" %></b>
<% end %>
