<% form_for(Priority.new) do |f| %>
<% if @tag_names %>
	<%= hidden_field_tag :tag_names, @tag_names %>
<% end %>
<table width="100%">
	<tr>
		<td>Nafn á máli:<br>
			<%= f.text_field :name, :size => 40, :maxlength => 60, :autocomplete =>"off" %>		
		</td>
		<td>
			<table width="100%">
				<tr>
					<% if Partner.current and Partner.current.custom_tag_checkbox %>
						<td>
							Flokkar:
						</td>
						<td>
							<%=Partner.current.custom_tag_checkbox%>? <%= check_box_tag 'custom_checkbox', Partner.current.custom_tag_checkbox%>
						</td>
					<% else %>
						<td colspan="2">
							Flokkar:
						</td>
					<% end %>
				</tr>
				<tr>
					<% if Partner.current and Partner.current.custom_tag_dropdown_1 %>
						<td>
							<%=select_tag "custom_tag_option_1", "#{Partner.current.custom_tag_dropdown_options(1)}"%>
						</td>
					<% end %>
					<% if Partner.current and Partner.current.custom_tag_dropdown_2 %>
						<td>
							<%=select_tag "custom_tag_option_2", "#{Partner.current.custom_tag_dropdown_options(2)}"%>
						</td>
					<% end %>
				</tr>
				<tr>
					<td colspan="2">
						<%= text_field_tag :custom_tags %>		
						<span class="tiny_info"><br>Settu inn flokka og notaðu kommu á milli (flokkur 1,flokkur 2, flokkur 3)</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
</table>

<table border="0" cellspacing="0" cellpadding="0" class="margin-top">
	<tr>
		
		<td valign="top">

<%= blurb('point_new')%>

  <%= error_messages_for @point, :header_message => t('points.new.errors.header_message'), :message => t('points.new.errors.message') if @point %>
	<div class="field">
 		<div class="field_label">
			<span class="red">* </span> <%=t('points.new.name.label') %> 
		</div>
		<div class="field_box">
 			<%= text_field_tag "point[name]", "", :size => 50, :maxlength => 60 %>
		</div>
	</div>

	<div class="field">
		<div class="field_label">
			<table width="35%">
				<tr>
					<td align="left">
						Já, til stuðnings <%= radio_button_tag("point[value]", 1, true) %>						
					</td>
					<td align="left">
						Nei, á móti <%= radio_button_tag("point[value]", -1) %>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="field">
	    <div class="field_label"><%= t('points.new.content.label') %> <span id="pointContentDown"></span> <%= t('characters_left')%></div>
		<div class="field_box">
	    <%= text_area_tag "point[content]", "", :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
		</div>
	</div>				
	
	<div class="field">
		<div class="field_label"><%= t('points.new.website.label') %></div>
		<div class="field_box">
			<%= text_field_tag "point[website]", "", :size => 50 %>	
		</div>
	</div>
		
	<%= f.submit t('priorities.new.submit'), :class => "suggest_button" %>	

</td></tr></table>

<% end %>
