<% if params[:notice] %>
<%= params[:notice] %>
<% end %>
<%=form_tag('/priorities/create', :method => :post) %>
<h3>Setja inn nýtt umræðuefni</h3>
<div id="your_priority" class="form_header">
    Hvert er umræðuefnið? <span class="red">* </span>
</div>
<%= text_field_tag "priority[name]", nil, :size => 60, :maxlength => 60, :autocomplete =>"off" %>
<br>
Tengt kafla: <span class="custom_tag"><%=select_tag "custom_tag", "#{Tag.all_dropdown_options}" %></span>
<div class="field">
    <div class="field_label form_header">
        Útskýring á umræðuefni (500 stafir)
    </div>
    <div class="field_box">
        <%= text_area_tag "priority[description]", "", :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
    </div>
</div>
<%= submit_tag "Búa til umræðuefni", :class => "suggest_button" %>
</form>
