<% if params[:notice] %>
<%= params[:notice] %>
<% end %>
<%=form_tag('/priorities/create', :method => :post) %>
<h3>Setja inn nýtt umræðuefni</h3>
<div id="your_priority" class="form_header">
    Hvert er umræðuefnið? <span class="red">* </span>
</div>
<%= text_field_tag "priority[name]", nil, :size => 60, :maxlength => 60, :autocomplete =>"off" %>
<br>

<!-- Tengt kafla: <span class="custom_tag"><%=select_tag "custom_tag", "#{Tag.all_dropdown_options}" %></span> -->
<h4>Flokkur sem spurningin á heima í: <span class="star">*</span></h4>
	<div class="addContent_kaflar">
		<b>Utan EES</b><br />
			<% Tag.find(:all, :conditions=>"tag_type = 1", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/> <%=tag.name%><br />	
			<% end %>			
	</div>
	<div class="addContent_kaflar">
		<b>Að hluta í EES</b><br />
			<% Tag.find(:all, :conditions=>"tag_type = 2", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/> <%=tag.name%><br />	
			<% end %>			
	</div>
	<div class="addContent_kaflar">
		<b>Í EES</b><br />
			<% Tag.find(:all, :conditions=>"tag_type = 3", :order=>"weight").each do |tag|%>
				<input type="radio" name="custom_tag" value="<%=tag.name%>"/> <%=tag.name%><br />	
			<% end %>			
	</div>	
	

<div class="field">
   <b>Nánari lýsing á umræðuefninu þínu, 500 stafir eftir: <span class="star">*</span></b>
    <div class="field_box">
        <%= text_area_tag "priority[description]", "", :id => 'pointContent', :button => 'submit', :rows => 5, :cols => 60, :maxLength => 500 %>
    </div>
</div>
<%= submit_tag "Búa til umræðuefni", :class => "suggest_button" %>
</form>
