<% if current_government.has_official? %>
<div id="priority_<%= @priority.id %>_intro" class="intro">
	<% if @priority.is_official_endorsed? %> 
		<%= current_government.official_user.name %>
		<span class="endorsed"><%= tr("endorses", "view/priorities/_header")%></span>
	<% elsif @priority.is_official_opposed? %> 
		<%= current_government.official_user.name %>
		<span class="opposed"><%= tr("opposes", "view/priorities/_header")%></span>
	<% else %>
		<%= h(current_government.prompt) %>
	<% end %>
</div>
<% end %>
<%= render :partial=>"priorities/fb_og_tags" %>
<div id="priority_<%= @priority.id %>_name">
	<span class="priority_header_custom"><%= render :partial => "priorities/name", :locals => { :priority => @priority } %></span>
<%= render :partial => "priorities/tag_show_large", :locals => { :priority => @priority }%>
</div>
