<script type="text/javascript">
$(function(){
	$('.move_test').replaceWith($('.category'));
	$('.replace_fblike').replaceWith($('.fblike'));
	$('.replace_report').replaceWith($('.report1'));
	$('.replace_notice').replaceWith($('.single .warning_inline2'));
});
</script>

<% if current_government.has_official? %>
<div id="priority_<%= @priority.id %>_intro" class="intro">
	<% if @priority.is_official_endorsed? %> 
		<%= current_government.official_user.name %>
		<span class="endorsed"><%= tr("endorses", "view/priorities/_header")%></span>
	<% elsif @priority.is_official_opposed? %> 
		<%= current_government.official_user.name %>
		<span class="opposed"><%= tr("opposes", "view/priorities/_header")%></span>
	<% else %>
		<%= h(current_government.prompt) %>
	<% end %>
</div>
<% end %>

<table class="priority-show-table single">
    <tr>
      <%= render :partial => "priorities/rank_week_month", :locals => {:priority => @priority } %>

	    <% if @priority.category and @priority.category.icon -%>
			<div class="priority_icon_single">
				<%= image_tag @priority.category.icon.url(:icon_50), :size => "50x50", :border => 0 %>
			</div>
	    <% end %>

      <td valign="top" colspan="3">
				<ul>
					<li class="list_priority_overview">
				  	<div id="priority_<%= @priority.id %>" class="priority_listing">
				    	<%= render :partial => "priorities/listing", :locals => {:priority => @priority, :endorsement => @endorsement, :value => 0, :noaction=>true} %>
				  	</div>
					</li>

					<li class="list_report">
						<div class="replace_report" style="margin-left:10px !important;"></div>
					</li>

					<li class="list_right">
						<div class="tweet"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>

					</li>

					<li class="list_right">
						<div class="replace_fblike">
					
						</div>	
					</li>
				</ul>
				<div class="clear"></div>
				<div class="replace_notice"></div>
			    <% if @priority.status == "inactive" and [-1,-2,2].include?(@priority.official_status) %>
				<div class="finished_priority"><%= @priority.finished_status_message %></div>
				<% end %>
      </td>
    </tr>
		<tr><td height="10"></td></tr>
</table>
<br/>
