<table class="top-level-table">
  
  <% for priority in priorities %>
    <% if endorsements %>
      <% endorsement = endorsements.detect {|e| e.priority_id == priority.id } %>
    <% end %>
    <tr class="border">	
  		<td style="padding: 7px 0 7px;">
  			<table>
  			<tr class="border">
  			<td style="width: 20px;">
  				<%= image_tag("new/plus.png", :id=>"plus_for_#{priority.id}", :alt => "plus-icon") %>
          <script type="text/javascript">
            jQuery("#plus_for_<%=priority.id%>").click(function () {
                  var slide = jQuery("#points_overview_for_<%=priority.id%>");
                  if (!slide.data("loaded")) {
                      slide.load('<%=points_overview_priority_url(priority)%>');
                      slide.data("loaded", true);
											$('.border').css('border-bottom','none');
                  } else {
                      slide.slideToggle("slow");
											$('.border').css('border-bottom','none');
                  };
              });
          </script>
  			</td>
  			<td style="width: 70px;">
            <% if priority.category and priority.category.icon %>
				<%= image_tag priority.category.icon.url(:icon_50), :size => "50x50", :border => 0 %>
            <% end %>
  			</td>
  			<td>
        	<%= render :partial => "priorities/rank_week_month", :locals => {:priority => priority } %>
  			</td>      
  			<td valign="top" style="padding-left: 8px; padding-top: 0px;" colspan="3">
        <div id="priority_<%= priority.id %>" class="top_level_priority_listing">
          <%= render :partial => "priorities/listing", :locals => {:priority => priority, :endorsement => endorsement, :value => 0} %>
        </div>
        </td>
  			</tr>
  			</table>
  		</td>
    </tr>
    <tr>
       <td>
        <div id="points_overview_for_<%=priority.id%>"></div>
       </td>
    </tr>
  <% end %>
</table>
