<div id="right_column_priorities">

	<% if current_user.endorsements_count > 25 %>
		<div style="padding-left:30px; padding-bottom: 3px;">
			<%= will_paginate(current_user_endorsements, :renderer => 'RemoteLinkRenderer', :params => {:controller => :users, :action => :endorsements}, :class => "ajax_pagination", :inner_window => 2) %>
		</div>
	<% end %>

	<div id="your_priorities">

		<% for endorsement in current_user_endorsements -%>
			<div id="endorsement_<%= endorsement.id %>" style="cursor:move;" class="your_priority_endorsement">
				<table border="0" cellspacing="0" cellpadding="0" width="100%">
					<tr>
					<td valign="top" align="right" width="20" style="padding-top: 4px;">
						<div id="endorsement_<%= endorsement.id %>_row" class="endorsement_row">
						<%= link_to "#{endorsement.position}.", edit_endorsement_url(endorsement, :region => "yours"),
						            :method => :get,
                        'data-disable-with' => "",
                        'data-loader-name' => "circle",               
                        :remote=>true,
						            :title => tr("Click the number to change its position on your list. You can also drag and drop the names to sort.", "view/priorities/_yours") %>
						</div>
					</td>
					<td valign="top" width="220">
					<div class="endorsement_<% if endorsement.is_up? %>up<% else %>down<% end %>">
					<%= link_to_unless_current h(endorsement.priority.name), endorsement.priority %>
					</div>
					</td>
					<td valign="top">
					<div class="endorsement_x">
					<%= link_to "x", endorsement_path(endorsement, :region => "your_priorities"), 
					            :method => :delete,
                      'data-disable-with' => "",
                      'data-loader-name' => "circle",               
                      :remote=>true,
					            :class => "your_priorities_remove", :title => tr("Click the X to remove this priority from your list", "view/priorities/_yours")%>	
					</div>
					</td>		
				</tr>
				</table>
			</div>	
		<% end %>

		<%= sortable_element :your_priorities, :tag => 'div',
		  	:url => { :controller => :users, :action => :order }
		 	%>
		
	</div>

	<% if current_user.endorsements_count < 5 %>
		<% if current_user.endorsements_count > 0 %>
			<p>
		<% end %>
		<div style="padding: 0px 10px 10px 10px;">
<%= tr("<p>Click on an <span class=\\"priority_add\\">endorse</span> or <span class=\\"priority_add\\">oppose</span> button to add a priority to your list.  Then drag and drop to change the order.</p>", "view/priorities/_yours")%>
<%= tr("<p>The big numbers you see next to each priority is the overall rank across all members.  The higher your endorsement or opposition is in your list, the more it impacts the rankings.</p>", "view/priorities/_yours")%>
<%= tr("<p>Need inspiration? Try a few <a href=\"/priorities/random\">random priorities</a>.</p>", "view/priorities/_yours")%>		
		  </div>
	<% end %>

	<% if current_user.endorsements_count > 25 %>
		<div style="padding: 0px 0px 10px 20px;">
			<%= will_paginate(current_user_endorsements, :renderer => 'RemoteLinkRenderer', :params => {:controller => :users, :action => :endorsements}, :class => "ajax_pagination", :inner_window => 2) %>
		</div>
	<% end %>
	
	<% if current_user.endorsements_count > 4 %>

		<div style="padding: 0px 0px 10px 20px;">
<%= tr("<p>Drag and drop to re-order your list or click the # to change its priority.</p>", "view/priorities/_yours")%>
<%= tr("<p>Need help prioritizing?  Try the <a href='/prioritizer' title=\"The quiz is a fun and simple way to organize your priorities\">priority quiz</a>.</p>", "view/priorities/_yours")%>
		</div>
	
	<% end %>

</div>
