<div id="hp_intro"><%= @page_title%></div>
<p>
<%=tr("Ads are bought with Social Points your earn at {government_name}, not regular money.  You can earn social points <a href=\"/about/faq#pc\">in many ways.</a>","ads", :government_name => tr(current_government.name,"Name from database"))%><br><br>
<%=tr("Here you see all the ads and how many members have <span style=\"background-color: #009933;\">&nbsp; &nbsp; </span> &nbsp;endorsed, <span style=\"background-color: #bc0000;\">&nbsp; &nbsp; </span> &nbsp;opposed, or <span style=\"background-color: #ffcc00;\">&nbsp; &nbsp; </span> &nbsp;not responded.","ads")%><br>

<% if @ads.empty? %>
<%=tr("No ads.","ads")%>
<% else %>

	<% shown_active = false %>
	<% shown_past = false %>
	<% for ad in @ads %>
		
		<% if ad.status == 'active' and not shown_active %>
		<% shown_active = true %>
		<div class="heading"><%=tr("Running ads","ads")%></div>
		<% elsif ad.status != 'active' and not shown_past %>
		<p>
		<% shown_past = true %>
		<div class="heading"><%=tr("Old ads","ads")%></div>
		<% end %>
		
		<%= render :partial => "ads/show_inline", :locals => {:ad => ad}%>

	<% end %>
	
	<p>
	<%= will_paginate(@ads) %>
	
<% end %>
