<div id="hp_intro"><%= @page_title%></div>
<p>
	Auglýsingar <%= current_government.name %> eru keyptar með <%= current_government.currency_name.downcase %>, ekki hefðbundnum peningum. Merkingin <span class="pc"><%= current_government.currency_short_name %></span> hjá nöfnum fólks vísar í þetta. Þú getur unnið þér inn <span class="pc"><%= current_government.currency_short_name %></span> á <a href="/about/faq#pc">marga vegu</a>.
	<p>Hér sérðu þær auglýsingar sem eru í gangi núna og sláin sýnir þér hversu margir félagar hafa <span style="background-color: #009933;">&nbsp; &nbsp; </span> &nbsp;stutt, <span style="background-color: #bc0000;">&nbsp; &nbsp; </span> &nbsp;verið á móti, eða <span style="background-color: #ffcc00;">&nbsp; &nbsp; </span> &nbsp;hafa ekki svarað.  Til að kaupa auglýsingu smellti þá á málið, veldu "Aðgerð" og veldu "Kaupa auglýsingu".

<% if @ads.empty? %>
Engar auglýsingar inni núna. 
<% else %>

	<% shown_active = false %>
	<% shown_past = false %>
	<% for ad in @ads %>
		
		<% if ad.status == 'active' and not shown_active %>
		<% shown_active = true %>
		<div class="heading">Currently running ads</div>
		<% elsif ad.status != 'active' and not shown_past %>
		<p>
		<% shown_past = true %>
		<div class="heading">Past ads</div>
		<% end %>
		
		<%= render :partial => "ads/show_inline", :locals => {:ad => ad}%>

	<% end %>
	
	<p>
	<%= will_paginate(@ads) %>
	
<% end %>
