<%= render :partial => "header" %>
<%= render :partial => "nav" %>
<p>
<%= form_for(@priority) do |f| %>
  	
<%= f.error_messages %>

	<div class="field">
		<div class="field_label">
			<%= tr("Priority name", "view/priorities/edit")%>
		</div>
		<div class="field_box">
		<%= f.text_field :name, :size => 40, :maxlength => 60, :id => "dontautocompletethis" %>
		</div>
	</div>

    <% if current_partner and current_partner.required_tags %>
        <div class="field">
          <div class="field_label">
            <%= tr("Priority type", "views/priorities/form") %>
          </div>
          <% current_partner.required_tags.split(',').each do |partner_tag| %>
              <%= f.radio_button :priority_type, partner_tag, checked: @priority.issue_list.include?(partner_tag) %>
              <span class="Chapter_name"><%= tr(partner_tag, "views/priorities/form") %></span>
          <% end %>
        </div>
    <% end %>

  <div class="field">
    <div class="field_label">
      <%= tr("Category", "view/users/_form_long")%>
    </div>
    <div class="field_box">
       <%= f.select :category, options_for_select_simple(Category.all.collect{|s|[s.i18n_name,s.id]}, @priority.category.id) %>
    </div>
  </div>

	<br />
	<%= f.submit tr("Save priority", "view/priorities/edit"), :class => "yellow_button" %>
	
<% end %>
