<%= render :partial => "header" %>
<%= render :partial => "nav" %>
<p>
<%= form_for(@priority) do |f| %>
  	
<%= f.error_messages %>

	<div class="field">
		<div class="field_label">
			<%= tr("Priority name", "view/priorities/edit")%>
		</div>
		<div class="field_box">
		<%= f.text_field :name, :size => 40, :maxlength => 60, :id => "dontautocompletethis" %>
		</div>
	</div>

  <div class="field">
    <div class="field_label">
      <%= tr("Category", "view/users/_form_long")%>
    </div>
    <div class="field_box">
       <%= f.select :category, options_for_select_simple(Category.all.collect{|s|[s.i18n_name,s.id]}, @priority.category.id) %>
    </div>
  </div>

	<br />
	<%= f.submit tr("Save priority", "view/priorities/edit"), :class => "yellow_button" %>
	
<% end %>
