<h1 id="hp_intro"><%= @page_title %></h1>
<p>
<% if current_government.has_official? %>

	<% if params[:action] == 'not_official' %>
	<%= tr("These are the priorities NOT on {official_user_name} agenda as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% elsif params[:action] == 'official' %>
	<%= tr("These are the priorities {official_user_name} endorses, as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% elsif params[:action] == 'official_opposed' %>
	<%= tr("These are the priorities {official_user_name} opposes, as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% end %>
	
<% end %>

<% if params[:action] == 'yours_created' %>
	<%= tr("This is where priorities you've created go, so you can easily reference them and track their progress.", "view/priorities/list")%>
	<p>
<% end %>

<% if @priorities.any? %>
  <%= render :partial=>"priorities/top_level_listing", :locals=>{:priorities=>@priorities, :endorsements=>@endorsements}%> 
	<p>
  <%= will_paginate @priorities %>

	<% if params[:action] == 'yours_created' %>
		<p><%= tr("You can also follow all the <a href='/news/your_priorities_created_activities'>activity</a> and <a href='/news/your_priorities_created_discussions'>discussions</a> on priorities you created.", "view/priorities/list")%>
	<% end %>
<% end %>