<h1 id="hp_intro"><%= @page_title %></h1>
<p>
<% if current_government.has_official? %>

	<% if params[:action] == 'not_official' %>
	<%= tr("These are the priorities NOT on {official_user_name} agenda as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% elsif params[:action] == 'official' %>
	<%= tr("These are the priorities {official_user_name} endorses, as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% elsif params[:action] == 'official_opposed' %>
	<%= tr("These are the priorities {official_user_name} opposes, as prioritized by all members.", "view/priorities/list", :official_user_name => current_government.official_user.name)%>
	<p>
	<% end %>
	
<% end %>

<% if params[:action] == 'yours_created' %>
	<%= tr("This is where priorities you've created go, so you can easily reference them and track their progress.", "view/priorities/list")%>
	<p>
<% end %>

<% if @priorities.any? %>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="right" style="padding-right: 5px;"><span class="table_header"><%= tr("Rank", "view/priorities/list") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Wk", "view/priorities/list") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Mo", "view/priorities/list") %></span></td>
			<td style="padding-left: 7px; padding-bottom: 2px;"><nobr><%= will_paginate @priorities %></nobr></td>
			<td></td>
			<td align="right" width="100%"><%= rss_url(@rss_url) %></td>	
		</tr>
	<% for priority in @priorities %>
		<% if @endorsements %>
			<% endorsement = @endorsements.detect {|e| e.priority_id == priority.id } %>
		<% end %>
		<tr>
			<%= render :partial => "priorities/rank_week_month", :locals => {:priority => priority } %>
			<td valign="top" style="padding-left: 8px;" colspan="3">
			<div id="priority_<%= priority.id %>" class="priority_listing">
				<%= render :partial => "priorities/listing", :locals => {:priority => priority, :endorsement => endorsement, :value => 0} %>
			</div>
			</td>
		</tr>
	<% end %>

	</table>
	<p>
	<%= will_paginate @priorities %>

	<% if params[:action] == 'yours_created' %>
		<p><%= tr("You can also follow all the <a href='/news/your_priorities_created_activities'>activity</a> and <a href='/news/your_priorities_created_discussions'>discussions</a> on priorities you created.", "view/priorities/list")%>
	<% end %>


<% end %>