<div id="hp_intro"><%= @page_title %></div>

<p>
<% if current_user.followings_count == 0 %>
	<%= tr("You don't have anyone in your network yet because you aren't following anyone.", "view/priorities/network", :url => user_contacts_path(current_user), :government_name => current_government.name)%>
<% else %>
	<%= tr("Here are just your priorities and the <a href='{url}'>{count} people in your network</a>, not all of {government_name}.", "view/priorities/network", :count => current_user.followings_count, :url => following_user_contacts_path(current_user), :government_name => current_government.name)%>
<% end %>

<%= tr("Network intro BLURB", "view/priorities/network")%>
<p>
<% if current_user.followings_count > 0 %>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="right" style="padding-right: 5px;"><span class="table_header"><%= tr("Rank", "view/priorities/network") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Wk", "view/priorities/network") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Mo", "view/priorities/network") %></span></td>
			<td style="padding-left: 7px; padding-bottom: 2px;"><%= will_paginate @priorities %></td>	
		</tr>
	<% for e in @priorities %>
		<% if @endorsements %>
			<% endorsement = @endorsements.detect {|p| p.priority_id == e.priority_id } %>
		<% end %>
		<tr>
			<%= render :partial => "priorities/rank_week_month", :locals => {:priority => e.priority } %>
			
			<td valign="top" style="padding-left: 8px;">
				<div id="priority_<%= e.priority_id %>" class="priority_listing">
					<div class="point_name" id="priority_<%= e.priority_id %>_name">
						<%= link_to_unless_current h(e.priority.name), e.priority, :class => "priority_name_link" %>
					</div>
					<%= render :partial => "priorities/tag_show", :locals => { :priority => e.priority }%>	
					<div class="priority_actions">
						<%= render :partial => "priorities/button_small", :locals => {:priority => e.priority, :endorsement => endorsement, :region => "priority_inline"} %>
						<span class="priority_endorsement_count" id="network_<%= e.priority_id.to_s %>_endorsement_count">
							<%= tr("{count} people in your network", "view/priorities/network", :count => e.endorsements_number.to_i)%>
							<% if e.priority.discussions_count > 0 %> &middot; <%= link_to tr("{count} discussions", "view/priorities/network", :count => e.priority.discussions_count), discussions_priority_url(e.priority) %><% end %><% if e.priority.is_official_endorsed? %> &middot; <%= current_government.official_user_short_name %> <span class="endorsed"><%= tr("endorses", "view/priorities/network")%></span><% elsif e.priority.is_official_opposed? %> &middot; <%= current_government.official_user_short_name %> <span class="opposed"><%= tr("opposes", "view/priorities/network")%></span><% end %>
						</span>
					</div>
				</div>			
			</td>
			
		</tr>
	<% end %>

	</table>
	<p>
	<%= will_paginate @priorities %>
	
<% end %>
