<%= render :partial => "shared/rss_feed" %>
<div id="priorities_div">
	<% if @priorities.count == 0 %>
		<%= t('esb.empty_chapter')%>
	<% end %>
	<%=render :partial=>"newest"%>
</div>
<%= will_paginate @priorities %>
<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/priorities/newest"}%>
