<%= render :partial => "header" %>
<%= render :partial => "nav" %>
<table id="top_questions_table" class="container_12 newpoints">
    <tr>
        <td>
            <h2><%=t('points.top_points.best_questions_for_endorse') %><%=get_questions_number_text(@questions_top_up.length,@total_up_points) %></h2>
            <p class="below_line">
                <%=link_to(t('points.top_points.all_best_questions_for_endorse'), endorsed_top_questions_priority_url(@priority)) %>
            </p>
            <div id="pro_top">
                <%= render :partial => "questions/short_list", :locals => {:id => "pro_top", :questions => @questions_top_up, :numbering=>true} %>
            </div>
        </td>
        <td id="point_right" class="grid_6 against">
            <div class="sub_header pro">
                <h2><%=t('points.top_points.best_questions_for_oppose') %><%=get_questions_number_text(@questions_top_down.length,@total_down_points) %></h2>
                <p class="below_line">
                    <%=link_to(t('points.top_points.all_best_questions_for_oppose'), opposed_top_questions_priority_url(@priority)) %>
                </p>
            </div>
            <div id="con_top">
                <%= render :partial => "questions/short_list", :locals => {:id => "con_top", :questions => @questions_top_down, :numbering=>true} %>
            </div>
        </td>
    </tr>
    <tr>
        <td id="" class="grid_6">
            <div class="sub_header">
                <h2><%=t('points.top_points.newest_questions_for_endorse') %><%=get_questions_number_text(@questions_new_up.length,@total_up_questions_new,true) %></h2>
                <p class="below_line">
                    <%=link_to(t('points.top_points.all_newest_questions_for_endorse'), endorsed_top_questions_priority_url(@priority,:by_newest=>true)) %>
                </p>
            </div>
            <div id="pro_new">
                <%= render :partial => "questions/short_list", :locals => {:id => "pro_new", :questions => @questions_new_up, :numbering=>false} %>
            </div>
        </td>
        <td id="point_right" class="grid_6 against">
            <div class="sub_header">
                <h2><%=t('points.top_points.newest_questions_for_oppose') %><%=get_questions_number_text(@questions_new_down.length,@total_down_questions_new,true) %></h2>
                <p class="below_line">
                    <%=link_to(t('points.top_points.all_newest_questions_for_oppose'), opposed_top_questions_priority_url(@priority,:by_newest=>true)) %>
                </p>
            </div>
            <div id="con_new">
                <%= render :partial => "questions/short_list", :locals => {:id => "con_new", :questions => @questions_new_down, :numbering=>false} %>
            </div>
        </td>
    </tr>
</table>
