<%= render :partial => "header" %>
<%= render :partial => "nav" %>

<table id="" class="container_12">
		<tr>
			<td>
				<h2><%=t('points.top_points.best_points_for_endorse')%></h2>
				<p class="below_line"><%=link_to(t('points.top_points.all_best_points_for_endorse'), endorsed_top_points_priority_url(@priority))%> | 
				<%=link_to(t('points.top_points.add_point_for_endorse'), new_priority_point_path(@priority,:support=>true))%></p>
				</div>
				<div id="pro_top">
					<%= render :partial => "points/short_list", :locals => {:id => "pro_top", :points => @points_top_up} %>
				</div>
			</td>
			<td id="point_right" class="grid_6 against">
				<div class="sub_header pro">
					<h2><%=t('points.top_points.best_points_for_oppose')%></h2>
					<p class="below_line"><%=link_to(t('points.top_points.all_best_points_for_oppose'), opposed_top_points_priority_url(@priority))%> | 
					<%=link_to(t('points.top_points.add_point_for_oppose'), new_priority_point_path(@priority,:support=>false))%></p>
				</div>
				<div id="con_top">
					<%= render :partial => "points/short_list", :locals => {:id => "con_top", :points => @points_top_down} %>
				</div>
			</td>
		</tr>
</table>
  
<table id="" class="container_12 newpoints">
	<tr>
		<td id="" class="grid_6">
			<div class="sub_header">
				<h2><%=t('points.top_points.newest_points_for_endorse')%></h2>
				<p class="below_line"><%=link_to(t('points.top_points.all_newest_points_for_endorse'), endorsed_top_points_priority_url(@priority,:by_newest=>true))%> | 
				<%=link_to(t('points.top_points.add_point_for_endorse'), new_priority_point_path(@priority,:support=>true))%></p>
			</div>
			<div id="pro_new">
				<%= render :partial => "points/short_list", :locals => {:id => "pro_new", :points => @points_new_up} %>
			</div>
		</td>
		<td id="point_right" class="grid_6 against">
			<div class="sub_header">
				<h2><%=t('points.top_points.newest_points_for_oppose')%></h2>
				<p class="below_line"><%=link_to(t('points.top_points.all_newest_points_for_oppose'), opposed_top_points_priority_url(@priority,:by_newest=>true))%> | 
				<%=link_to(t('points.top_points.add_point_for_oppose'), new_priority_point_path(@priority,:support=>false))%></p>
			</div>
			<div id="con_new">
				<%= render :partial => "points/short_list", :locals => {:id => "con_new", :points => @points_new_down} %>
			</div>
		</td>
	</tr>
</table>
