<div id="hp_intro"><%= @page_title%></div>
<p>
	
<% if @ads.empty? %>
<%= tr("<p>Ads at {government.name} are bought with social points, not money. That's what the <span class=\"pc\">sp</span> next to people's names refers to.  You can earn<span class=\"pc\">social points</span> in a variety of ways, <a href=\"/about/faq\#pc\">details are here</a>.  </p>", "view/priorities/yours_ads")%>
<%= tr("<p>To place an ad, click on one of your priorities, then the \"Action\" and \"Purchase an ad\".<p>", "view/priorities/yours_ads")%>
<% else %>

	<%= tr("These are your ads, and the bars show how many members have <span class='endorsed'>&nbsp; &nbsp;</span> &nbsp;endorsed, <span class='opposed'>&nbsp; &nbsp;</span> &nbsp;opposed, or <span class='compromised'>&nbsp; &nbsp;</span> &nbsp;not responded yet. <br/>To place an ad, click on one of your priorities, then Action > Purchase an ad.", "view/priorities/yours_ads")%>
	
	<% shown_active = false %>
	<% shown_past = false %>
	<% for ad in @ads %>
		
		<% if ad.status == 'active' and not shown_active %>
		<% shown_active = true %>
		<div class="heading"><%= tr("Currently running ads", "view/priorities/yours_ads")%></div>
		<% elsif ad.status != 'active' and not shown_past %>
		<p>
		<% shown_past = true %>
		<div class="heading"><%= tr("Past ads", "view/priorities/yours_ads")%></div>
		<% end %>
		
		<%= render :partial => "ads/show_inline", :locals => {:ad => ad}%>

	<% end %>
	
	<p>
	<%= will_paginate(@ads) %>
	
<% end %>
