<h1><%= @page_title %></h1>

<%= render :partial => "priorities/new_button" %>

<% if params[:action] == 'yours_finished' %>
	<%= tr("Like a to do list, when priorities you've endorsed or opposed are finished, they will fall off your list and be placed here.", "view/priorities/yours")%>
<% end %>
	
	
<% if @priorities.empty? %>
	<%= tr("You have not endorsed any priorities yet. For inspiration, why not check out some <a href='/priorities/random'>random priorities</a>?", "view/priorities/yours")%>
<% else %>

	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="right" style="padding-right: 5px;"><span class="table_header"><%= tr("Rank", "view/priorities/yours") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Wk", "view/priorities/yours") %></span></td>
			<td style="padding-left: 3px;"><span class="table_header"><%= tr("Mo", "view/priorities/yours") %></span></td>
			<td style="padding-left: 7px; padding-bottom: 2px;"><%= will_paginate @priorities %></td>	
		</tr>
	<% for e in @priorities %>
		<tr>
			<%= render :partial => "priorities/rank_week_month", :locals => {:priority => e.priority } %>
			<td valign="top" style="padding-left: 8px;">
			<div id="priority_<%= e.priority.id %>" class="priority_listing">
				<%= render :partial => "priorities/listing", :locals => {:priority => e.priority, :endorsement => e, :value => 0} %>
			</div>
			</td>
			
		</tr>
	<% end %>

	</table>
	<p>

	<%= will_paginate @priorities %>

	<p><%= tr("You can also follow all the <a href='/news/your_priority_activities'>activity</a> and <a href='/news/your_priority_discussions'>discussions</a> on your priorities.", "view/priorities/yours")%>
		
<% end %>