<% if quality %>
	<% if quality.is_helpful? %>
		<div class="grey_button_wide" id="priority_add_<%= document.id.to_s %>">
			<%= tr("HELPFUL", "view/documents/_button")%>
			<span class="big_x">
			<%= link_to "X", unquality_document_path(document, :region => "document_detail"),
                :method => :post,
                :remote=>true,
                'data-disable-with' => "",
                'data-loader-name' => "circle",
 	              :class => "priority_remove_link", :title => tr("This is no longer helpful", "view/documents/_button") %>		
			</span>
		</div>			
	<% else %>
	<div class="grey_button_wide" id="priority_add_<%= document.id.to_s %>">
		<%= tr("NOT HELPFUL", "view/documents/_button")%>
		<span class="big_x">
		<%= link_to "X", unquality_document_path(document, :region => "document_detail"), 
                :method => :post,
                :remote=>true,
                'data-disable-with' => "",
                'data-loader-name' => "circle",
		            :class => "priority_remove_link", :title => tr("This is no longer unhelpful", "view/documents/_button") %>
		</span>	
	</div>	
	<% end %>
<% else %>
	<div class="grey_button_wide" id="priority_add_<%= document.id.to_s %>">
		<%= link_to tr("Helpful?", "view/documents/_button"), quality_document_path(document, :region => "document_detail", :value => 1),
                :remote=>true,
                :method => :post,
                'data-disable-with' => escape_t(tr("Helpful","Ajax")),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => tr("This is helpful", "view/documents/_button") %>								
	</div>
	<div class="endorse_or"><%= tr("OR", "view/documents/_button") %></div>
	<div class="grey_button_wide" id="priority_add_<%= document.id.to_s %>">
		<%= link_to tr("Not Helpful?", "view/documents/_button"), quality_document_path(document, :region => "document_detail", :value => -1),
                :method => :post,
                :remote=>true,
                'data-disable-with' => escape_t(tr("Unelpful","Ajax")),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => tr("This is not helpful", "view/documents/_button") %>								
	</div>	
<% end %>
