<div id="document_<%= document.id %>_quality">
<% if quality %>

	<% if quality.is_helpful? %>
		<span class="tag_button" id="document_helpful_<%= document.id.to_s %>">
			<%= tr("HELPFUL", "view/documents/_button_small")%> 
			<%= link_to "&nbsp;x".html_safe, unquality_document_path(document, :region => "document_inline"), 
                  :method => :post,
                  :remote=>true,
                  'data-disable-with' => "",
                  'data-loader-name' => "horizontal_small",
 			            :class => "quality_remove", :title => tr("This is no longer helpful", "view/documents/_button_small") %>
		</span>
	<% else %>
		<span class="tag_button" id="document_helpful_<%= document.id.to_s %>">
			<%= tr("NOT HELPFUL", "view/documents/_button_small")%>
			<%= link_to "&nbsp;x".safe_html, unquality_document_path(document, :region => "document_inline"),
                  :method => :post,
                  :remote=>true,
                  'data-disable-with' => "",
                  'data-loader-name' => "circle",
  			          :class => "quality_remove", :title => tr("This is no longer unhelpful", "view/documents/_button_small") %>
		</span>	
	<% end %>

<% end %>

<%= render :partial => "points/helpful_count", :locals => {:point => document} %>

<% if document.discussions_count > 0 %>
	<%= link_to tr("{count} discussions", "view/documents/_button_small", :count => document.discussions_count), document %>.
<% end %>

<% if not quality and logged_in? %>
	<%= tr("Is this helpful?", "view/documents/_button_small")%>
	<span class="tag_button" id="priority_add_<%= document.id.to_s %>">
		<%= link_to tr("YES", "view/documents/_button_small"), quality_document_path(document, :region => "document_inline", :value => 1), 
                :method => :post,
                :remote=>true,
                'data-disable-with' => escape_t(tr(:ajax_helpful.to_s)),
                'data-loader-name' => "horizontal_small",
		            :class => "quality_helpful_link", :title => tr("This is helpful", "view/documents/_button_small") %></span>
		
	<span class="or"><%= tr("OR", "view/documents/_button_small") %></span>

	<span class="tag_button" id="priority_add_<%= document.id.to_s %>">
		<%= link_to tr("NO", "view/documents/_button_small"), quality_document_path(document, :region => "document_inline", :value => 0),
                :method => :post,
                :remote=>true,
                'data-disable-with' => escape_t(tr(:ajax_unhelpful.to_s)),
                'data-loader-name' => "horizontal_small",
		            :class => "quality_unhelpful_link", :title => tr("This is not helpful", "view/documents/_button_small") %>		
	</span>	
<% end %>
</div>