<% if document.flags_count > 0 and document.status == 'published' and logged_in? and current_user.is_admin? %>
	<div class="warning_inline" id="document_flag_<%= document.id.to_s %>">
		<span class="red"><%= t('comments.flag.number', :count => document.flags_count)%></span>. <%= t('comments.flag.issue_warning.action', :user_name => document.user.login, :warnings_count => document.user.warnings_count) %>
		<span class="tag_button">
			<%= link_to t('doit'), "/documents/abusive/#{document.id}",
                  :remote=>true,
                  'data-disable-with' => escape_t(t(:ajax_issuing_warning)),
                  'data-loader-name' => "horizontal_small",
			            :class => "quality_unhelpful_link", :title => t('comments.flag.issue_warning.name') %></span>
		<span class="or"><%= t('or') %></span>

		<span class="tag_button">
			<%= link_to t('dont'), "/documents/not_abusive/#{document.id}",
                  :remote=>true,
                  'data-disable-with' => escape_t(t(:ajax_clearing_warning)),
                  'data-loader-name' => "horizontal_small",
			            :class => "quality_unhelpful_link", :title => t('comments.flag.clear.name') %>
		</span>		
	</div>
<% end %>