<div class="point" id="<%= document.id %>">
<div class="point_name">
<%= link_to_unless_current h(document.name), document %>
</div>
<div class="point_byline">
	<%= t('revisions.word_count', :count => document.word_count) %> <%= t('revisions.byline', :author_sentence => document.author_sentence) %>, <%= t('revisions.added', :time_ago => time_ago(document.created_at)) %>
</div>

</div>
