<div class="point" id="<%= document.id %>">
	<div class="entry_box">
		<%= render :partial => "shared/entry_icons", :locals => {:content => document.content, :action_item=>document}%> 
		<%= render :partial => "users/pic_48", :locals => {:user => document.user}%> 
		
		<% if revision %>
			<h4><%= link_to_unless_current h(revision.name), document_revision_url(document,revision) %></h4>
		<% else %>
			<h4><%= link_to_unless_current h(document.name), document %></h4>
		<% end %>
			
		<span class="entry_profile">
			<%= t('revisions.byline', :author_sentence => document.author_sentence) %>
			<% if current_user and current_user.is_admin? %>
			 - <%= document.created_at.strftime("%d.%m.%y %H:%M") %>
			<% else %>
			- <%= t('revisions.added', :time_ago => time_ago(document.created_at)) %>
			<% end %>

			<%#= t('revisions.word_count', :count => document.word_count) %>
			<% for tag in document.issues %>
		   		- <a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>"><%=tag.name%></a>
			<% end %>
			<% if logged_in? and (current_user.id == document.user_id or current_user.is_admin?) %>
			   - <%= link_to t('menu.briefing.delete.name'), document_path(document), :method => :delete, :confirm => t('menu.briefing.delete.confirm') %>	
		    <% end %>
			<% if controller_name=="news" %>
			 - Erindi
			 <% end %>
		</span> 

		<% if revision %>
			<div class="comment_content" id="comment_content_<%= document.id.to_s %>">
				<%= revision.content_diff %>
			</div>
    	<% else %>
			<div class="comment_content" id="comment_content_<%= document.id.to_s %>">
				<%= simple_format h(document.content_html) %>
			</div>
		<% end %>
		<div id="flagged_document_info_<%=document.id%>"><%=render :partial=>"documents/flagged", :locals=>{:document=>document}-%></div>

	</div>
		
</div>

		
