<div id="content">
	
	<% form_for :document, :url => "/documents/create"  do |f| %>
	<%= f.error_messages %>
	
	<h2>Leggja inn umsögn til samninganefndar</h2>	
	<p class="subtext">Umsagnir eru....</p>

	<h4>Titill umsagnar <span class="star">*</span></h4>
	<p>				
		<%= t('document.revision.new.name.label')%><br/>
   		<%= f.text_field :name, :size => 50, :maxlength => 60 %>		
	</p>
	<br /><br />
	<b>Umsögnin þín: <span class="star">*</span></b>
	<%= f.text_area :content, :rows => 18, :cols => 70 %>
	<br /><br />
				
	<b>Settu inn vefslóð sem tengist umsögninni:</b>

	<input type="text" size="50" name="" value="http://" /><br />
	<p>Vefslóðin er valkvæm, þú þarft ekki að setja hana inn <br /><br />
		<%= f.submit t('document.revision.new.submit'), :id => "submit", :class => "yellow_button" %>
		<div id="errors" class="error"><%= f.error_messages %></div>
	</p>
<% end %>	
</div>
