<%= render :partial => "priorities/header" %>
<%= render :partial => "priorities/nav" %>
<p>
<%= tr("<p><b>Add a document</b>. Here you can flesh out the details of this priority.  Anyone can add to and change this document.  We'll keep a record of revisions, just like Wikipedia.</p>", "view/documents/new")%>
	<p>
<%= form_for :document, :url => priority_documents_path(@priority)  do |f| %>
	<%= f.error_messages %>
<p>
	<%= tr("Title <span class='small'>60 characters</span>", "view/documents/new")%><br/>
   <%= f.text_field :name, :size => 50, :maxlength => 60 %>		
</p>
<p>
<%= tr("Is this document {support_radio} in support {neutral_radio} neutral or {oppose_radio} in opposition to {priority_name}?", "view/documents/new", :support_radio => f.radio_button(:value, 1), :neutral_radio => f.radio_button(:value, 0), :oppose_radio => f.radio_button(:value, -1), :priority_name => link_to(@priority.name, @priority)) %>
</p>
<p>
<%= f.text_area :content, :rows => 10, :cols => 60 %>
</p>

<p>
<table border="0" cellspacing="0" cellpading="0">
	<tr><td valign="top">
		<%= f.submit tr("Save document", "view/documents/new"), :id => "submit", :class => "yellow_button" %>
	</td><td valign="top" style="padding-left: 10px; padding-top: 3px;">
		<div id="errors" class="error"><%= f.error_messages %></div>
	</td>
	</tr>
</table>
</p>

<% end %>
<p>
<%= tr("<table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"350\"> 	<tr><td>Use <a href=\"http://hobix.com/textile/\" title=\"Complete reference\">Textile formatting</a>. For example, this:</td><td>becomes:</td></tr> 	<tr><td>\*bold\*</td><td><b>bold</b></td></tr> 	<tr><td>_underline_</td><td><u>underline</u></td></tr> 	<tr><td>\# ordered list</td><td>1. ordered list</td></tr> 	<tr><td>\* unordered list</td><td><li style=\"margin-left:15px;\">unordered list</td></tr> 	<tr><td>\"Link\":http://otherwebsite.com/</td><td><a href=\"http://otherwebsite.com/\">Link</a></td></tr> </table>
", "view/documents/new")%>