<%= render :partial => "shared/paginate_with_feed", :locals => {:collection => @documents} %>
<div id="documents_div">
	
		<% if @documents.count == 0 %>
		<%= t('esb.empty_chapter')%>
	<% end %>
	
</div>
<%= render :partial => "newest" %>
<%= will_paginate(@documents) %>

<%=render :partial=>"shared/live_update", :locals=>{:update_url=>"/documents/newest"}%>