<%if @document.status == 'abusive' %>
Þessu erindi hefur verið eytt.
<% else %>

<div class="entry_box">
		<%= render :partial => "shared/entry_icons", :locals => {:content => @document.content, :action_item=>@document}%> 
		<%= render :partial => "users/pic_48", :locals => {:user => @document.user}%> 
		
		<% if @revision %>
			<h4><%= link_to_unless_current h(@revision.name), document_revision_url(@document,@revision) %></h4>
		<% else %>
			<h4><%= link_to_unless_current h(@document.name), @document %></h4>
		<% end %>
			
		<span class="entry_profile">
			<%= t('revisions.byline', :author_sentence => @document.author_sentence) %>
			<% if current_user and current_user.is_admin? %>
			 - <%= @document.created_at.strftime("%d.%m.%y %H:%M") %>
			<% else %>
			- <%= t('revisions.added', :time_ago => time_ago(@document.created_at)) %>
			<% end %>

			<%#= t('revisions.word_count', :count => document.word_count) %>
			<% @document.issues %>
			<% for tag in @document.issues %>
			
		   		<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>"><%=tag.name%></a>
			<% end %>
			<% if controller_name=="news" %>
			 - Erindi
			 <% end %>
		</span> 

		<% if @revision %>
			<div id="comment_content_<%= @document.id.to_s %>">
				<%= @revision.content_diff %>
			</div>
    	<% else %>
			<div id="comment_content_<%= @document.id.to_s %>">
				<%= @document.content_html %>
			</div>
		<% end %>
		<div id="flagged_document_info_<%=@document.id%>"><%=render :partial=>"documents/flagged", :locals=>{:document=>@document}-%></div>
	</div>
	
<meta name="title" content="<%=@document.name%>" />
<meta name="description" content="<%=@document.content%>" />
<link rel="image_src" href="https://<%=request.host.downcase%>/images/logo_facebook_share.gif" />
<% end %>