<% if Government.current.message_to_users and Government.current.message_to_users!="" %>
	<div id="message_to_users">
	<div class="information_icon"><%= image_tag("new/information_icon.png", :alt => "icon") %></div>
	<a class="close_notify2" href="#">x</a>
	<%=Government.current.message_to_users.html_safe%>
	</div>
<% end %>
<% if Priority.filtered.count == 0 %>
<br>
<h2><%=tr("No priorities have been created. Be the first to create a priority for your country!","portal")%></h2>
<br>
<%= render :partial => "priorities/new_button" %>
<br>
<% else %>
  <% ["1","2"].each do |id_name|%>
    <div id="<%=id_name%>" class="column ui-sortable column_id_<%=id_name%>" unselectable="on" style="-moz-user-select: none;">
      <%= render(:partial => "column", :locals=>{:column_number=>id_name.to_i}) %>
    </div>
  <% end %>
<% end %>
