<%# Copyright (C) 2009,2010 Róbert Viðar Bjarnason %>
<%# License: http://www.gnu.org/licenses/agpl-3.0.txt %>
<div id="<%=portlet.id%>" class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
	<div class="portlet-header ui-widget-header ui-corner-all">
	  <% if current_user and current_user.is_admin? %>
		<span id="<%=portlet.id%>" class="delete-portlet-button ui-icon ui-icon-circle-close"></span>
		<span class="collapse-portlet-button ui-icon ui-icon-circle-minus"></span>
		<span class="ui-icon ui-icon-arrow-4-diag"></span>
		<% end %>
    	<%=tr(portlet.portlet_template.name, "view/portal/_portlet_header")%>
        <% if portlet.portlet_template.name == "priorities.top.name" -%>
			<select name="top_priorities_select" onchange='OnChangeTopPriorities(this);'>
				<option><%=tr("All", "view/portal/_portlet_header")%></option>
				<option><%=tr("24 hour", "view/portal/_portlet_header")%></option>
				<option><%=tr("7 days", "view/portal/_portlet_header")%></option>
				<option><%=tr("30 days", "view/portal/_portlet_header")%></option>
			</select>
            <SCRIPT LANGUAGE="javascript">
				<!--
				function OnChangeTopPriorities(dropdown)
				{
				    var myindex  = dropdown.selectedIndex
				    var SelValue = dropdown.options[myindex].value
                    alert(SelValue);
 	                jQuery('#<%="portlet_contents_#{portlet.id}"%>').load("/portal/load_column_item?portlet_id="+<%=portlet.id%>+"&dyn_type="+myindex);
                    FB.XFBML.parse(document.getElementById('<%="portlet_contents_#{portlet.id}"%>'));"
				    return true;
				}
				//-->				
			</SCRIPT>
        <% end %>
	</div>

	<div class="portlet-content">
