<%# Copyright (C) 2009,2010 Róbert Viðar Bjarnason %>
<%# License: http://www.gnu.org/licenses/agpl-3.0.txt %>
<link type="text/css" href="/stylesheets/fg.menu.css" rel="stylesheet" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
<link type="text/css" href="/stylesheets/portal.css" rel="stylesheet"/>
<link type="text/css" href="/stylesheets/jquery-ui-1.7.2.css" rel="stylesheet"/>
<style type="text/css"> 
    
    /* solo icon buttons must have block properties for the text-indent to
     .fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }
     .ui-tabs-panel {height: 100%;}
     
     
</style>
<!--        <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js">
</script> -->
<script type="text/javascript" src="/javascripts/jquery-ui-1.7.2.custom.min.js">
</script>
<script type="text/javascript" src="/javascripts/fg.menu.js">
</script>
<%= javascript_include_tag "portal" %>
<script type="text/javascript">
    	    jQuery(function(){
    			setup_portal_menu(<%=@portlet_container ? @portlet_container.id : -1%>,'<%=t('menu.portal.choose')%>','<%=t('menu.portal.all')%>');
    			setup_portal_dialogues('<%=t('menu.portal.delete_portlet')%>','<%=t('menu.portal.cancel')%>');
    			setup_columns();
    		});
    	
</script>

<!-- Used to contain New case - Search - Custom portal box
-->

<div id="main-dialogues-div">
    <%= render(:partial=>'portal/dialogues') %>
</div>
<% params[:q]=true %>


<div id="portal_header">

	<div id="new_button">
		<%= render :partial => "priorities/new_button" %>
	</div>

	<div id="google_search">
		<%= render :partial => "portal/google_search" %>
	</div>

	<div id="portal-menu-div">
		<%= render(:partial=>'portal/menu') %>
	</div>
	
	<div id="portal_settings">

		<li class="tab6 mega">
			<span class="tab_header">
				<%= link_to t('menu.settings.name'), "#" %>
			</span>
			<div class="tab_body">
				<div class="tab_subhead">
					<%= link_to t('menu.settings.account'), settings_url %>
				</div>
				<div class="tab_sublinks">
					<%= link_to t('menu.settings.picture'), picture_settings_url %>
					&middot; <%= link_to t('menu.settings.bio'), new_user_profile_url(current_user) %>
					<% if current_government.is_legislators? %>
						&middot; <%= link_to t('menu.settings.legislators'), legislators_settings_url %>
					<% end %>
					<br/>
					<% if not current_user.has_facebook? %>
						<%= link_to t('menu.settings.password'), edit_password_url(current_user) %> &middot;
					<% end %>
					<%= link_to t('menu.settings.emails'), signups_settings_url %>
				</div>
				<% if logged_in? and current_user.is_admin? %>
					<div class="tab_subhead">
						<%= link_to t('menu.partner.become'), partners_url %>						
					</div>
				<% end %>
				<% if logged_in? and current_user.is_admin? and Partner.current %>
					<div class="tab_subhead">
s						<%= link_to t('menu.partner.name'), edit_partner_url(Partner.current) %>
					</div>
				<% end %>
				<div class="tab_sublinks">
				<% if logged_in? and current_user.is_admin? and Partner.current %>
					<%= link_to t('menu.partner.account'), edit_partner_url(Partner.current) %>
					&middot; <%= link_to t('menu.partner.logo'), picture_partner_path(Partner.current) %>
					&middot; <%= link_to t('menu.partner.email'), email_partner_path(Partner.current) %>
				<% end %>
				</div>
				
				<% if current_user.is_admin? %>
					<div class="tab_subhead">
						<%= link_to t('menu.admin.name'), edit_government_url(current_government) %>
					</div>
					<div class="tab_sublinks">
						<%= link_to t('menu.admin.government.name'), edit_government_url(current_government) %>
						&middot; <%= link_to t('menu.admin.branches'), branches_url %>
						<% if current_government.is_tags? %>
							&middot; <%= link_to current_government.tags_name.pluralize.titleize, tags_url %>
						<% end %>
						&middot; <%= link_to t('menu.admin.apis'), apis_government_url(current_government) %>							
						<br/>
						<%= link_to t('menu.admin.blurbs'), blurbs_url %>						
						&middot; <%= link_to t('menu.admin.pages'), pages_url %>
						&middot; <%= link_to t('menu.admin.emails'), email_templates_url %>		
						<br/>
						<%= link_to t('menu.admin.graphics'), :controller => "admin", :action => "picture" %>
						&middot; <%= link_to t('menu.admin.colors'), color_schemes_url %>
					</div>
				<% end %>
				
				<div class="tab_sublinks">
				<% if facebook_session %>
					<%= fb_logout_link t('menu.logout'), logout_path %>
				<% else %>
			  		<%= link_to t('menu.logout'), logout_path %>
				<% end %>
				</div>

			</div>
		</li>		



	</div>
</div>

<div id="main-portal-div">
	<%= render(:partial => "portal") %>
</div>


