<div id="nav_sub">
	<div id="nav_sub_<% if ['points','revisions'].include?(params[:controller]) %>1<% elsif ['documents','document_revisions'].include?(params[:controller]) %>2<% elsif ['briefing'].include?(params[:controller]) and ['documents','points'].include?(params[:action]) %>3<% elsif ['contributors'].include?(params[:action]) %>4<% end %>">
		<ul id="menu_sub">
			<li class="tab1">
				<span class="tab_header">
					<% if logged_in? %>
					<%= link_to tr("Points", "view/briefing/_nav"), points_url %>
					<% else %>
					<%= link_to tr("Points", "view/briefing/_nav"), newest_points_url %>
					<% end %>
				</span>
			</li>
			<li class="tab3">
				<span class="tab_header">
					<%= link_to tr("Contribute research", "view/briefing/_nav"), :controller => "briefing", :action => "points" %>
				</span>
			</li>
			<li class="tab4">
				<span class="tab_header">
					<%= link_to tr("Contributors", "view/briefing/_nav"), :controller => "briefing", :action => "contributors" %>
				</span>
			</li>			
		</ul>
	</div>
</div>

<% if ['points','revisions'].include?(params[:controller]) %>
	<div id="nav_third">
		<% if @point %>
			<div id="nav_third_<% if logged_in? and current_user.id == @point.user_id %>1<% elsif ['revisions'].include?(params[:controller]) %>4<% else %>3<% end %>">
		<% else %>
			<div id="nav_third_<% if ['index'].include?(params[:action]) %>1<% elsif ['your_priorities'].include?(params[:action]) %>2<% elsif ['newest'].include?(params[:action]) %>3<% elsif ['revised'].include?(params[:action]) %>4<% end %>">	
		<% end %>
			<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Yours", "view/briefing/_nav"), :controller=>"points", :action=>"your_index" %>
					</span>
				</li>

				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Your priorities", "view/briefing/_nav"), your_priorities_points_url %>
					</span>
				</li>
			
				<li class="tab3">
					<span class="tab_header">
						<%= link_to tr("All points", "view/briefing/_nav"), newest_points_url %>
					</span>
				</li>			

				<li class="tab4">
					<span class="tab_header">
						<%= link_to tr("Recently revised", "view/briefing/_nav"), revised_points_url %>
					</span>
				</li>

			</ul>
			
		</div>	
	</div>
<% end %>

<% if ['documents','document_revisions'].include?(params[:controller]) %>
	<div id="nav_third">
		<% if @document %>
			<div id="nav_third_<% if logged_in? and current_user.id == @document.user_id %>1<% elsif ['revisions'].include?(params[:controller]) %>4<% else %>3<% end %>">
		<% else %>		
		<div id="nav_third_<% if ['index'].include?(params[:action]) %>1<% elsif ['your_priorities'].include?(params[:action]) %>2<% elsif ['newest'].include?(params[:action]) %>3<% elsif ['revised'].include?(params[:action]) %>4<% end %>">	
		<% end %>
			<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%= link_to tr("Yours", "view/briefing/_nav"), documents_url %>
					</span>
				</li>

				<li class="tab2">
					<span class="tab_header">
						<%= link_to tr("Your priorities", "view/briefing/_nav"), your_priorities_documents_url %>
					</span>
				</li>
			
				<li class="tab4">
					<span class="tab_header">
						<%= link_to tr("Recently revised", "view/briefing/_nav"), revised_documents_url %>
					</span>
				</li>
			
			</ul>
			
		</div>	
	</div>
<% end %>


<% if ['briefing'].include?(params[:controller]) and params[:action] != 'contributors' %>
	<div id="nav_third">
		<div id="nav_third_<% if ['points'].include?(params[:action]) %>1<% elsif ['documents'].include?(params[:action]) %>2<% end %>">	

			<!--<ul id="menu_third">

				<li class="tab1">
					<span class="tab_header">
						<%#= link_to tr("Priorities needing points", "view/briefing/_nav"), :controller => "briefing", :action => "points" %>
					</span>
				</li>
			
			</ul>-->
			
		</div>	
	</div>
<% end %>

