<% if @error %>
<%= @error%>
<% else %>
<% form_tag(searches_path, :method => 'get') do %>    
<tr>
  <td valign="middle">
    <div class="magnifier_wrap">
    <span class="magnifier_image"><img src="/images/icons/magnifier.gif" width="14" height="14" border="0"></span>
    <span class="magnifier_box">
    <%= text_field_tag "q", params[:q], :value=>params[:q]%>
    </span>
    </div>  
  </td>
</tr>
<% end %> 
<br>
<h2 style="padding-bottom:5px !important; border-bottom: solid 1px #CCC;">
<%= tr("Search results","search")%>
</h2>
<br>
<% if false and params[:class] %>
<h4><%= tr("All","search")%> <%= translate_facet_option(params[:class])%></h4>
<% end %>
<table>
  <tr>
    <td width="150">
    <div class="search_results">
      <% unless @search_results.empty? %>
      <div id="left" style="float: left;">
        <% if params[:category_name] or params[:class] %>
          <h3><%= link_to tr("Everything","search"), "/search?q=#{@query}"%></h3>
          <br>
        <% end %>
        <% @facets.each do |facet, facet_options| %>
        <div>
          <ul>
            <% facet_options.each do |option, count| %>
              <% next if option==nil or option=="" %>
              <% translated_option = translate_facet_option(option) %>
              <% if translated_option==params[:category_name] or option==params[:class]%>
              <li>
                <b><%= link_to "#{translated_option.humanize} (#{count})".html_safe, "/search?q=#{@query}&#{facet}=#{option}" %></b>
              </li>
              <% else %>
              <li>
                <%= link_to "#{translated_option.humanize} (#{count})".html_safe, "/search?q=#{@query}&#{facet}=#{option}" %>
              </li>
              <% end %>
            <% end %>
            <br>
          </ul>
        </div>
        <% end %>
      </div>
      <% else %>
        <%= tr("No search results","search")%>
        <br>
        <%#=@query %>
      <% end %>
</div>
</td>
<td>
      <% unless not @facets or @facets.empty? or @search_results.empty?%>
      <div id="left" style="float: left">
        <% @search_results.each do |result|%>
          <% if result.class == Priority %>
            <div>
              <h4 style="color: #777; border-bottom: none;"><%= tr("Priority","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <span style="color: #3B5998; font-size:1.083em; font-weight: bold;"><%= link_to result.excerpts.name.force_encoding("UTF-8").html_safe, :controller=>"priorities", :action=>"show", :id=>result.id  %></span></br>
              <!--<%#=link_to tr("Show","search"), :controller=>"priorities", :action=>"show", :id=>result.id %>-->
              <br/>
              <br/>
            </div>
          <% elsif result.class == Point %>
            <div>
              <h4 style="color: #777; border-bottom: none;"><%= tr("Point","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <span style="color: #3B5998; border-bottom: none; font-size:1.083em; font-weight:bold;"><%= link_to result.excerpts.name.force_encoding("UTF-8").html_safe, :controller=>"points", :action=>"show", :id=>result.id %></span></br>
              <%= result.excerpts.content.force_encoding("UTF-8").html_safe %>
              <br/>
              <!--<%#= link_to tr("Show","search"), :controller=>"questions", :action=>"show", :id=>result.id %>-->
              <br/>
              <br/>
            </div>
          <% elsif result.class == Comment%>
            <div>
              <h4><%= tr("Comment","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <%= result.excerpts.content.force_encoding("UTF-8").html_safe %>
              <br/>
              <%= link_to tr("Show","search"), result.show_url %>
              <br/>
              <br/>
            </div>
          <% end %>
        <% end %>
        <%= will_paginate @search_results%>
      </div>
    </div>
    <% else %>
    <% end %>
    <% end %>
</td>
</tr>
</table>
