<% if @error %>
<%= @error%>
<% else %>
<h2>
<%= tr("Search results for","search")%>
<span class="star"><%= @query%></span>
</h2>
<br>
<% if params[:class] %>
<h4><%= tr("Type","search")%>: <%= translate_facet_option(params[:class])%></h4>
<% end %>

<table>
  <tr>
    <td>
    <div class="search_results">
      <% unless @search_results.empty? %>
      <div id="left" style="float: left">
        <% @search_results.each do |result|%>
          <% if result.class == Priority %>
            <div>
              <h4><%= tr("Priority","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <h3><%= result.excerpts.name.force_encoding("UTF-8").html_safe %></h3>
              <%#= result.excerpts.content %>
              <%=link_to tr("Show priority","search"), :controller=>"priorities", :action=>"show", :id=>result.id %>
              <br>
              <br>
            </div>
          <% elsif result.class == Point %>
            <div>
              <h4><%= tr("Point","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <h3><%= result.excerpts.name.force_encoding("UTF-8").html_safe %></h3>
              <%= tr("Point","search")%> : <%= result.excerpts.content.force_encoding("UTF-8").html_safe %>
              <br>
              <br>
              <%= link_to tr("Show point","search"), :controller=>"questions", :action=>"show", :id=>result.id %>
              <br>
              <br>
            </div>
          <% elsif result.class == Comment%>
            <div>
              <h4><%= tr("Comment","search")%> - <%= time_ago(result.excerpts.created_at) %></h4>
              <%= result.excerpts.content.force_encoding("UTF-8").html_safe %>
              <br>
              <% if result.activity.priority_id %>
              <%= link_to tr("Show priority","search"), :controller=>"priorities", :action=>"show", :id=>result.activity.priority_id %>
              <% elsif result.activity.point_id  %>
              <%= link_to tr("Show point","search"), :controller=>"points", :action=>"show", :id=>result.activity.point_id %>
              <% end %>
              <br>
              <br>
            </div>
          <% end %>
        <% end %>
        <%= will_paginate @search_results%>
      </div>
      <% else %>
      <%= tr("No search results","search")%>
      <br>
      <%#=@query %>
      <% end %>
</div>
</td>
<td>
      <% unless not @facets or @facets.empty?%>
      <div id="right" style="float: right;">
        <div>
          <h3><%= link_to tr("Everything","search"), "/leita?q=#{@query}"%></h3>
        </div>
        <% @facets.each do |facet, facet_options| %>
        <div>
          <% if facet.to_s=="class" %>
          <h3><%= tr("Type","search")%></h3>
          <% else %>
          <h3><%= facet.to_s.html_safe%></h3>
          <% end %>
          <ul>
            <% facet_options.each do |option, count| %>
            <% next if option==nil or option=="" %>
            <% translated_option = translate_facet_option(option) %>
            <% if translated_option==params[:cached_issue_list] or option==params[:class]%>
            <li>
              <b><%= link_to "#{translated_option} (#{count})".html_safe, :params => {facet => option, :q=>@query, :page => 1} %></b>
            </li>
            <% else %>
            <li>
              <%= link_to "#{translated_option} (#{count})".html_safe, :params => {facet => option, :q=>@query, :page => 1} %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
    <% else %>
    <% end %>
    <% end %>
</td>
</tr>
</table>
