<% if @error %>
 <%=@error%>
<% else %>
Leitarniðurstöður fyrir <%=@query%><br>

<table width="100%">
	<tr valign="top">	
		<td width="75%">
			<% unless @search_results.empty? %>
				<%=will_paginate @search_results %>
				
				<table width="100%">
				<% @search_results.each do |result|%>
				  <% if result.class == Priority %>
					<tr>				
						<td>
						<%= result.excerpts.name %><br>
				    	<%= render :partial => "activities/show", :locals => {:activity => Activity.find(:first, :conditions=>["priority_id=?",result.id]), :suffix => "_noself"} %>  <BR>		
						</td>
					</tr>
				  <% elsif result.class == Question %>
					<tr>				
						<td>
						<%= result.excerpts.name %><br>
						<%= result.excerpts.content %><br>
						<%= result.excerpts.answer %><br>
				  	    <%= render :partial => "questions/show_full", :locals => {:question => result, :revision => nil}%>
						</td>
					</tr>
				  <% elsif result.class == Document %>
					<tr>				
						<td>
						<%= result.excerpts.name %><br>
						<%= result.excerpts.content %><br>
						<%= render :partial => "documents/show_full", :locals => {:document => result, :quality => nil, :revision => nil}%>
						</td>
					</tr>
				  <% elsif result.class == Comment%>
						<%= result.excerpts.content %><br>				  	
				  		<% if result.activity.priority_id %>
					    	<%= render :partial => "activities/show", :locals => {:activity => result.activity, :suffix => "_noself"} %>
						<% elsif result.activity.question_id  %>
					  	    <%= render :partial => "questions/show_full", :locals => {:question => result.activity.question, :revision => nil}%>
						<% end %>
				  <% end %>
				<% end %>
				</table>
				<%=will_paginate @search_results%>
			<% else %>
			   No search results for <%=@query %>
			<% end %>
		</td>
		
		<td width="25%">
			<% unless not @facets or @facets.empty?%>
				<div>
					<div> 
						<h3><%= link_to "Allt", "/leita?q=#{@query}"%></h3>
					</div>
				</div>
						
				<% @facets.each do |facet, facet_options| %>
					<div>
						<div> 
							<% if facet.to_s=="class" %>
							<h3>Tegund</h3> 
							<% elsif facet.to_s=="cached_issue_list" %>
							<h3>Kaflar</h3> 
							<% else %>
							<h3><%=facet%></h3> 
							<% end %>
							<ul>
								<% facet_options.each do |option, count| %>
									<% next if option==nil or option=="" %>
									<% translated_option = translate_facet_option(option) %>
									<li><%= link_to "#{translated_option} (#{count})",
									:params => {facet => option, :q=>@query, :page => 1} %></li>
								<% end %>
							</ul> 
						</div> 
					</div> 
				<% end %>
			<% else %>
			  Engir kaflar fundust
			<% end %>			
		</td>
	</tr>
</table>

<% end %>
