<% if comment.content != "" %>
<a name="<%= comment.id %>"></a>
<div id="comment_<%= comment.id.to_s %>" class="comment_endorses">
	
	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= t('comments.abusive')%>
		</div>
	<% elsif comment.user.status == 'deleted' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_deleted', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>	
	<% elsif comment.user.status == 'suspended' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_suspended', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>
	<% else %>
	<!-- Comment box -->		
	<div class="comment_box">
		<%= render :partial => "users/pic_35", :locals => {:user => comment.user}%>	
		<span class="entry_profile">
		<%#= link_to h(comment.user.login), comment.user, :title => t('esb.mouseover.comment.user') %> 	
			<%=comment.user.login%>
			 - <%= time_ago(comment.created_at) %> 
			 <%# = render :partial => "questions/action_show", :locals => {:question => comment.activity.question }%>
	         <% if logged_in?  and current_user.id != comment.user_id  %>
				<%= link_to_remote image_tag("comment_report.gif", :align => "right", :border => 0, :class => "comment_report"), { :url => flag_activity_comment_url(comment.activity_id,comment),:method => :get, :confirm => t('comments.flag.confirm', :user_name => comment.user.name)}, :title => t('esb.mouseover.entry.report') %>
			 <% end %>
		</span>
		
		<!-- max_length for comment_content_2 is defined in shared/_javascripts - 
		possible to have different max_lentgh in _show and in _show_first /aom 10092010 -->
		<!-- if call is from show_all (i.e. shortentext=0), then show all the text and 
			skip class="comment_content" which adds js more/less feature /aom 20092010-->		
		<!-- if shortentext is not defined then set to default = 1 /aom 20092010-->	
		<% if !defined? shortentext%>
			<% shortentext="1" %>
		<% end %>		
				
		<% if shortentext == 0 %>
			<div id="comment_content_text_<%= comment.id.to_s %>"><%= comment.content_html %></div>	
		<% else %>
			<div class="comment_content_2" id="comment_content_text_<%= comment.id.to_s %>"><%= comment.content_html %></div>
		<% end %>
			
		<% if logged_in? and comment == @comments.last and (current_user.is_admin? or current_user.id == comment.user_id) %>
			<%= link_to_remote t('esb.comment.delete'), { :url => activity_comment_url(comment.activity_id,comment),:method => :delete, :confirm => t('comments.delete.confirm')}, :title => t('esb.mouseover.comment.delete') %>
		<% end %>
		
	</div>		
	<% end %>
	
</div>
<% end %>