<% if comment %>
    <a name="<%= comment.id %>"></a>
    <div id="comment_<%= comment.id.to_s %>" class="comment<% if comment.is_endorser? %>_endorses<% elsif comment.is_opposer? %>_opposes<% end %>">

	<% if comment.status == 'abusive' %>
		<div class="comment_hidden">
			<%= t('comments.abusive')%>
		</div>
	<% elsif comment.user.status == 'deleted' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_deleted', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>	
	<% elsif comment.user.status == 'suspended' and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.account_suspended', :user_name => comment.user.name )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>		
	<% elsif logged_in? and current_ignoring_ids.include?(comment.user_id) and params[:action] != 'unhide' %>
		<div class="comment_hidden" id="comment_hidden_<%= comment.id.to_s %>">
			<%= t('comments.ignoring', :user_name => link_to(comment.user.name,comment.user) )%>
			<%= link_to_remote t('comments.show'),{ :url => unhide_activity_comment_url(comment.activity_id,comment), :method => :get }  %>
		</div>
	<% else %>
	<!-- Entry box -->
	<div class="entry_box">
		<span class="entry_icons">
			<%= link_to image_tag("esb_entry_email.gif", :border => 0), "#", :title => t('esb.mouseover.entry.email') %> 
			<%= link_to image_tag("esb_entry_bookmark.gif", :border => 0), "#", :title => t('esb.mouseover.entry.bookmark') %>
			<%= link_to image_tag("esb_entry_facebook.gif", :border => 0), "#", :title => t('esb.mouseover.entry.facebook') %>
			<%= link_to image_tag("esb_entry_twitter.gif", :border => 0), "#", :title => t('esb.mouseover.entry.twitter') %>
		</span>
		<%= render :partial => "users/pic_48", :locals => {:user => comment.user}%> 
		<h4><%= link_to_unless_current h(comment.activity.question.name), comment.activity.question, :class => "priority_name_link", :title => t('esb.mouseover.comment.title') %></h4>
		<span class="entry_profile">
			<%= link_to h(comment.user.login), comment.user, :title => t('esb.mouseover.comment.user') %> 
			- <%= time_ago(comment.created_at) %> 
			<!-- commented out aom 220910 -->
			<%# = render :partial => "questions/action_show", :locals => {:question => comment.activity.question }%>    
			<%# = render :partial => "questions/tag_show_esb", :locals => { :question => comment.activity.question }%>
			<!-- replaced with: -->
			<% for tag in comment.activity.question.issues %>
				<a href="/velja_kafla/<%=tag.name%>"><%= tag.name %></a>
			<% end %>
		</span>
					
		<!-- max_length for comment_content_2 is defined in shared/_javascripts - 
		possible to have different max_lentgh in _show and in _show_first /aom 10092010 -->
		<!-- if call is from show_all (i.e. shortentext=0), then show all the text and 
			skip class="comment_content" which adds js more/less feature /aom 20092010-->		
		<!-- if shortentext is not defined then set to default = 1 /aom 20092010-->	
		<% if !defined? shortentext%>
			<% shortentext="1" %>
		<% end %>	
					
		<% if shortentext == 0 %>
			<p><div id="comment_content_<%= comment.id.to_s %>"><%= comment.content_html %></div></p>	
		<% else %>
			<p><div class="comment_content" id="comment_content_<%= comment.id.to_s %>"><%= comment.content_html %></div></p>
		<% end %>
		<% if logged_in? and comment == @comments.last and (current_user.is_admin? or current_user.id == comment.user_id) %>
			<%= link_to_remote t('esb.comment.delete'), { :url => activity_comment_url(comment.activity_id,comment),:method => :delete, :confirm => t('comments.delete.confirm')}, :title => t('esb.mouseover.comment.delete') %>
		<% end %>
	</div>
	
	<% end %>
	
</div>
<% end %>

<%#= render :partial => "comments/flagged", :locals => {:comment => comment} %>