<% if @processes_changed_past_7_days %>
<h1><%=tr("Listing processes changed the past 7 days", "view/priority_processes/index") %></h1>
<table width="100%">
    <tr>
        <th>
            <%=tr("Importance", "view/priority_processes/index")%>
        </th>
        <th>
            <%=tr("Althingi process name", "view/priority_processes/index")%>
        </th>
        <th>
            <%=tr("Althingi process presenter", "view/priority_processes/index") %>
        </th>
    </tr>
    <% for current_process in @processes_changed_past_7_days %>
    <tr>
        <td width="100px" align="center">
        	<%= render :partial => "ratings/rate_smaller", :locals => { :asset => current_process, :postfix=>"7_days" } %>
        </td>
        <td>
            <%= link_to "#{current_process.external_info_1.capitalize} / #{current_process.external_info_2}", current_process %>
        </td>
        <td>
            <%= current_process.external_presenter %>.
        </td>
        <% if @i_am_admin %>
	        <td>
	            - <%= link_to tr("Show", "view/priority_processes/index"), current_process %>
	        </td>
	        <td>
	            <%= link_to tr("Edit", "view/priority_processes/index"), edit_process_path(current_process) %>
	        </td>
	        <td>
	            <%= link_to tr("Destroy", "view/priority_processes/index"), current_process, :confirm => tr("Are you sure?", "view/priority_processes/index"), :method => :delete %>
	        </td>
        <% end %>
    </tr>
    <% end %>
</table>
<br/>
<%end%>

<%= render :partial => "process_speech_master_videos/latest_video_discussions" %>

<table width="100%">
	<tr>
		<td width="50%">
			<% if @last_comments %>
			  <h1><%=tr("Latest comments", "view/priority_processes/index") %></h1>
			  <% for comment in @last_comments %>
			    <b><%=comment.user.login%> <%=tr("about process", "view/priority_processes/index")%> <%=get_comment_process_document_process_link(comment) %> <%=tr("says", "view/priority_processes/index")%>:</b> <%=truncate(comment.comment, :length => 142)%> <br>
			    <br>
			  <% end %>
			<% end %>
		</td>
		<td width="50%">
		<table width="100%">
			<tr>
				<td width="50%">
					<% if @latest_votes %>
					  <h1><%=tr("Latest votes", "view/priority_processes/index") %></h1>
					  <% for vote in @latest_votes %>
					    <%=vote.document.votes.count%> <%=tr("Votes for this document", "view/priority_processes/index")%> <%=get_vote_process_document_process_link(vote) %><br>
					    <br>
					  <% end %>
					<% end %>			
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>

<h1><%=tr("Listing current processes in Althingi", "view/priority_processes/index") %></h1>
<table width="100%">
    <tr>
        <th>
            <%=tr("Importance", "view/priority_processes/index")%>
        </th>
        <th>
            <%=tr("Althingi process name", "view/priority_processes/index")%>
        </th>
        <th>
            <%=tr("Althingi process presenter", "view/priority_processes/index") %>
        </th>
    </tr>
    <% for current_process in @most_important_processes %>
    <tr>
        <td width="100px" align="center">
        	<%= render :partial => "ratings/rate_smaller", :locals => { :asset => current_process, :postfix=>"all" } %>
        </td>
        <td>
            <%= link_to "#{current_process.external_info_1} / #{current_process.external_info_2}", current_process %>
        </td>
        <td>
            <%= current_process.external_presenter %>.
        </td>
        <% if @i_am_admin %>
	        <td>
	            - <%= link_to tr("Show", "view/priority_processes/index"), current_process %>
	        </td>
	        <td>
	            <%= link_to tr("Edit", "view/priority_processes/index"), edit_process_path(current_process) %>
	        </td>
	        <td>
	            <%= link_to tr("Destroy", "view/priority_processes/index"), current_process, :confirm => tr("Are you sure?", "view/priority_processes/index"), :method => :delete %>
	        </td>
        <% end %>
    </tr>
    <% end %>
	<tr>
		<td colspan=3>
			<% if @all_archived %>
  			  <a href="/processes"><%=tr("Show only current processes", "view/priority_processes/index")%></a>
			<% else %>
  			  <a href="/processes?all_archived=1"><%=tr("Show all archived processes", "view/priority_processes/index")%></a>
			<% end %>  
		</td>
	</tr>
</table>
<br/>
<% if @i_am_admin %>
	<%= link_to 'New process', new_process_path %>
<% end %>