<h1><%= tr("About Your Priorities", "view/about/index") %></h1>
<br>
<p><%= tr("We believe the people of the world need good online democracy tools to find and choose their top priorities. And together discover which priorities they want to implement and in what order.", "view/about/index") %></p>
<br>
<p><%= tr("This is a global service by the Citizens Foundation in Iceland. The service provides a website for every country in the world under the yrpri domain.", "view/about/index") %></p>
<br>
<p><%= tr("Using Open Active Democracy software developed by the Citizens Foundation and others, people can add new ideas, add arguments for and against priorities, indicate if they support or oppose an idea, create a personal list of priorities and discuss all priorities. The end results are lists of top priorities in many categories as well as the best arguments for and against each priority.", "view/about/index") %></p>
<br>
<p><b><%= tr("Enjoy!", "view/about/index") %></b></p>

