<h1><%= tr("Your privacy", "view/about/privacy") %></h1>
<br>
<p><%= tr("Your real name and email address are never made public, and you can identify yourself however you want by clicking on Settings.", "view/about/privacy") %></p>
<br>
<p><%= tr("Any other optional information you provide in your account will be public on your profile. You can remove it any time by clicking on Settings > Your Account.	", "view/about/privacy") %></p>
<br>
<p><%= tr("Your real name and email address, may be shared with Your Priorities as part of efforts to get our priorities addressed.", "view/about/privacy") %></p>
<br>
<p><%= tr("Our partners have the option of asking you to opt in to their email updates, which you'll see as a checkbox on some signup forms. If you opt-in to receive their emails, they will have access to your real name and email address.  Their privacy policies are available as well as an unsubscribe link in the Your Account area.", "view/about/privacy") %></p>
<br>
<p><%= tr("By joining, you will get occasional emails from Your Priorities, which you can turn off <a href=\"/unsubscribe\">here</a>.  Your information will never be shared with anyone else without your explicit permission. ", "view/about/privacy") %></p>
