<h2><%= tr("Our rules", "view/about/rules")%></h2>
<p><%= tr("1. <b>Only 1 account per person.</b>  If you're found to have multiple active accounts, all of your accounts will be disabled and your priorities removed from the site.", "view/about/rules")%></p>
<p><%= tr("2. <b>Please be civil.</b>  Government is serious, please consider this forum like you would a town hall or a legislative body.  No personal attacks of any kind are allowed.", "view/about/rules")%></p>

<h2><%= tr("Warnings", "view/about/rules")%></h2>

<p><%= tr("We take these rules very seriously.  For personal attacks, we have a warning system.", "view/about/rules")%></p>
<p><%= tr("The first warning is simply that.  The comment will be deleted, but nothing bad will happen.  If it doesn't happen again for 3 months, the warning will be expunged and forgotten. ", "view/about/rules")%></p>
<p><%= tr("If you receive a second warning, you will lose 10% (or 1{{government.currency_short_name}}, whichever is greater) of your {{government.currency_name | downcase}}.", "view/about/rules")%></p>
<p><%= tr("If you receive a second warning, you will lose 10% (or 1{{government.currency_short_name}}, whichever is greater) of your {{government.currency_name | downcase}}.", "view/about/rules")%></p>
<p><%= tr("On the third warning, you will be put on probation, losing 30% (or 3{{government.currency_short_name}}, whichever is greater) of your {{government.currency_name | downcase}} and unable to post anything on the site for a week.", "view/about/rules")%></p>
<p><%= tr("On the fourth warning, you will be banned from the site.", "view/about/rules")%></p>
