<h1><%= tr("Our rules", "view/about/rules")%></h1>
<p><%= tr("1. Only 1 account per person. If you're found to have multiple active accounts, all of your accounts will be disabled and your priorities removed from the site.", "view/about/rules")%></p>
<p><%= tr("2. Please be civil. Government is serious, please consider this forum like you would a town hall or a legislative body. No personal attacks of any kind are allowed.", "view/about/rules")%></p>
<br>
<h1><%= tr("3 Warnings", "view/about/rules")%></h1>
<p><%= tr("We take these rules very seriously.  For personal attacks, we have a warning system.", "view/about/rules")%> <%= tr("The first warning is simply that.  The comment will be deleted, but nothing bad will happen. On the fourth warning, you will be banned from the site.", "view/about/rules")%></p>
