<% if following %>
	<div class="green_button" id="activity_add_<%= activity.id.to_s %>">
		<%= tr("Following discussion", "view/activities/_button")%> 
		<span class="big_x">
		<%= link_to "&nbsp;x".safe_html, activity_following_path(activity, following, :region => "activity_show"), 
                :method => :post,
		            :remote=>true,
      		      'data-disable-with' => "",
                'data-loader-name' => "circle",
 		            :method => :delete, :class => "priority_remove_link", :title => tr("Remove this person from your network", "view/activities/_button") %>	
		</span>
	</div>			
<% else %>
	<div class="yellow_button" id="activity_add_<%= activity.id.to_s %>">
		<%= link_to tr("Follow this discussion", "view/activities/_button"), activity_followings_path(activity, :region => "activity_show"), 
		            :method => :post, 
                'data-disable-with' => escape_t(tr("Follow discussion","Ajax")),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => tr("I want to follow this person's comments and activity", "view/activities/_button") %>								
	</div>
<% end %>