<span id="activity_<%= activity.id.to_s %>_button_small">
	
<% if following %>
	<span class="priority_remove" id="activity_add_<%= activity.id.to_s %>">
		<%= t('follow.ing')%> 
		<%= link_to "&nbsp;x".html_safe, activity_following_path(activity, following, :region => "activity_show"), 
                :method => :delete, :class => "priority_remove_link",
                :remote=>true,
                'data-disable-with' => "",
                'data-loader-name' => "circle",
                :title => t('follow.delete.title') %>
	</span>
		
<% else %>
	<span class="priority_add" id="activity_add_<%= activity.id.to_s %>">
		<%= link_to t('follow.capitalize'), activity_followings_path(activity, :region => "activity_show"), 
		            :method => :post,
		            :remote=>true,
                'data-disable-with' => escape_t(t(:ajax_follow_capitalize)),
                'data-loader-name' => "horizontal_small",
		            :class => "priority_add_link", :title => t('follow.title') %>	
	</span>
<% end %>
<%= t('following_discussions.new.name')%>
</span>