
<% if activity.comments_count > 0 %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list">
<% else %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list_empty">
<% end %>

	<% if activity.comments_count > 0 %>

		<% if !defined? all%>
			<% all ="0" %>
		<% end %>						
		<% if all == "1" %>
			
			<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>			
			<% @comments.each do |comment| %>   
   				<% if @comments.first == comment %>
					<%= render :partial => "comments_questions/show", :locals => {:comment => comment, :shortentext => 0} %>
				<% else %>
					<%= render :partial => "comments_questions/show", :locals => {:comment => comment, :shortentext => 0} %>
				<% end %>   		
		<% end %>
		<% else %>
		<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>
		<!-- <div class="comment_box"> --> 		
		<%= render :partial => "comments_questions/show", :locals => {:comment => @comments.last} if @comments.length > 0 %>
		<!-- </div> -->
				
		<% if @comments.length > 10 %>
			<!-- <div class="comment_box">-->
			<%= link_to t('esb.comment.more')+" (#{(activity.comments_count-1).to_s})", activity.question, :class => "priority_name_link" %>
			<!-- </div>-->
		<% elsif @comments.length > 1 %>
			<!-- <div class="comment_box">-->
			<%= link_to_remote t('esb.comment.more')+" (#{(activity.comments_count-1).to_s})", { :url => more_activity_comments_url(activity), :method => :get } %>
			<!-- </div>-->
		<% end %>
		
		<% end %>
		<!-- deleted from if statement: ' @comments.length > 0 and ' 230910 aom-->
		
	<% end %>
		<% if activity.question.answer!=nil and activity.question.answer.length>10 %>
			<% if activity.class == ActivityBulletinNew %>
				<%= render :partial => "comments_questions/new_inline", :locals => {:activity => activity, :comment => Comment.new} %>
			<% end %>
		<% end %>	
</div>