<% if activity.comments_count > 0 %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list">
<% else %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list_empty">
<% end %>
	<% if activity.comments_count > 0 %>
		<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>
		<% if @comments.length > 10 %>
			<div class="comment_more">
			<%= link_to t('comments.more')+" (#{(@comments.length-2).to_s})", activity.priority, :class => "priority_name_link" %>
			</div>
		<% else %>
			<div class="comment_more">
			<%= link_to t('comments.more')+" (#{(@comments.length-2).to_s})", more_activity_comments_url(activity),
			            :method => :get,
			            :remote=>true,
                  'data-disable-with' => "",
                  'data-loader-name' => "circle" %>
			</div>
		<% end %>
		<% comments_without_abuse = @comments.reject {|x| x.status == 'abusive'} %>
		<%= render :partial => "comments/show", :locals => {:comment => comments_without_abuse.last} if comments_without_abuse.length > 1 %>		
		 <% if @comments.length > 0 and activity.class != ActivityCommentParticipant %>
			<%= render :partial => "comments/new_inline", :locals => {:activity => activity, :comment => Comment.new} %>
		<% end %>	
	<% end %>
</div>