<% if activity.comments_count > 0 %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list">
<% else %>
	<div id="activity_<%= activity.id %>_comments" class="comment_list_empty">
<% end %>

	<% if activity.comments_count > 0 %>

		<% @comments = activity.comments.published_and_abusive.by_first_created.find(:all, :include => :user) %>
		
		<%= render :partial => "comments/show_first", :locals => {:comment => @comments.first} %>
		<%= render :partial => "comments/show", :locals => {:comment => @comments.last} if @comments.length > 1 %>

		<% if @comments.length > 2 %>
			<div class="comment_more">
			<%= link_to_remote "Sýna #{(activity.comments_count-2).to_s} fleiri athugasemdir", { :url => more_activity_comments_url(activity), :method => :get } %>
			</div>
		<% end %>

		 <% if @comments.length > 0 and activity.class != ActivityCommentParticipant %>
			<%= render :partial => "comments/new_inline", :locals => {:activity => activity, :comment => Comment.new} %>
		<% end %>
	
	<% end %>
	
</div>