<% if @activities.any? %>

	<ul>
	<% for activity in @activities %>
		<li>
			<span class="nb_activity_name">
				<%= link_to h(priority.name), priority_url(priority, :only_path => false), :class => "nb_priority_name_link", :id => "nb_priority_name_link_#{priority.id.to_s}" %>

			</span>
			<% if priority.status == 'inactive' %>
				<span class="nb_priority_finished_status"><%= official_status(priority) %></span>
			<% end %>			
			<% if not priority.status == 'inactive' %>
				<br/>
				<span class="nb_priority_position_status">
					<% if priority.position != 0 and params[:action] == 'yours' %>
						<%= tr("Priority {position}", "view/activities/discussions_widget_small", :position => priority.position)%>,
					<% end %>
					<% if priority.is_new? %>	
						<%= tr("new this week", "view/activities/discussions_widget_small") %>
					<% elsif priority.position_7days_change > 0 %>
						<%= tr("up {count} spots this week", "view/activities/discussions_widget_small", :count => priority.position_7days_change.abs)%>
					<% elsif priority.position_7days_change < 0 %>
						<%= tr("down {count} spots this week", "view/activities/discussions_widget_small", :count => priority.position_7days_change.abs)%>
					<% else %>
						<%= tr("no change this week", "view/activities/discussions_widget_small") %>
					<% end %>
				</span>
			<% end %>
		</li>
	<% end %>
	</ul>
	
<% else %>
	
	No discussions yet.

<% end %>