<% if vote and vote.status == 'approved' %>
	<p>
<% elsif vote and vote.status == 'declined' %>
	<% if vote.is_up? %>
		<%= tr("You voted no, your endorsement will remain the same.", "view/votes/_show")%>
	<% else %>
		<%= tr("You voted no, your opposition will remain the same.", "view/votes/_show")%>
	<% end %>
<% elsif vote and ['active','sent'].include?(vote.status) and not change.is_expired? %>
	<p>
	<div class="change_vote_now">
	<b>
		<% if vote.is_up? %>
			<%= link_to tr("YES, I endorse", "view/votes/_show"), :controller => "vote", :action => "yes", :code => vote.code %>:
		<% else %>
			<%= link_to tr("YES, I oppose", "view/votes/_show"), :controller => "vote", :action => "yes", :code => vote.code %>:
		<% end %>
	</b>
	<br/><%= link_to_unless_current h(change.new_priority.name), change.new_priority %>
	<p>
	<b>
		<% if (vote.is_up? and change.is_flip?) or (vote.is_down? and not change.is_flip?) %>
			<%= link_to tr("NO, I want to continue opposing", "view/votes/_show"), :controller => "vote", :action => "no", :code => vote.code %>:
		<% elsif (vote.is_up? and not change.is_flip?) or (vote.is_down? and change.is_flip?) %>
			<%= link_to tr("NO, I want to continue endorsing", "view/votes/_show"), :controller => "vote", :action => "no", :code => vote.code %>:
		<% end %>
	</b>
	<br/><%= link_to_unless_current h(change.priority.name), change.priority %>
	</div>
<% elsif not vote and not change.is_expired? %>
<p><%= tr("Only people endorsing or opposing this priority before the vote started get a vote.", "view/votes/_show")%><br/>
<% end %>

<% if vote and not ['declined','approved'].include?(vote.status) %>
	<p><%= tr("If you don't vote within {time_left}, and the proposal gets at least 70% of the vote, the acquisition will pass and your endorsement will be converted to {priority_name}. If it fails to receive a 70% super-majority, your endorsement will remain the same.", "view/votes/_show", :time_left => change.time_left, :priority_name => link_to(change.new_priority.name, change.new_priority))%>				
<% elsif not change.is_expired? %>
	<p><%= tr("If this proposal gets at least 70% of the vote, anyone who didn't vote will be converted to {priority_name}. If it fails to receive a 70% super-majority, nothing will happen.", "view/votes/_show", :time_left => change.time_left, :priority_name => link_to(change.new_priority.name, change.new_priority))%>
<% end %>