<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @page_title || current_government.name_with_tagline %></title>
<%= render :partial => "shared/description" %>
<%= render :partial => "shared/head" %>
<%= render :partial => "shared/javascripts" %>
<%= render :partial => "shared/css" %>
<%= render :partial => "color_schemes/css", :locals => {:id => current_government.color_scheme_id } %>
<%= render :partial => "shared/priority_processes_head" if controller_name.index("process") %>
<%= stylesheet_link_tag "newstuff" %>
<%= stylesheet_link_tag "gnew" %>
<%= stylesheet_link_tag "partners" %>
<%= javascript_include_tag "skuggathing" unless controller_name=="priority_processes" %>
<% if controller_name == "facebook" %>
<%= stylesheet_link_tag "fb_invite_hack.css" %>
<% end %>
<map name="Map" id="Map">
  <area shape="rect" coords="2,2,35,38" href="http://framsokn.skuggaborg.is/portal" alt="Framsóknarflokkurinn" />
  <area shape="rect" coords="40,1,84,39" href="http://sjalfstaedisflokkur.skuggaborg.is/portal" alt="Sjálfstæðisflokkurinn" />
  <area shape="rect" coords="84,2,121,37" href="http://reykjavikurframbod.skuggaborg.is/portal" alt="Reykjavíkurframboðið" />
  <area shape="rect" coords="123,0,165,39" href="http://frjalslyndir.skuggaborg.is/portal" alt="Frjálslyndi flokkurinn" />
  <area shape="rect" coords="202,1,241,38" href="http://samfylking.skuggaborg.is/portal" alt="Samfylkingin" />
  <area shape="rect" coords="165,2,202,37" href="http://vinstrigraen.skuggaborg.is/portal" alt="Vinstri hreyfingin grænt framboð" />
  <area shape="rect" coords="241,0,275,37" href="http://besti.skuggaborg.is/portal" alt="Besti flokkurinn" />
</map>
</head>
<body>


<%= blurb("header") %>

<div id="backgroundwrap">
	<div id="header">
		<div id="branding" style="height: 52px">
		<% if current_partner %>
		<div id="partner_image">
			<%= render :partial => "partners/logo" %>
		</div>
		
		<div id="parent_image" class="logo_small" style="float: right">
			<% if RAILS_ENV=="development"%>
				<%= link_to image_tag("skuggaborg_logo.png"), :controller=>"portal", :host=>"skuggaborg.is", :port=>3000 %>
			<% else %>
				<%= link_to image_tag("skuggaborg_logo.png"), :controller=>"portal", :host=>"skuggaborg.is" %>
			<% end %>
		</div>
		<% else %>
		<div id="parent_image" class="logo" style="float: left">
			<%= link_to image_tag("skuggaborg_logo.png"), :controller=>"portal" %>
		</div>
		
		
		<div id="parent_image" style="float: right" class="partner_image">
			<% Partner.with_logo.all.each do |partner| %>
			<% if RAILS_ENV=="development"%>
			  <%= link_to image_tag(partner.logo.url(:icon_107_16)), :controller=>"portal", :host=>"#{partner.short_name}.skuggaborg.is", :port=>3000 %>
			<% else %>
			  <%= link_to image_tag(partner.logo.url(:icon_107_16)), :controller=>"portal", :host=>"#{partner.short_name}.skuggaborg.is" %>
			<% end %>
		
		<% end %>
		</div>
		<% end %>
		<div id="party_logos">
			<img src="/images/party_logos.png" width="273" height="38" border="0" usemap="#Map" />

		</div>
	</div>
		<%= flash_div :warning, :notice, :error %>

		<%= render :partial => "ads/pick" %>
	</div>
	<div id="contentwrap">
		
		<%= render :partial => "shared/menu" %>
		
		<div id="content_text">
			<%= yield :layout %>
		</div>

	</div>
	<div id="sidebar">

		<% if logged_in? and current_user.warnings_count > 0 %>
		<div id="warning"><%= t('warnings.name', :count => current_user.warnings_count) %></div>
		<% end %>	

		<div id="top_right_column">

			<% if current_government.is_searchable? %>
			<%= render :partial => "shared/search" %>
			<% end %>

			<% if logged_in? %>
			<%= render :partial => "shared/notifications" %>
			<% else %>
			<%= render :partial => "shared/login" %>
			<% end %>

		</div>

		<% if logged_in? %>

		<div id="priority_column">
			<%= render :partial => "shared/your_priorities" %>
		</div>

		<%= render :partial => "shared/activated" %>

		<% else %>

		<div id="intro"><%= blurb("intro") %></div>
		<% if current_government.short_name == 'wh2' %>
		<%= render :partial => "shared/buzz" %>
		<% end %>

		<% end %>
		<%= render :partial => "shared/skuggathing" %>

	</div>
	<div class="push">
		
	</div>
</div>

<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/analytics" %>
<%= render :partial => "shared/facebook_footer" %>

</body>
</html>
