<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="is" lang="is" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @page_title || current_government.name_with_tagline %></title>
<%= render :partial => "shared/description" %>
<%= render :partial => "shared/head" %>
<%= render :partial => "shared/javascripts" %>
<%= render :partial => "shared/css" %>
<%= render :partial => "color_schemes/css", :locals => {:id => current_government.color_scheme_id } %>
<%= render :partial => "shared/priority_processes_head" if controller_name.index("process") %>
<%= stylesheet_link_tag "newstuff" %>
<%= stylesheet_link_tag "gnew" %>
<%= stylesheet_link_tag "partners" %>
<%= javascript_include_tag "skuggathing" unless controller_name=="priority_processes" %>
<% if controller_name == "facebook" %>
<%= stylesheet_link_tag "fb_invite_hack.css" %>
<% end %>
</head>
<body>


<%= blurb("header") %>

<div id="backgroundwrap">
	<div id="header">
		<div id="branding" style="height: 52px">
		<% if current_partner %>
		<div id="partner_image">
			<%= render :partial => "partners/logo" %>
		</div>
		<div id="parent_image" style="float: right">
			<%= link_to image_tag("skuggathing_logo.png"), :controller=>"portal", :host=>"skuggathing.is" %>
		</div>
		<% else %>
		<div id="parent_image" style="float: left">
			<%= link_to image_tag("skuggathing_logo.png"), :controller=>"portal" %>
		</div>
		<div id="parent_image" style="float: right">
			<% Partner.with_logo.all.each do |partner| %>
			<% if RAILS_ENV=="development"%>
			  <%= link_to image_tag(partner.logo.url(:icon_53_8)), :border => 0, :controller=>"portal", :host=>"#{partner.short_name}.skuggathing.is", :port=>3000 %>
			<% else %>
			  <%= link_to image_tag(partner.logo.url(:icon_53_8)), :border => 0, :controller=>"portal", :host=>"#{partner.short_name}.skuggathing.is", :port=>3000 %>
			<% end %>
			<br>
		<% end %>
		</div>
		<% end %>
	</div>
		<%= flash_div :warning, :notice, :error %>

		<%= render :partial => "ads/pick" %>
	</div>
	<div id="contentwrap">
		
		<%= render :partial => "shared/menu" %>
		
		<div id="content_text">
			<%= yield :layout %>
		</div>

	</div>
	<div id="sidebar">

		<% if logged_in? and current_user.warnings_count > 0 %>
		<div id="warning"><%= t('warnings.name', :count => current_user.warnings_count) %></div>
		<% end %>	

		<div id="top_right_column">

			<% if current_government.is_searchable? %>
			<%= render :partial => "shared/search" %>
			<% end %>

			<% if logged_in? %>
			<%= render :partial => "shared/notifications" %>
			<% else %>
			<%= render :partial => "shared/login" %>
			<% end %>

		</div>

		<% if logged_in? %>

		<div id="priority_column">
			<%= render :partial => "shared/your_priorities" %>
		</div>

		<%= render :partial => "shared/activated" %>

		<% else %>

		<div id="intro"><%= blurb("intro") %></div>
		<% if current_government.short_name == 'wh2' %>
		<%= render :partial => "shared/buzz" %>
		<% end %>

		<% end %>

	</div>
	<div class="push">
		
	</div>
</div>

<%= render :partial => "shared/footer" %>
<%= render :partial => "shared/analytics" %>
<%= render :partial => "shared/facebook_footer" %>

</body>
</html>
