<html>
    <head>
        <title>Aðildarviðræður Íslands við ESB | Samráðsvettvangur almennings og samninganefndar </title>
        <%= render :partial => "shared/javascripts" %>
        <%= stylesheet_link_tag "style" %>
		<%= stylesheet_link_tag "style_skuggi" %>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta http-equiv="Content-Language" content="EN" />
        <meta name="keywords" content="" />
        <meta name="author" content="dagny@blekhonnun.is" />
        <meta name="distribution" content="Global" />
        <meta name="copyright" content="" />
        <meta name="robots" content="" />
    </head>
    <body>
        <div id="Wrapper">
            <!-- Haus -->
            <div id="Header">
                <!-- Hægrasvæði í haus, geymir tilkynningar og táknmyndir, gætu orðið fleiri þarna -->         
			    <div id="header-right"><%= link_to image_tag("esb_dagbok_adal.jpg", :border => 0), :controller => "import", :action => "" %></div>
				<div id="search"><input value="Leitarorð" class="input" /><input type="submit" value="leita" /></div>				    
            </div>
			<!-- Vinstridálkur -->
            <div id="LeftCol">
                <!-- AOM obs: ekki viss hvar næstu tvær línur eiga að vera -->
				<%=flash[:notice]%><br>
				<%=flash[:error]%>				
				<!-- Persónuupplýsingar -->
				<div id="person">
				 <% if logged_in? %>
                    <%= render :partial => "shared/user_info" %>
                 <% else %>
                    <%= render :partial => "shared/login" %>
                 <% end %> 
				</div>
				<!-- Lúppa með iconum, þau má setja í css skjalið líka ef vill -->
                <ul class="action">
                    <li>
                        <%= link_to t('esb.create.priority'), "../priorities/new" %>
                    </li>
                    <li>
                         <%= link_to t('esb.create.question'), "../questions/new" %>
                    </li>
                    <li>
                         <%= link_to t('esb.create.document'), "../documents/new" %>
                    </li>
                </ul>
				<!-- Lúppa með rss -->
				<div class="left_box">
					<%= link_to image_tag("rss.gif", :border => 0, :align => "right"), :controller => "import", :action => "" %>
					<h4>Frá samninganefnd</h4>
					<ul>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">consectetur adipiscing elit.</a></li>
						<li><a href="#">Quisque sed enim sapien.</a></li>
						<li><a href="#">Praesent a quam lectus, vitae</a></li>
						<li><a href="#">interdum eros. Donec nec sem</a></li>
					</ul>		
				</div>
				<div class="left_box">
					<%= link_to image_tag("esb_rss.gif", :border => 0, :align => "right"), :controller => "import", :action => "" %>
					<h4>Af vefnum</h4>
					<ul>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">consectetur adipiscing elit</a></li>
						<li><a href="#">Quisque sed enim sapien.</a></li>
						<li><a href="#">Praesent a quam lectus, vitae</a></li>
						<li><a href="#">Interdum eros. Donec nec sem</a></li>
					</ul>		
				</div>
				<div class="left_box">	
					<%= link_to image_tag("facebook.gif", :border => 0, :align => "right"), :controller => "import", :action => "" %>
					<ul>
						<li>Þú getur tengt þig við Facebook aðganginn þinn eða sett inn mynd af þér beint á þennan vef</li>
					</ul>		
				</div>
            </div>
			<!-- Haus á miðjusvæði -->
			<div id="tabs">
				<ul id="right_tabs">
					<li><a href="#">Staða samnings</a></li>
					<li><a href="#">Ítarefni</a></li>
				</ul>
				<ul>
                     <li <%= controller_name=="news" ? "class='active'" : "" %>>
                     	<a href="/news/activities">Allt</a>
                     </li>
                     <li <%= controller_name=="priorities" ? "class='active'" : "" %>>
                        <a href="/priorities/newest">Umræður</a>
                     </li>
                     <li <%= controller_name=="questions" ? "class='active'" : "" %>>
                        <a href="/questions/newest">Spurningar og svör</a>
                     </li>
                     <li <%= controller_name=="documents" ? "class='active'" : "" %>>
                         <a href="/documents/newest">Umsagnir</a>
                     </li>
                 </ul>
              </div>
						
            <!-- Miðjusvæðið -->
            <div id="MainContent">
             
			 	<div id="subfilters">				
					<a href="#">Nýtt</a>
					<a href="#">Mín skrif</a>
				</div>
			 
                <div id="Content_wrapper">
                   
                    <div id="Content">
                    	<%=yield%>
                    </div>
                </div>
            </div>
            <!-- Hægridálkur -->
            <div id="RightCol">	
				 <!-- TODO -->
				<font color=red>aom todo: skipta upp köflum í:</font>
				<h4>Utan EES</h4>
				<h4>Að hluta í EES</h4>
				<h4>Í EES</h4>
				
                <!-- Lúppa með titli -->
                <ul>          
					<% Tag.find(:all, :order=>"weight").each do |tag|%>	
					<li>
						<%= link_to image_tag("esb_chapter_info.gif", :align => "right", :border => 0), :controller => "import", :action => "" %>
						<a href=""><%=tag.name%></a>
                    </li>
					<% end %>
                </ul>
            </div>
            <!-- Fótur síðunnar -->
            <div id="Footer">
                <div id="Footer-right">
                    <a href="#">Reglur</a>
                    <a href="#">Hjálp</a>
                    <a href="#">Osfr.</a>
                </div>
                <div id="Footer-left">
                    <a href="#">Hafðu samband</a>
                </div>
            </div>
        </div>
    </body>
</html>
