<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
        <title> <%= t('esb.title') %> </title>
        <%= render :partial => "shared/javascripts" %>
        <%= stylesheet_link_tag "style" %>
		<%= stylesheet_link_tag "style_skuggi" %>
		<%= stylesheet_link_tag "style_gg" %>
		<%= stylesheet_link_tag 'jquery-ui-1.7.2' %>

		<%= javascript_include_tag "jquery-ui-1.7.2.custom.min" %>
		<%= javascript_include_tag "jquery.validate.min" %>
		<%= javascript_include_tag "jquery.jgfeed-min" %>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="EN" />
        <meta name="keywords" content="" />
	
<!--
Vefur smíðaður af Íbúar.is fyrir Utanríkisráðuneytið á haustdögum 2010. 
http://ibuar.is - ibuar@ibuar.is
-->

</head>
    <body>
        <div id="Wrapper">
            <!-- Haus -->
            <%= render :partial => "shared/esb_header" %>
			<!-- Vinstridálkur -->
            <div id="LeftCol">
             					
				<!-- Persónuupplýsingar -->
				<div id="person">
				 <% if logged_in? %>
                    <%= render :partial => "shared/user_info" %>
                 <% else %>
                    <%= render :partial => "shared/login" %>
                 <% end %> 

				</div>
				<!-- Lúppa með iconum, þau má setja í css skjalið líka ef vill -->
				<%=render :partial=>"shared/left_nav"%>
				<!-- Lúppa með rss -->
				 <% if logged_in? %>
                <div class="left_box">
                </div>
				 <% end %>
                <div class="left_box">
                    <%= render :partial=>"shared/utn_rss" %>
                </div>
            </div>
			<!-- Haus á miðjusvæði -->
			<div id="tabs">
				<ul id="right_tabs">
					<li><%= link_to(t('esb.menu.treaty.label'),{:controller=>"treaty_documents", :action=>""}, :title=>t('esb.menu.treaty.mouseover'), :alt=>t('esb.menu.treaty.mouseover') )%></li>
					<li><%= link_to(t('esb.menu.alldocs.label'),{:controller=>"treaty_documents", :action=>"newest"}, :title=>t('esb.menu.alldocs.mouseover'), :alt=>t('esb.menu.alldocs.mouseover') ) %></li>
								
				</ul>
				<ul>
			<div id="left_tabs">
				     <li <%= controller_name=="news" ? "class='active'" : "" %>>
					<a href="/news/activities?r=1" title="<%=t('esb.menu.all.mouseover') %>"><%=t('esb.menu.all.label')%></a>
				     </li>
				     <li <%= controller_name=="questions" ? "class='active'" : "" %>>
					<a href="/questions/newest?r=1" title="<%=t('esb.menu.questionsanswers.mouseover')%>"><%=t('esb.menu.questionsanswers.label')%></a>
				     </li>
				     <li <%= controller_name=="priorities" ? "class='active'" : "" %>>
					<a href="/priorities/newest?r=1" title="<%=t('esb.menu.discussions.mouseover')%>"><%=t('esb.menu.discussions.label')%></a>
				     </li>
				     <li <%= controller_name=="documents" ? "class='active'" : "" %>>
					 <a href="/documents/newest?r=1" title="<%=t('esb.menu.documents.mouseover')%>"><%=t('esb.menu.documents.label')%></a>
				     </li>
			</div>
				</ul>
              </div>
						
            <!-- Miðjusvæðið -->
            <div id="MainContent">
            	 
			 	<% unless controller_name=="users" or controller_name=="settings" %>
					<div id="rss_feed">
						<%= render :partial => "shared/rss_feed" %>
					</div>
				 	<div id="subfilters">				
						<%= render :partial=>"shared/subfilters" %>
					</div>
				<% end %>
				
				<% if session[:selected_tag_name] %>
            	<h2>
	            	<%=session[:selected_tag_name] %>
            	</h2>		
				<% end %>
			 
                <div id="Content_wrapper">
             	<%=flash[:notice]%>
				<%=flash[:error]%>	      
                    <div id="Content">
                    	<%=yield%>
                    </div>
                </div>
            </div>
            <!-- Hægridálkur -->
            <div id="RightCol">	
				 <!-- TODO -->
                <!-- Lúppa með titli -->
<!--				<% if session[:selected_tag_name]%>
				<div class="AllaKafla">
					<a href="/velja_kafla/-1?controller_name=<%=controller_name%>">Sjá alla kafla</a><b/>
				</div>
				<% end %>
-->

<h4 class="samningskaflar">Samningskaflar</h4>
				<h4 title="<%= t('esb.tag_type.notin.mouseover')%>"><%= t('esb.tag_type.notin.label')%></h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 3", :order=>"weight").each do |tag|%>	
					<li>
						<a href="#" onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"><%=image_tag("esb_chapter_info.gif", :border=>0)%></a>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_utan"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_utan"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
				<h4 title="<%= t('esb.tag_type.partly.mouseover')%>"><%= t('esb.tag_type.partly.label')%></h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 2", :order=>"weight").each do |tag|%>	
					<li>
						<a href="#" onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"><%=image_tag("esb_chapter_info.gif", :border=>0)%></a>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_hluta"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_hluta"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
				<h4 title="<%= t('esb.tag_type.within.mouseover')%>"><%= t('esb.tag_type.within.label')%></h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 1", :order=>"weight").each do |tag|%>	
					<li>
						<a href="#" onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"><%=image_tag("esb_chapter_info.gif", :border=>0)%></a>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
					<h4 title="<%= t('esb.tag_type.other.mouseover')%>"><%= t('esb.tag_type.other.label')%></h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 4", :order=>"weight").each do |tag|%>	
					<li>
						<a href="#" onclick="showTreatyDocumentChapterWindow('<%=tag.external_id%>')"><%=image_tag("esb_chapter_info.gif", :border=>0)%></a>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
            </div>
            <!-- Fótur síðunnar -->
            <%= render :partial => "shared/esb_footer" %>
						
            </div>
        </div>
		<script type="text/javascript">
			jQuery("input#search-id").DefaultValue("Leitarorð...");
		</script>
		<%=render :partial=>"treaty_documents/popup_window" %>
        <%= render :partial => "shared/facebook_footer" %>
    </body>
</html>
