<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>Aðildarviðræður Íslands við ESB | Samráðsvettvangur almennings og samninganefndar </title>
        <%= render :partial => "shared/javascripts" %>
        <%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "style_skuggi" %>
		<%= stylesheet_link_tag "style_gg" %>

	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
        <meta http-equiv="Content-Language" content="EN" />
        <meta name="keywords" content="" />

</head>
    <body>
        <div id="Wrapper">
            <!-- Haus -->
            <div id="Header">
                <!-- Hægrasvæði í haus, geymir tilkynningar og táknmyndir, gætu orðið fleiri þarna -->         
			    <div id="header-right"><%= link_to image_tag("esb_dagbok_adal.jpg", :border => 0), :controller => "import", :action => "" %></div>
				<div id="search">
				<%=form_tag "/leita", :method=>"get"%>
					<input id="search-id" type="text" name="q"/>
					<input type="submit" value="leita" class="leita" />
				</form>					
				</div>				    
            </div>
			<!-- Vinstridálkur -->
            <div id="LeftCol">
                <!-- AOM obs: ekki viss hvar næstu tvær línur eiga að vera -->
				<%=flash[:notice]%><b/>
				<%=flash[:error]%>				
				<!-- Persónuupplýsingar -->
				<div id="person">
				 <% if logged_in? %>
                    <%= render :partial => "shared/user_info" %>
                 <% else %>
                    <%= render :partial => "shared/login" %>
                 <% end %> 
				</div>
				<!-- Lúppa með iconum, þau má setja í css skjalið líka ef vill -->
                <ul class="action">
                    <li>
                         <%= link_to t('esb.create.question'), "/senda_spurningu" %>
                    </li>
                    <li>
                        <%= link_to t('esb.create.priority'), "/taka_thatt" %>
                    </li>
                    <li>
                         <%= link_to t('esb.create.document'), "/senda_erindi" %>
                    </li>
                </ul>
				<!-- Lúppa með rss -->
				<div class="left_box">
					<%= link_to image_tag("rss.gif", :border => 0, :align => "right"), :controller => "import", :action => "" %>
					<h4>Frá samninganefnd</h4>
					<ul>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">consectetur adipiscing elit.</a></li>
						<li><a href="#">Quisque sed enim sapien.</a></li>
						<li><a href="#">Praesent a quam lectus, vitae</a></li>
						<li><a href="#">interdum eros. Donec nec sem</a></li>
						<li><a href="#">Praesent a quam lectus, vitae</a></li>
						<li><a href="#">interdum eros. Donec nec sem</a></li>
					</ul>		
				</div>
<!--
				<div class="left_box">
					<%= link_to image_tag("rss.gif", :border => 0, :align => "right"), :controller => "import", :action => "" %>
					<h4>Af vefnum</h4>
					<ul>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">consectetur adipiscing elit</a></li>
						<li><a href="#">Quisque sed enim sapien.</a></li>
						<li><a href="#">Praesent a quam lectus, vitae</a></li>
						<li><a href="#">Interdum eros. Donec nec sem</a></li>
					</ul>		
				</div>
-->
				<div class="left_box">	
					<ul>
						<li>Þú getur tengt þig við Facebook aðganginn þinn eða <a href="/settings/picture">sett inn mynd</a> af þér.
											<%= link_to image_tag("facebook.gif", :border => 0, :align => "left"), :controller => "import", :action => "" %></li>

					</ul>		
				</div>
            </div>
			<!-- Haus á miðjusvæði -->
			<div id="tabs">
				<ul id="right_tabs">
					<li><%= link_to "Staða viðræðna", :controller=>"treaty_documents", :action=>"" %></li>
					<li><a href="#">Nýtt efni</a></li>
				</ul>
				<ul>
			<div id="left_tabs">
				     <li <%= controller_name=="news" ? "class='active'" : "" %>>
					<a href="/news/activities">Allt</a>
				     </li>
				     <li <%= controller_name=="priorities" ? "class='active'" : "" %>>
					<a href="/umraedur">Umræður</a>
				     </li>
				     <li <%= controller_name=="questions" ? "class='active'" : "" %>>
					<a href="/questions/newest">Spurningar og svör</a>
				     </li>
				     <li <%= controller_name=="documents" ? "class='active'" : "" %>>
					 <a href="/documents/newest">Erindi</a>
				     </li>
			</div>
				</ul>
              </div>
						
            <!-- Miðjusvæðið -->
            <div id="MainContent">
            	<% if session[:selected_tag_name] %>
            	<div id="selected_tag">
	            	<%=session[:selected_tag_name] %>
            	</div>		
				<% end %>
             
			 	<div id="subfilters">				
					<%= render :partial=>"priorities/subfilters" %>
				</div>
			 
                <div id="Content_wrapper">
                   
                    <div id="Content">
                    	<%=yield%>
                    </div>
                </div>
            </div>
            <!-- Hægridálkur -->
            <div id="RightCol">	
				 <!-- TODO -->
                <!-- Lúppa með titli -->
				<% if session[:selected_tag_name]%>
					<a href="/velja_kafla/-1?controller_name=<%=controller_name%>">Skoða alla kafla</a><b/>
				<% end %>
				<h4>Utan EES</h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 1", :order=>"weight").each do |tag|%>	
					<li>
						<%= link_to image_tag("esb_chapter_info.gif", :align => "left", :border => 0), :controller => "import", :action => "" %>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_utan"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_utan"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
				<h4>Að hluta í EES</h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 2", :order=>"weight").each do |tag|%>	
					<li>
						<%= link_to image_tag("esb_chapter_info.gif", :align => "left", :border => 0), :controller => "import", :action => "" %>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_hluta"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_hluta"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
				<h4>Í EES</h4>
                <ul>          
					<% Tag.find(:all, :conditions=>"tag_type = 3", :order=>"weight").each do |tag|%>	
					<li>
						<%= link_to image_tag("esb_chapter_info.gif", :align => "left", :border => 0), :controller => "import", :action => "" %>
						<% if session[:selected_tag_name] and tag.name==session[:selected_tag_name]%>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><b><%=tag.name%></b></a>
						<% else %>
							<a href="/velja_kafla/<%=tag.name%>?controller_name=<%=controller_name%>" class="chapter_innan"><%=tag.name%></a>
						<% end %>
                    </li>
					<% end %>
                </ul>
            </div>
            <!-- Fótur síðunnar -->
            <div id="Footer">
                <div id="Footer-right">
                    <a href="#">Reglur</a>
                    <a href="#">Hjálp</a>
                    <a href="#">Osfr.</a>
                </div>
                <div id="Footer-left">
                    <a href="#">Hafðu samband</a>
                </div>
            </div>
        </div>
		<script type="text/javascript">
			jQuery("input#search-id").DefaultValue("Leitarorð...");
		</script>
    </body>
</html>
