<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>Aðildarviðræður Íslands við ESB | Samráðsvettvangur almennings og samninganefndar </title>
        <%= render :partial => "shared/javascripts" %>
        <%= stylesheet_link_tag "style" %>
        <%= stylesheet_link_tag "style_skuggi" %>
        <%= stylesheet_link_tag "style_gg" %>
        <%= stylesheet_link_tag 'jquery-ui-1.7.2' %>
        <%= javascript_include_tag "jquery-ui-1.7.2.custom.min" %>
        <%= javascript_include_tag "jquery.jgfeed-min" %>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="EN" />
        <meta name="keywords" content="" />
    </head>
    <body>
        <div id="Wrapper">
            <!-- Haus --><%= render :partial => "shared/esb_header" %>
            <!-- Vinstridálkur -->
            <div id="LeftCol">
                <!-- Persónuupplýsingar -->
                <div id="person">
                    <% if logged_in? %>
                    <%= render :partial => "shared/user_info" %>
                    <% else %>
                    <%= render :partial => "shared/login" %>
                    <% end %>
                </div>
                <!-- Lúppa með iconum, þau má setja í css skjalið líka ef vill -->
				<%=render :partial=>"shared/left_nav"%>
                <!-- Lúppa með rss -->
                <div class="left_box">
                    <% if logged_in? %>
                    <%= render :partial=>"shared/facebook" %>
                    <% end %>
                </div>
                <div class="left_box">
                    <%= render :partial=>"shared/utn_rss" %>
                </div>
                <div class="left_box">
                </div>
            </div>
            <!-- Haus á miðjusvæði -->
            <div id="tabs">
                <ul id="right_tabs">
                    <li<%= controller_name=="treaty_documents" && @active!="newest" ? " class='active'" : "" %>>
                        <%= link_to "Staða viðræðna", :controller=>"treaty_documents" %>
                    </li>
                    <li<%= @active=="newest" ? " class='active'" : "" %>>
                        <%= link_to "Nýtt efni", :controller=>"treaty_documents", :action=>"newest" %>
                    </li>
                </ul>
                <ul>
                    <div id="left_tabs">
				     <li <%= controller_name=="news" ? "class='active'" : "" %>>
					<a href="/news/activities?r=1" title="<%=t('esb.menu.all.mouseover') %>"><%=t('esb.menu.all.label')%></a>
				     </li>
				     <li <%= controller_name=="questions" ? "class='active'" : "" %>>
					<a href="/questions/newest?r=1" title="<%=t('esb.menu.questionsanswers.mouseover')%>"><%=t('esb.menu.questionsanswers.label')%></a>
				     </li>
				     <li <%= controller_name=="priorities" ? "class='active'" : "" %>>
					<a href="/priorities/newest?r=1" title="<%=t('esb.menu.discussions.mouseover')%>"><%=t('esb.menu.discussions.label')%></a>
				     </li>
				     <li <%= controller_name=="documents" ? "class='active'" : "" %>>
					 <a href="/documents/newest?r=1" title="<%=t('esb.menu.documents.mouseover')%>"><%=t('esb.menu.documents.label')%></a>
				     </li>
			</div>
                </ul>
            </div>
            <!-- Miðjusvæði -->
            <div id="mainContentExpanded">
                <h2>Staða viðræðna og skjöl</h2>
		
                <!-- Aðal textasvæði -->
                <div id="content">
                    <%=yield %>
                </div>
            </div>
            <!-- Fótur síðunnar -->
            <%= render :partial => "shared/esb_footer" %>
            <%=render :partial=>"treaty_documents/popup_window" %>
        </div>
        <%= render :partial => "shared/facebook_footer" %>
    </body>
</html>
